[2021-08-24 13:47] discdiver opened #190 "docs website navbar header blocks page text at a breakpoint"
See screenshot below. On Chrome Version 92.0.4515.159 (Official Build) (x86_64) on Mac desktop

![Screen Shot 2021-08-24 at 9 42 35 AM](https://user-images.githubusercontent.com/7703961/130627653-8f909dc7-582d-4c4e-8257-b32776e6370b.png)

Cool package! Thank you for it.

[2021-08-24 15:01] raphaelvallat commented on #190
Thanks for opening the issue. It seems like this could be fixed with: https://stackoverflow.com/questions/23211695/modifying-content-width-of-the-sphinx-theme-read-the-docs

[2021-08-26 16:33] AHEsmaeili opened #192 "TypeError thrown by pairwise-ttests"
Ever since I updated to version 0.4.0, _pairwise-ttests_ throws this error:

`TypeError: ttest_rel() got an unexpected keyword argument 'alternative'`

All of my tests ran fine under version 0.3.10. I also used some of the examples from the function, with similar results.

This is the first time I'm opening an issue, so please tell me if there's anything else I can provide.

[2021-08-26 20:56] #192 closed, assigned to raphaelvallat

[2021-09-12 10:22] krassowski opened #194 "Runtime warnings and no p-values for perfect partial spearman correlations"
This is similar to #183, but possibly more important to fix as perfect spearman correlations may result in misleading results:

[code]

It works fine for `method='pearson'`.

- `pg.__version__`: 0.4.0
- `np.__version__`: 1.20.3

As in #183, it would be nice if it worked consistently and did not raise a warning for perfect correlations.

[2021-09-12 10:23] krassowski commented on #183
I just realised that I have not thanked you for the quick fix earlier, so: thank you!

I also opened a new issue for a similar problem in 0.4.0 in partial correlations.

[2021-09-13 17:42] musicinmybrain opened #195 "TestCorrelation::test_corr fails on some platforms"
I’m helping to update the `python-pingouin` package in Fedora Linux. One test, `TestCorrelation::test_corr`, is failing on some platforms because what should theoretically be a perfect unity correlation is coming out two or three ulps short:

[code]

This happens when the tests are executed on an `aarch64`, `ppc64le`, or `s390x` platform. (On `ppc64le` and `s390x`, the correlation is 0.99999999999

[2021-09-13 18:27] musicinmybrain opened #196 "TestRegression::test_linear_regression fails on 32-bit ARM"
I’m helping to update the `python-pingouin` package in Fedora Linux. One test, `TestRegression::test_linear_regression`, is failing on `armv7hl` (32-bit ARM) because an expected warning is not produced:

[code]

The line after the with-statement is:

[code]

At this time, I have not tried to look deeper into why this happens only on 32-bit ARM and not on the other platforms supported by Fedora.

[2021-09-13 19:05] musicinmybrain opened #197 "TestParametric::test_pandas fails with dtype mismatch on 32-bit platforms"
I’m helping to update the `python-pingouin` package in Fedora Linux. One test, `TestParametric::test_pandas`, is failing on 32-bit platforms (`i686` and `armv7hl`). I can’t easily tell if the actual problem here is in `pingouin`, `pandas`, or somewhere else (`scipy`, `pandas-flavor`, …).

[code]

On 32-bit Linux platforms, `long long` is normally 64-bit but `intp_t` is 32-bit, which explains what

[2021-09-15 16:47] raphaelvallat commented on #194
Thanks @krassowski! Should be an easy fix. When you say _"perfect spearman correlations may result in misleading results"_, do you mean that because p-value is currently NaN? Thanks

[2021-09-15 17:01] krassowski commented on #194
Yes.

[2021-09-15 17:22] raphaelvallat commented on #195
Hi @musicinmybrain,

Interesting — thanks for opening the issue and helping with this! I think it is definitely a platform-dependent rounding error so we should use `np.isclose(stats.at['pearson', 'r'], 1)` instead of the strict `==`.

Raphael

[2021-09-15 17:30] musicinmybrain commented on #195
Makes sense to me. You could, if you like, add an additional test for `stats.at['pearson', 'r'] <= 1'`, since a high-quality implementation shouldn’t be producing correlations outside `[-1, 1]` no matter how the rounding happens to work out.

[2021-09-15 17:37] raphaelvallat commented on #196
Thanks! I cannot replicate this error on my Mac, but my guess is that it is related to the `cond` parameter of the [scipy.linalg.lstsq](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.lstsq.html) function (which is used to calculate the matrix rank). Can you check the following lines:

[code]

Also, which version of NumPy and SciPy are you using? The default behavior of ``cond``

[2021-09-15 17:42] musicinmybrain commented on #196
I was testing this in the development version of Fedora (Rawhide), so NumPy was at 1.21.1 and SciPy was at 1.7.0.

I’ll try to replicate with the snippet you posted, first in a Python REPL in a 32-bit chroot on an 64-bit ARM machine. If that doesn’t get anywhere, I’ll add it as a scriptlet in the RPM spec file and do a scratch build to execute it on one of Fedora’s 32-bit ARM builders.

[2021-09-15 17:45] raphaelvallat commented on #197
Hi @musicinmybrain,

It seems like the error is in Pandas, specifically when calling `pandas.DataFrame.corr(method="spearman")`. Maybe there is an invalid type change when calculating the ranks for the Spearman correlation? Anyway, I'm not sure there's anything we can do in the source code of Pingouin to fix this. For reference, the issue comes from this line:

https://github.com/raphaelvallat/pin

[2021-09-15 17:49] musicinmybrain commented on #197
Thanks. I’ll try to run down a reproducible example involving only Pandas when I have more time to dig into it. If I can get that far, I should be able to find the root cause and propose a fix for Pandas. It might take a little while, though.

[2021-09-15 18:02] musicinmybrain commented on #196
I forgot `aarch64` isn’t a superset of `armv7hl`/`armhfp`, so instead I used qemu emulation on `x86_64`. Anyway, with 32-bit ARM:

[code]

Compare to `aarch64`, 64-bit ARM:

[code]

[2021-09-15 18:59] musicinmybrain commented on #197
Wow, that was easy.

On a 64-bit platform:
[code]

On a 32-bit platform:
[code]

Definitely a Pandas bug. I’ll report it upstream there, and perhaps work on a fix.

[2021-09-21 10:00] krassowski opened #198 "Partial correlations out of range when variance = 0"
The following reproducer:

[code]

gives a value of `6.754645467173336` with `pingouin` 0.4.0. I encountered this behaviour (giving out of range coefficients) in the wild when I accidentally forgot to remove variables with no variance.

To ensure that incorrect results like that don't get published, I would:
- add a check on the data verifying that `var() != 0` prior to running computations; not s

[2021-09-21 18:57] raphaelvallat commented on #198
Thanks for spotting this @krassowski! We indeed to fix this ASAP. I've checked the behavior of the original R implementation ([ppcor](https://github.com/cran/ppcor/blob/master/R/ppcor_v1.01.R): it gives a warning ("_In cov2cor(icvx) : diag(.) had 0 or NA entries; non-finite result is doubtful_") and return NaN in the partial correlation matrix for all the rows and columns with the zero-variance va

[2021-09-21 20:43] raphaelvallat commented on #198
That's a good point, let's do a warning for the latter and a ValueError for the former! Do you want to submit a PR? Otherwise I can also work on this later this week.  Thanks again, appreciate your help!

[2021-09-22 16:23] kimhoney98 opened #199 "About pingouin.mixed_anova function: handling subjects who completed only session-1"
I wanted to run 2x2 mixed ANOVA test with the result of an experiment. In the experiment, subjects are divided into 2 unequal groups, and a dependent variable was measured before and after some treatment (say session-1 & session-2) for both group. The problem is that we have only session-1 data for some participants because they quit midway. Thus, the number of measurements per each group and sess

[2021-09-23 13:50] musicinmybrain commented on #196
For now I’m planning to skip the linear regression test on 32-bit ARM. Let me know if there is anything I can do to help deal with this more precisely.

[2021-09-23 13:55] musicinmybrain commented on #197
When Pandas 1.3.4 is released, it should contain the fix for this bug.

[2021-09-23 20:42] krassowski commented on #198
I may or may not have time for a PR this weekend; I came here to note that I also see out-of-range correlation coefficients like -597.147265 or 515.407608 on a large matrix without the zero variance issue which is more concerning.

I tested with R ppcor and on the same data it does NOT have this issue. It does return values out of -1, +1 range but those are floating point precision issues (e.g. I

[2021-09-23 20:44] krassowski commented on #198
I cannot share this dataset, but I can debug in the future (probably mid-October). Or maybe I will be lucky and reproduce it incidentally on another smaller dataset.

[2021-09-23 20:57] krassowski commented on #198
Here is a small, but possibly not that helpful reproducer:

[code]

The funny thing is that it works fine when `random_columns = 1100` but `random_columns = 1101` or above triggers this issue. I mean, yes this is not a well defined case when n < p, but why doesn't it happen earlier?

[2021-09-24 01:09] raphaelvallat commented on #199
Hi @khoney98,

Would you be able to post here 1) the dataset, 2) your code, 3) a reproducible example in another statistical software, e.g. JASP or R, 4) all of the above but when removing any participants with missing data at one of the two sessions?

Thanks,
Raphael

[2021-09-24 01:38] raphaelvallat commented on #198
Hi @krassowski,

I found the culprit! The issues comes from [`np.linalg.pinv`](https://numpy.org/doc/stable/reference/generated/numpy.linalg.pinv.html) which does not give the same output as R [`ginv`](https://www.rdocumentation.org/packages/MASS/versions/7.3-54/topics/ginv). However, using [`scipy.linalg.pinv`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.pinv.html) (Scipy 1.

[2021-09-24 10:59] krassowski commented on #198
Great to hear that! If it is convenient for you to cut a release with a fix I am happy to put it into some more real-world data testing :)

[2021-09-24 18:47] raphaelvallat commented on #198
Great! Just for reference, we'll also need to update `pinv` in [`pingouin.partial_corr`](https://pingouin-stats.org/generated/pingouin.partial_corr.html):

https://github.com/raphaelvallat/pingouin/blob/5f02c06286ed4b118506790e4c66445ce6f891fb/pingouin/correlation.py#L836

[2021-09-27 06:54] khoney98 commented on #199
Hello,

Thanks to the reply and sorry for my late reply.
Would it be okay to send datasets to you personally, either by message (don't know whether it works here) or by email? Since those are personal information, I feel reluctant to post them publicly here.

Thank you!

[2021-09-27 17:33] raphaelvallat commented on #199
Hi @khoney98,

Please feel free to send me the dataset via email (raphaelvallat9@gmail.com). However, for traceability, it would be great if you could post here the _output_ of the analysis in Pingouin, R or JASP (but I also understand if this is not possible).

Please also make sure that your Python / R code is as clean and concise as possible and will work right out of the box with the data you

[2021-09-28 12:43] khoney98 commented on #199
There were many dependent variables, and I chose 4 dependent variables that differ significantly between R and pingouin (dep_var1-4) and those that do not differ significantly (dep_var5-8)

Pingouin code (below is for nonremoved file only, but ran the same code for removed file):

import pingouin as pg
import pandas as pd
from pingouin import mixed_anova, read_dataset

path = "C:\\Users\\USER\\Des

[2021-09-30 00:50] raphaelvallat commented on #199
Hi @khoney98,

I just had a look at the data/code. There are two separate issues:

1) You were right that Pingouin's current behavior is wrong. The ANOVA should remove the participant with a single timepoint, leading to a degree of freedom of 37 (= 39/49 participants have data at both time points). This is what JASP and R are doing by default. Pingouin however fails to do that, and therefore retur

[2021-10-01 14:44] khoney98 commented on #199
Thank you for the detailed reply. Have a nice day!

Thanks,
khoney98

[2021-10-07 10:39] MashRoofa opened #200 "p-GG-corr for Interaction in mixed anova procedure retruns NaN"
Hello, im just curious if the result i get is normal or due to an error. My data is provided in a long format to the procedure and i ensured that there are no NaN values in the dependent variable.

I have one within factor (VIS_TYPE) with 6 categories and one between factor (WM) with 3 categories.

Sphericity was not assumed for the within factor categories therefore i wanted to interpret the Gree

[2021-10-07 18:11] htwangtw opened #201 "Acceptable value for pandas.DataFrame header deemed illegal in pingouin"
I encountered the issue when passing a data frame with integer as headers.
I am not sure why pingouin set up this constraint.

Maybe this can be convert to a warning?

[2021-10-07 20:00] raphaelvallat commented on #200
Hi @MashRoofa,

The output is expected. The sphericity and Greenhouse-Geisser correction are only calculated for the within-subject factor (`VIS_TYPE`). It is thus expected that Pingouin returns NaN for the between-subject factor (`WM`) and interaction. In your case, you can see tha the p-GG-corr of the within-subject factor is <0.05 so the main within-factor effect is still significant after corr

[2021-10-07 21:47] smeisler opened #202 "[feature request / question] returning residuals from partial correlation"
Hello,

I am running partial correlations on pingouin 0.4.0, and would like to make a plot similar to the `plot_skipped_corr` (which is now deprecated), but instead of plotting [X vs Y] with the regression line, I would want to plot [X vs residuals of Y] after regressing out covars, along with the best fit line. I wouldn't necessarily need a fully automated plot tool like `plot_skipped_corr`, but

[2021-10-07 22:27] smeisler commented on #202
Thanks for the quick reply! I’ll try this out and see if everything looks like it matches up. I’ll reopen in the case that the correlation and regression fits are worryingly different.

[2021-10-07 22:27] #202 closed

[2021-10-07 23:57] htwangtw commented on #201
I would suggest to check if values passed to parameter `x`, `y`, `covar` exist in `data` header

[2021-10-08 08:16] MashRoofa commented on #200
Hi @raphaelvallat,

I appreciate the reply.

Im fairly new to statistics so please correct me if Im wrong.

Currently Im following a tutorial on SPSS (Tutorial offered by Laerd Statistics) and Im trying to apply what Im learning on Python, since the current project I'm working on requires that Python is used. Below (see attached image) you can see one part of the results captured when performing T

[2021-10-09 15:34] raphaelvallat commented on #200
You're. not wrong — unfortunately the GG correction for the interaction is not implemented in Pingouin at this stage. I would therefore recommend sticking to SPSS or JASP for a free alternative.

Thanks!
Raphael

[2021-10-10 17:02] krassowski commented on #198
Thank you!

[2021-10-12 19:14] adam2392 opened #203 "Implementation of McNemar-Bowker test"
The current implementation for McNemar's test assumes a 2x2 contingency table. Is it possible and feasible to add an implementation of McNemar-Bowker test for multiple categories?

[2021-10-19 17:45] raphaelvallat commented on #197
Perfect, let us know. However, we'll have to wait at least a few months before updating the dependencies to pandas>=1.3.4

[2021-10-20 22:41] StephenB1289 opened #204 "Homoscedasticity is Incorrectly Calculated for Wide-Format DataFrames"
Hello,

First, thanks for this great package! It's been great to use in place of scipy.stats and statsmodels.

It seems the following part of the homoscedasticity function (lines 342 - 347 in distribution.py) performs incorrectly:
[code]

As it passes the data to SciPy in the incorrect shape. For a DataFrame with M rows and N columns, it passes M arrays of length N instead of N arrays of length M.

[2021-10-21 08:10] dalensis opened #205 "Implementation of cld (compact letter display) on the output of pairwise comparisons."
First, I would like to thank for this exceptional library.
I wanted to use the R cld function on the output of the pg.pairwise comparisons ttest and gameshowell and I realized there is none in use in python.
So i wrote this code that makes the works and wanted to share it. Feel free to correct or ameliorate it when necessary.

[code]

[2021-10-22 01:58] StephenB1289 commented on #204
Awesome, thanks again for your hard work on this!

[2021-10-22 03:13] raphaelvallat commented on #204
Done in 7aef6887b2ec798a4d7ee6bd5c36291369c58c15

[2021-10-23 17:39] raphaelvallat opened #206 "BUGFIX v0.5.0 - Handling of missing values in repeated measurements"
:bangbang: | This issue explains a critical bug that will be fixed in Pingouin v0.5.0. Please read carefully, and make sure to double check all your results with another statistical software.
:---: | :---

### One-way repeated measures ANOVA

Let's create a repeated measures dataset, in three different formats:

[code]

![image](https://user-images.githubusercontent.com/25703792/138565129-25b5bfd5

[2021-10-28 23:13] raphaelvallat opened #207 "pingouin-stats.org unavailable"
I'm experiencing some DNS issue with pingouin-stats.org. Please use the following temporary link to access the documentation:

https://s3.us-east-1.amazonaws.com/pingouin-stats.org/index.html

[2021-10-30 16:34] raphaelvallat commented on #207
Fixed: https://pingouin-stats.org/

[2021-10-30 16:35] #207 closed

[2021-11-02 14:21] thomas-haslwanter opened #208 "Naming of return-values for T-tests etc"
some of the names of the returned dataframe for the function `result = pg.ttest(data)` are unfortunately named, since it does not comply with the naming conventions for variables.
As a result, some parameters can be read out with e.g.
`result.dof`
while those with the non-compliant names can only be accessed with square brackets:
`result['p-value']`

It would be highly desirable to have names that

[2021-11-02 15:06] raphaelvallat commented on #208
Thanks @thomas-haslwanter, I agree and I've been wanting to fix this in the next release. We simply need to replace all the "-" in variable names with a "_", e.g. "p-unc" -> "p_unc".

I'll implement that in the next release,

Thanks,
Raphael

[2021-11-02 20:34] thomas-haslwanter commented on #208
Don't forget to change the 'CI95%' to 'CI95', since the "%"-sign also causes problems.

[2021-11-10 10:45] michalkahle opened #209 "pairwise_nonparametric()"
Hi, I was looking for non-parametric pairwise tests and only found the parameter `parametric=False` of the `pairwise_ttests()` after some time from the flowcharts. This seems confusing to me. I'd suggest adding function `pairwise_nonparametric()` for this purpose mainly because of discoverability and  clarity. Also pls note that the documentation to `pairwise_ttests()` just says: "Pairwise T-tests

[2021-11-10 11:32] thomas-haslwanter commented on #208
And one more thing here: parameters that return a single float should not be returned as a pandas Series object, but simply as a float.
For example, the p-value of the test
`result = pg.ttest(before, after)`
currently has to be retrieved as
`result['p-value']['T-test']`
This should be simplified to
`result.pval`

[2021-11-11 00:38] raphaelvallat commented on #208
Hi @thomas-haslwanter,

This would mean returning the output of most Pingouin functions as a pandas.Series instead of a pandas.DataFrame. While it would be indeed simpler to access the value, I think that the Series output in Jupyter notebook is less easy-to-read than a traditional DataFrame. This is quite a big conceptual modification, so we should discuss that in a separate issue and maybe do a

[2021-11-11 00:42] raphaelvallat commented on #209
Hi @michalkahle,

Thanks for opening the issue. I am more in favor of improving the current documentation rather than creating a whole new function. The reason for that is that the `pairwise_ttests` function is one of the longest / more complicated function in Pingouin, and I think it would be messy to duplicate 99% of it just to eventually change one line of code related to which lower-level test

[2021-11-11 08:34] michalkahle commented on #209
I thought about creating a new function but just calling the old one with
`parametric=False`. But I like renaming it to `pairwise_tests` even better.
The `pairwise_ttests` would be retained but just give a deprecation warning
and call `pairwise_tests`. Documentation would be updated to reflect the
various tests that could be performed in pairwise fashion. What do you
think?

On Thu, 11 Nov 2021 at

[2021-11-11 08:36] michalkahle commented on #209
I thought about creating a new function but just calling the old one with
`parametric=False`. But I like renaming it to `pairwise_tests` even better.
The `pairwise_ttests` would be retained but just give a deprecation warning
and call `pairwise_tests`. Documentation would be updated to reflect the
various tests that could be performed in pairwise fashion. What do you
think?

[2021-11-11 09:50] thomas-haslwanter commented on #208
When thinking it though I actually agree with you: using a pd.DataFrame for the result really makes the results MUCH clearer, and should therefore be kept. Either way, thank you for the quick reply!

[2021-11-12 02:25] raphaelvallat commented on #209
That sounds great!

[2021-11-14 05:18] shenganzhang opened #211 "Testsuite failure"
`pingouin/tests/test_regression.py` can run into problems when executing one of the following commands:
`pytest --flake-finder --flake-runs=2`
`pytest --randomly-seed=1234`

[2021-11-15 02:42] renatoparedes opened #212 "Implement power analysis for kendall correlation coefficient"
Hello,

I'd like to contribute implementing a power analysis function for the kendall correlation coefficient based on this [paper](https://www.hilarispublisher.com/open-access/sample-size-charts-of-spearman-and-kendall-coefficients.pdf). The article also provides calculations computed with the SAS software which can be used for testing.

Please let me know what do you think.

Cheers,

Renato

[2021-11-15 14:18] dalensis commented on #205
Updated the script,
bests

[2021-11-17 18:04] raphaelvallat commented on #212
Hi @renatoparedes,

Thank you! Do you think this could be easily integrated into the [power_corr](https://pingouin-stats.org/generated/pingouin.power_corr.html) function? My preferred way would be to add a `method` argument to this function, which would accept either "pearson" (default), "spearman" or "kendall", e.g. `power_corr(..., method="kendall")`.

Thanks,
Raphael

[2021-11-17 18:05] raphaelvallat commented on #211
Hi,

I am not familiar with these CLI options. Could you please copy-paste the error here?

Thanks,
Raphael

[2021-11-21 04:17] shenganzhang commented on #211
[code]

[2021-11-23 15:14] jeanbaptisteb opened #213 "add a "sample_weights" parameter to pingouin.chi2_independence"
Hi,

It would be great to add the sample weights as a parameter to https://pingouin-stats.org/generated/pingouin.chi2_independence.html.

Currently, it's possible to use a workaround if the sample weights are integers (1, 2, 3, etc.), by simply duplicating rows based on their weight values (see https://stackoverflow.com/questions/32792263/duplicate-row-based-on-value-in-different-column for an exa

[2021-11-23 15:31] jeanbaptisteb commented on #213
@raphaelvallat  As an additional comment, if you have nothing in principle against adding this feature, I'll have a look at the code and try to make a pull request.

[2021-11-25 00:16] J-Wall opened #214 "Implemetation of Mardia-Watson-Wheeler test and Moore's Modified Rayleigh test for circular data"
Hi,

I've been looking for a statistics library which implements some tests on circular statistics, or would be happy for me to contribute implementations to.

I'm specifically interested in the Mardia-Watson-Wheeler test for equality of two angular populations (https://www.jstor.org/stable/25049573) and also Moore's Modified Rayleigh test for non-uniformity in weighted angular (vector) data (http

[2021-12-04 22:26] renatoparedes commented on #212
Hello @raphaelvallat,

I think it would be straight forward to add such `method` argument to the power_corr function. However I'm still figuring it out how to implement it without making the code too long (like with multiple switchs). I'll share a first prototype in the following days.

Cheers,

Renato

[2021-12-07 23:16] iki77 opened #216 "Add Jarque-Bera method to normality test"
Currently, there is only 'shapiro' and 'normaltest' method for normality test. Adding Jarque Bera method should be helpful as an alternative for testing large samples.

[2021-12-08 17:36] raphaelvallat commented on #211
Hi @shenganzhang — what was the reason for using these options? Do the tests work without them? Thanks

[2021-12-08 17:48] raphaelvallat commented on #213
Hi @jeanbaptisteb!

Sorry for the delayed response. This sounds great to me, please do feel free to work on a PR. Do you know any R / Matlab / JASP / SPSS implementation that we could compare Pingouin against? Second, how will this affect the calculation of the Cramer's V and statistical power of the test?

Thanks,
Raphael

[2021-12-09 00:31] shenganzhang commented on #211
These options are to run the tests for multiple times / in random order. This is a check for the robustness of the tests. Having said that, the tests can work without them.

[2021-12-09 08:04] jeanbaptisteb commented on #213
Hi @raphaelvallat . I dug a bit to see if there were an implementation of that in R. There is at least one, within the _survey_ package, as described here: https://www.displayr.com/the-correct-treatment-of-sampling-weights-in-statistical-tests/ The R implementation is quite straightforward to use, it gives something like:
`svychisq(~var1+ var2, design= svydesign(id = ~1, weight = ~wgt1, data=df))`

[2021-12-09 23:19] raphaelvallat commented on #216
Hi @iki77,

Thank you, I agree. This should be pretty straightforward using [scipy.stats.jarque_bera](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.jarque_bera.html), e.g.

[code]

[2021-12-09 23:22] raphaelvallat commented on #211
Got it, so I think the random order must mess up the input variable, since some of the variables in the tests are modified in-place during the unit test (probably shouldn't do that btw..!)

[2021-12-09 23:26] raphaelvallat commented on #213
Hi @jeanbaptisteb,

Thanks for the detailed explanation! I agree that this might be a little bit too specific for Pingouin, especially if it requires creating a whole new function (and thus cannot be combined with the pg.chi2_independence function).

Keeping this issue open for now in case you want to work on a draft implementation later, but feel free to close anytime.

Thanks,
Raphael

[2021-12-10 08:56] jeanbaptisteb commented on #213
Ok, thanks, I'll check this after Winter holiday!

Just as an additional info (as a reminder to myself or other interested people), I stumbled upon the [samplics Python package](https://github.com/samplics-org/samplics) which implements the [Rao-Scott correction for calculating the chi-square statistic](https://github.com/samplics-org/samplics/blob/845cb7c5222c64d1f57cf31429602cf67c0314c7/docs/sou

[2021-12-13 20:45] rnesti opened #217 "pairwise_ttests doesn't work as expected"
Hi @raphaelvallat,

I think that the implemented function `pairwise_ttests()` does not work as expected. <br/>
While using the `Goggles.sav` dataset from Andy Field, I noticed that I get other `p-values` than `JAMOVI` or `SPSS` when comparing the factor levels of the between factor `alcohol`.

Here are the results of `pingouin`:

![pingouin_output](https://user-images.githubusercontent.com/7530380

[2021-12-13 21:02] rnesti opened #218 "Adding center parameter to homoscedasticity function"
Hi @raphaelvallat,

could you please add a `center` parameter to the `homoscedasticity()` function?

`homoscedasticity()` uses the `median` which is in fact the `Brown-Forsythe` version, but the normal `levene test` uses the `mean` as far as I know.

Thank you very much!

Best regards!

[2021-12-13 21:13] rnesti opened #219 "Adding planned contrasts"
Hi @raphaelvallat,

Could you please add a possibility to test **(planned) contrasts** ?

Referring to Andy Field's `Goggles.sav` example from previously:

What I could imagine would be a function `planned_contrasts()` used like:

[code]
which would compare `Placebo vs. Low dose & High dose`.

Changing `contrasts` to `[0,-1,1]` would copare `Low dosis vs. High dosis`

Other contrasts would also be

[2021-12-14 00:54] raphaelvallat commented on #217
Hi @rnesti,

Thank you for this detailed post.

Regarding the differences in degrees of freedom, could you please include here the following: 1) the Goggles dataset, in CSV format, 2) the Python code to reproduce the Pingouin output, and 3) JASP notebook.

Regarding the combination of individual groups, this is actually a deliberate choice that I made when I first implemented the `pg.pairwise_ttes

[2021-12-14 00:58] raphaelvallat commented on #218
Hi @rnesti,

Pingouin is based on the [scipy.stats.levene](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.levene.html) function, which uses the median by default. I'll add the `center` parameter in the next release of Pingouin 👍

Thanks,
Raphael

[2021-12-14 01:04] raphaelvallat commented on #219
Hi @rnesti,

Thanks for this suggestion. I agree that this would be a useful addition. However, it will take a significant amount of time to implement and test, and it is therefore unlikely to be implemented in Pingouin in the near future. I know that there is a [Contrast](https://www.statsmodels.org/dev/examples/notebooks/generated/contrasts.html) module in statsmodels, have you looked into it?

[2021-12-14 17:45] rnesti commented on #219
Hi @raphaelvallat,

You're welcome!

Yes, I know the `Contrast` site of `statsmodels`. Sadly, It is also not possible to use the proper contrasts for planned contrasts. To get silimar results to `JAMOVI` you have to use the `Sum` contrast in the formula-based `statsmodels`:

[code]

However, the problem is that you can't use additional contrasts, so the categoricals are "blocked" with the `Sum` co

[2021-12-21 14:33] ShawnLee21 opened #220 "Hello! I wonder if pingouin can do a repeated MANCOVA? Thank you!"

[2021-12-21 21:46] raphaelvallat commented on #220
Hi @ShawnLee21.

MANCOVA is unfortunately not currently supported in Pingouin.

Thanks,
Raphael

[2021-12-21 21:46] #220 closed

[2022-01-01 18:39] rafaelvalero opened #221 "Omega Reliability"
Thanks for the library.
I think this is one of the first to have something related to reliability in python. In contraposition with R which has many and in particular psych.
I was wondering if there are plans to incorporate [McDonald's Omega](https://personality-project.org/r/psych/HowTo/omega.tutorial/omega.html) function for reliability.

References:

-  https://github.com/cran/psych/blob/master

[2022-01-02 19:03] raphaelvallat commented on #221
Hi @rafaelvalero,

I do think it could be a nice addition to Pingouin. I won't have the time to implement it, but if you have a first working version please do feel free to submit a PR (following the guidelines [here](https://pingouin-stats.org/contributing.html)). We'll also need to add unit testing against the R function.

Thanks,
Raphael

[2022-01-17 17:20] AlineROC opened #222 "pg.ttest() error explicitation for second set of observations (unclear UnboundLocalError)"
Hello,

When using pg.ttest with two set of observations, the error is not explicit when the second set of observations is not valid.

`pingouin.ttest(x = [] , y = [1, 2, 3] )` returns _AssertionError: x must have more than one element._
`pingouin.ttest(x = [1, 2, 3] , y = [] )` returns _UnboundLocalError: local variable 'dof' referenced before assignment_

The **UnboundLocalError** can be unclear

[2022-01-17 18:15] raphaelvallat commented on #222
Thanks @AlineROC! Agreed — I'll fix this in the next release of Pingouin.

[2022-01-18 16:22] SebastianSpeer opened #223 "Bayes Factor for spearman correlation?"
Dear Pingouin team,

Are you also working on an implementation for computing the Bayes Factor for Spearman correlation?

If not, do you have any suggestions where to find some guidance to implement this in Python?

Best,

Sebastian

[2022-01-18 19:57] raphaelvallat commented on #223
Hi @SebastianSpeer,

Thanks for opening the issue! I am not working on an implementation of the Spearman Bayes Factor. In fact, I am not aware of any method for calculating the BF of a Spearman correlation. To be honest, I would just use the [pg.bayesfactor_pearson](https://pingouin-stats.org/generated/pingouin.bayesfactor_pearson.html) function regardless of whether you used a Pearson or Spearman

[2022-01-20 13:45] bgunasekera opened #224 "Varying anova outputs"
Hi,

When I run the following code for an anova:

aov2 = pg.anova(dv='RT', between=['drug', 'Salient'], ss_type=3, data=plb_cbd_RT)
pg.print_table(aov2)

I get a certain output

When I run a different pingouin anova model first, such as:
aov1 = pg.rm_anova(dv='RT',
                  within=['drug', 'Salient'],
                  subject='id_upd', data=plb_cbd_RT)

and then immediately after run the

[2022-01-20 17:47] raphaelvallat commented on #224
Hi @bjgunasekera,

Thanks for opening the issue. Are you using the latest version of Pingouin? My worry is that there could be an in-place modification of the data during the first call to the ANOVA. Could you check after each anova that `plb_cbd_RT` has not changed? For example you can make a copy with `plb_cbd_RT_backup = plb_cbd_RT.copy()` and then compare with [pandas.DataFrame.equals](https:/

[2022-01-21 10:08] bgunasekera commented on #224
Hi @raphaelvallat

Many thanks for getting back.

I updated my version to `0.5.0`. This raised `AssertionError: Factor must have at least two levels` for the `aov1 `model. However, that is okay. The purpose of my query isn't to have the `aov1 `model working, rather, to understand why the outputs of the two way anova model (`aov2`) are different.

Despite the error, the outputs of the two way (`aov

[2022-01-21 12:02] kschuerholt opened #225 "Return Confidence Interval for nonparametric Mann Whitney U Test"
The t-test returns amongst other useful values the confidence interval on the difference between the means.
A CI on the difference of medians would be super useful to have for nonparametric tests like the MWU, so that not everybody has to comb through literature to figure out how to compute CIs for nonparametric tests.

I'm not entirely sure if for generic cases that'd require bootstrapping, or if

[2022-01-22 01:47] raphaelvallat commented on #224
Hi @bgunasekera,

This is related to https://github.com/raphaelvallat/pingouin/issues/127. Pandas categorical are very much error prone, because sometimes you have a category with no values, but it is still included when using functions such as pandas.DataFrame.groupby, unless specifying `observed=True`.

To avoid this, some functions of Pingouin automatically converts the categorical variables to

[2022-01-22 01:52] raphaelvallat commented on #224
Quick precision: the error here only concerns N-way ANOVA and not 1-way ANOVA since we do use `observed=True` for the latter:

https://github.com/raphaelvallat/pingouin/blob/dcfdc82bbc7f1ba5991b80717a5ca156617443e8/pingouin/parametric.py#L947-L953

[2022-01-22 02:00] raphaelvallat commented on #225
Hi @kschuerholt,

Thank you for opening the issue and submitting a PR. I'll dive into the latter in the next few days.

This is related to https://github.com/raphaelvallat/pingouin/issues/153.

Thanks,
Raphael

[2022-01-22 09:09] kschuerholt commented on #225
Hi @raphaelvallat

Thans for your great work, glad to be able to contribute in a small way.

#153 seems to be the same feature request for wilcoxon. The paper I used for the PR also gives CI interavals for wilcoxon, the computation is very similar to the one for mwu. It does look different to the CI computation in R, but I'm no statistician.

Best,
Konstantin

[2022-01-23 15:00] bgunasekera commented on #224
Hi @raphaelvallat,

Many thanks.

I had read in another thread that you prefer data being sent in csv format. I converted the data from spss to csv and interestingly noticed that the anova outputs were corrected, despite the code being near identical.

I suspect this is because within the spss file, the independent variables were encoded as categorical variables. Therefore, `pd.read_spss` also tra

[2022-01-24 16:37] benpla opened #227 "ttest() TypeError: object of type 'int' has no len()"
The first sample code fails with:

Code:
[code]

Every try for ttest farls with the same wessage.
Avova works as expected.
I enter code as simple as possible, but I can not understand the error message.

I uninstalled pingouin using `conda remove pingouin`.
Then installation with pip. Same result.
I installed an older version (`conda install -c conda-forge/label/cf202003 pingouin`).
Same result.

[2022-01-24 16:41] Pofozaur commented on #227
same issue here
[code]

[code]

[2022-01-24 16:49] Pofozaur commented on #227
it's looks like issue with `numpy` or `pandas`

@benpla if you want quickfix for this problem, install `numpy==1.21.5` and `pandas==1.3.5` before installing `pingouin`

[2022-01-25 08:33] benpla commented on #227
@Pofozaur : Your suggestion did the trick!

First remove packages:
[code]

Which Versions are installable?
[code]

On conda-forge channel the suggested versions are available.
Now install:
[code]

Run python with test().... and voila: it works!
Thanks!

[2022-01-25 21:58] raphaelvallat commented on #227
Hi,

Thanks for opening the issue. The error is related to the latest release of Pandas ([1.4.0](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.4.0.html)), which leads to an error here:

https://github.com/raphaelvallat/pingouin/blob/dcfdc82bbc7f1ba5991b80717a5ca156617443e8/pingouin/parametric.py#L309

A simple fix is to replace the above line with:

[code]

I'll implement this in the ne

[2022-01-25 22:06] raphaelvallat commented on #224
Hi @bgunasekera,

Thank you for the detailed explanation. I do not have SPSS so I will not be able to read the files. You could perhaps try to export your data as a Parquet file ([pd.DataFrame.to_parquet](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_parquet.html)) which I think should save the categorical dtype.

"Unstable" is a strong word — what I meant is that the fact that

[2022-01-25 22:25] raphaelvallat commented on #225
Thank you @kschuerholt! Looking at the documentation of the [wilcox.test](https://www.rdocumentation.org/packages/stats/versions/3.6.2/topics/wilcox.test) R function, it seems that they are using the following formula: Myles Hollander and Douglas A. Wolfe (1973). Nonparametric Statistical Methods. New York: John Wiley & Sons. Pages 27--33 (one-sample), 68--75 (two-sample).

That said, the paper th

[2022-01-26 17:16] kschuerholt commented on #225
Hi @raphaelvallat

I can't promise an ETA, but I can implement the corresponding CI method for wilcoxon in the next days or weeks.

I checked the source again. The paper I cited earlier is basically a user's reference, it's only cited 3 times. They in turn appear to take the CI computation method from `Conover WJ. Practical non-parametric statistics. New York: Wiley, 1980.` That appears a more rep

[2022-01-28 02:56] raphaelvallat commented on #225
Hi @kschuerholt,

Thank you! That would be great if you could have a look at the wilcoxon CI, but no pressure at all. I am already very thankful for your contribution.

I was thinking that since there does not seem to be a single gold-standard method, we could also smply report the **_bootstrapped_** confidence intervals, using either [scipy.stats.bootstrap](https://docs.scipy.org/doc/scipy/refere

[2022-02-02 18:10] eremingt opened #228 "Error in intraclass_corr documentation?"
The [documentation for intraclass_corr](https://pingouin-stats.org/generated/pingouin.intraclass_corr.html) states that ICC2 and ICC3 remove mean differences (i.e. ICC 'consistency'), but based on the output, this is only true for ICC3, and ICC2 is 'absolute agreement':

![image](https://user-images.githubusercontent.com/77844820/152212392-3147758c-a194-46ad-b17d-d5bdd9a5769f.png)

I think the beh

[2022-02-03 04:17] JiayuMaoReal opened #230 "Program works well but can not exit automatically"
python verision=3.8.12
pingouin=0.5.0
pycharm ide
when I import pingouin and click run, the program cannot end automatically after finishing all the calculation (It occurs even only import pingouin and do noting). And when i click stop button, the exception information are like bellow:
____________________________________________________________________________________
^CException ignored in: <mod

[2022-02-03 05:49] xyan326 opened #231 "error in single rater ICC calculation"
Hi, I got some error by just implementing the ICC calculation in cases where each subject is only rated by 1 one rater. The unbalanced sample will not be calculated. Could you please help?

[2022-02-04 00:08] raphaelvallat commented on #228
Hi @eremingt,

This function, including the documentation, is a mere duplicate of the ICC function in the R [psych](https://cran.r-project.org/web/packages/psych/psych.pdf) package:

I am not a statistician and I rarely use the ICC function in my own analyses anyway, so I might not be the best person to solve this issue. How would you edit the documentation? Also, I do not understand the plot that

[2022-02-04 00:09] raphaelvallat commented on #231
Please ask any analysis-related questions on the Gitter channel of Pingouin: https://gitter.im/pingouin-stats/Lobby. I am closing this issue. Thanks

[2022-02-04 00:09] #231 closed

[2022-02-04 00:14] raphaelvallat commented on #230
Hi @JiayuMaoReal,

Do you only see this issue when importing Pingouin? I do not use PyCharm, and I have never see such an issue with VSCode, Jupyter Lab or the terminal. I am not sure it is related to Pingouin: a Google search of this error yields a [large number of results](https://www.google.com/search?q=Traceback+%28most+recent+call+last%29%3A+File+%2C+line+1388%2C+in+_shutdown+lock.acquire%28%

[2022-02-04 02:53] JiayuMaoReal commented on #230
The problem magically disappear…after I do some other work, so I think that pingouin did not cause it.

[2022-02-04 02:53] #230 closed

[2022-02-08 11:50] adamnarai opened #232 "ttest() error with scipy 1.8.0"
ttest() fails with the following error when using scipy 1.8.0:
[code]
I suspect the problem is that they relocated _unequal_var_ttest_denom() to _stats_py.py
See: https://github.com/scipy/scipy/commit/5a263905fbb61cb4f9a5dfd593451096054373db

[2022-02-09 00:41] raphaelvallat commented on #232
Thank you @adamnarai! This should be pretty straightforward to fix. Do you want to submit a quick PR? Otherwise I'll implement this in the next stable release of Pingouin. Note that we do need to keep support for previous versions of scipy for now.

Thanks,
Raphael

[2022-02-09 00:56] raphaelvallat opened #233 "Use scipy.stats.tukey_hsd (SciPy 1.8+) in pingouin.pairwise_tukey"
See https://github.com/scipy/scipy/blob/main/scipy/stats/_hypotests.py#L2197-L2378

[2022-02-09 19:32] adamnarai commented on #232
Hi @raphaelvallat,

Sure, I submitted a PR: https://github.com/raphaelvallat/pingouin/pull/234

Best,
Adam

[2022-02-10 07:47] alabamagan opened #235 "[Feature Request] McGraw and Wong ICC"
Hi I would like to check in with the possibility of implementing the ICC by McGraw and Wong (1992) on top of the existing definition by Shrout and Fleiss (1979).

To the best of my knowledge, the IBM SPSS is currently using McGraw and Wong's implementation. It would be great to have the implementation that is used by well-established SPSS (certainly not the best user experience, but most recognize

[2022-02-11 07:28] alabamagan commented on #235
Hi @raphaelvallat,

Thanks for the reply! I did find some R packages that claim to have implemented it: `irrNA;:icc_corr` https://cran.r-project.org/web/packages/irrNA/irrNA.pdf, but i am not all that sure they have implemented it correctly because they have no "Two-way mixed effect" implementation, only "Two-way random". After a I closer look and I am now under the impression that perhaps they ar

[2022-02-12 17:49] raphaelvallat commented on #218
Done in dc4f21d9ca34a743a5e135ea081ec90e2e5ff73c

[2022-02-12 17:49] raphaelvallat commented on #222
Done in 6a7401589d8882da1b3e557e7a8bf36764404b37

[2022-02-12 18:36] raphaelvallat commented on #217
Closing this, but feel free to reopen!

[2022-02-12 18:36] #217 closed

[2022-02-12 18:37] raphaelvallat commented on #211
Closing this issue for now, feel free to reopen!

[2022-02-12 18:37] #211 closed

[2022-02-12 18:38] raphaelvallat commented on #197
Any updates on this? Thanks!

[2022-02-12 18:38] raphaelvallat commented on #196
Closing this issue, feel free to reopen!

[2022-02-12 18:38] #196 closed

[2022-02-12 18:42] raphaelvallat commented on #208
Edit: this will not be included in the next release of Pingouin (v0.5.1) which is a minor release, but it should be included in the next major release (0.6.0).

[2022-02-12 18:48] raphaelvallat commented on #213
Closing this but feel free to reopen!

[2022-02-12 18:48] #213 closed

[2022-02-13 00:18] raphaelvallat commented on #195
Done in 7f5f0cc083befebefabb853730596eb394b7f55d

See PR v0.5.1: https://github.com/raphaelvallat/pingouin/pull/236

[2022-02-13 00:55] raphaelvallat commented on #216
Done in cd7168befd0870c61323a48a527c812afb948b45

See https://github.com/raphaelvallat/pingouin/pull/236

[2022-02-13 02:02] michalkahle commented on #209
Ok, working on the PR.

[2022-02-16 02:31] ChucklesOnGitHub opened #238 "Present in our Open Source Neuro Seminar Series?"
We at [Open Neuroscience](https://open-neuroscience.com/) are reaching out because we would love to have your project featured on [our seminar series on World Wide Science](https://www.world-wide.org/Open-Source/Open-Source-Neuro/). The goal is to highlight projects that are listed in our website and allow developers to discuss their projects and get feedback from the community.

**If this sounds

[2022-02-16 19:40] raphaelvallat commented on #238
Hi @ChucklesOnGitHub,

Thank you for the offer and your work in supporting neuroscience open-source projects! I would love to say yes but I am just too busy in the next few months and thus cannot commit to this now. However, please feel free to reach out again in 6 months or a year.

Thank you,

_PS: closing this issue now, but feel free to reopen or reach out to me directly via email at raphaelva

[2022-02-20 16:42] raphaelvallat opened #241 "Deprecate pingouin.circular module?"
The [pingouin.circular](https://pingouin-stats.org/api.html#circular) module is essentially a Python wrapper for the Matlab [circstats](https://github.com/circstat/circstat-matlab) toolbox. However, the latter now has an official Python version ([pycircstats](https://github.com/circstat/pycircstat)). I would therefore suggest that over the next year or so we progressively deprecate the circular mo

[2022-02-20 17:10] #232 closed

[2022-02-20 17:10] #227 closed

[2022-02-20 17:11] #224 closed

[2022-02-20 17:11] #222 closed

[2022-02-20 17:11] #216 closed

[2022-02-20 17:11] #218 closed

[2022-02-20 17:12] #195 closed

[2022-02-20 17:12] #197 closed

[2022-02-20 17:15] raphaelvallat opened #242 "Roadmap for release 0.5.2"
The following **issues** should be addressed:

- [x] #249
- [x] #244
- [x] #209
- [x] #276
- [x] #189
- [x] #272
- [x] #270
- [x] #268
- [x] #251
- [x] #259

The following **PR** should be merged:

- [x] #246
- [x] #252
- [x] #245
- [x] #271
- [x] #254
- [x] #280
- [x] #286

The following **dependencies** should be updated:

- [x] Scikit-learn <1.1.0 (to avoid bug in logistic regression)

The foll

[2022-02-22 12:40] julibeg opened #244 "Mediation Analysis: Pass on arguments to logistic_regression"
Have been using Pingouin for a while now and it's awesome. However, when I run mediation analyses with binary mediators, `newton-cg` sometimes does not converge and I have to manually change the solver to `sag` or `saga` in the source code (in addition to increasing `max_iter`). I would like to be able to pass on arguments to `sklearn.linear_model.LogisticRegression` in some way (perhaps by adding

[2022-02-26 14:17] musicinmybrain commented on #197
I haven’t tested with 1.3.4 because the Fedora package for Pandas is still behind; the primary maintainer has been overwhelmed by life events and semi-responsive. I’m planning to send a PR to update the Pandas package and try to get it merged, but I haven’t had a chance.

In the unlikely case that Pandas ≥1.3.4 isn’t a fix, I’ll revisit this issue when I get to test with it. Otherwise, please assu

[2022-03-02 02:46] briannhan commented on #205
@dalensis you said that you updated the script, so can you tell me where I can access this updated version?

[2022-03-02 05:23] dalensis commented on #205
It is the one in the first comment. I substituted it.

Bests

Il mer 2 mar 2022, 03:46 briannhan ***@***.***> ha scritto:

[2022-03-03 03:20] briannhan commented on #205
I see. I modified your script a little bit to improve readibility as well as to apply your script to statsmodels rather than pingouin (note that I changed columns "A", "B", and "pval" to, respectively, "group1", "group2", and "p-adj" to match the output from statsmodels Tukey's. Otherwise, the script is essentially the same

    import string
    import pandas as pd
    import os
    from pathlib

[2022-03-03 05:18] dalensis commented on #205
I will test the script on your data. I use it routinely and up to know it
works. For sure I always use similar kinds of data.

Let's see. I will keep you updated

Bests

Il gio 3 mar 2022, 04:20 briannhan ***@***.***> ha scritto:

[2022-03-03 09:18] dalensis commented on #205
Hi,

you are right, there is a problem. I will try to solve it.

bests

Il giorno gio 3 mar 2022 alle ore 06:18 dalens ***@***.***> ha
scritto:

--
Stefano D'Alessandro, Ph.D.,
<https://www.researchgate.net/profile/Stefano_DAlessandro>

Assistant Professor of Plant Physiology
Department of Life Sciences and Systems Biology, University of Turin
***@***.***

Visiting Scientist @ BIAM, UMR 7265,

*Lu

[2022-03-03 16:54] dalensis commented on #205
`import string
import pandas as pd

def main(df, alpha=0.05):

    df.rename({'A': 'group1', 'B': 'group2', "pval":"p-adj"}, axis="columns", inplace=True)

    '''
    Creates a compact letter display. This creates a dataframe consisting of
    2 columns, a column containing the treatment groups and a column containing
    the letters that have been assigned to the treatment groups. These letters

[2022-03-03 19:18] briannhan commented on #205
Thank you so much. I tested your updated script on my dataset and it works on this dataset this time, so thank you for your hard work.

I've also found this [paper](https://www.sciencedirect.com/science/article/pii/S0167947306003598) that discusses algorithms to create compact letter displays. Creating compact letter displays seems to be a topic in the field of computer science with a whole array

[2022-03-03 19:30] dalensis commented on #205
Excellent!
Hope it will be useful also to others once implemented :)

Bests

Il gio 3 mar 2022, 20:18 briannhan ***@***.***> ha scritto:

[2022-03-03 19:42] briannhan commented on #205
@dalensis I think that you should make a public repository just to hold this script. Perhaps that would increase the visibility of this script and facilitate further testing? It's up to you, though

[2022-03-03 19:56] dalensis commented on #205
Now that you adapted it and made it more readable maybe it's possible.
At the same time there is no homogeneity in test outputs so it might
require further work to make it more adaptable.
I will try.

Thanks

Il gio 3 mar 2022, 20:42 briannhan ***@***.***> ha scritto:

[2022-03-08 02:10] isaacto opened #249 "bayesfactor_binom should allow H1 distribution to be specified"
The hallmark of Bayes factor is that we can pit our null hypothesis against the aggregate of a family of alternative hypotheses, to arrive at a conclusion about how much the null hypothesis is better/worse than the alternatives.  In the current bayesfactor_binom implementation, the alternative hypothesis is always that p follows Uniform(0, 1).  This seriously limits the usefulness of the function,

[2022-03-08 03:56] raphaelvallat commented on #249
Hi @isaacto,

Thank you for opening the issue and detailed explanation. Would you be able to draft a PR to implement these changes?

Best,
Raphael

[2022-03-12 23:51] #209 closed

[2022-03-14 15:16] Federico2111 opened #251 "Do eta squared and partial eta squared coincide in one-way repeated measures anova?"
In both the pingouin anova and rm_anova library, it is specified that, in one-way anova, eta squared and partial eta squared coincide: this means that eta squared and partial eta squared coincide both in between- and within-subjects designs, i.e. both in independent and repeated measures designs. I tested the libraries on some data sets and that is indeed true: when I calculated eta squared and pa

[2022-03-15 16:49] raphaelvallat commented on #251
Hi @Federico2111,

Thanks for opening the issue. I am not a statistican so I fear that I am not the right person to answer this. Pingouin's current behavior is similar to the reference JASP software, as shown below (`n2 == np2 != ng2`)

**Pingouin**

![image](https://user-images.githubusercontent.com/25703792/158428708-f8854f26-dce6-468b-9873-62c47ccdd6cf.png)

**JASP**

![image](https://user-imag

[2022-03-16 08:25] Federico2111 commented on #251
Thanks @raphaelvallat,

I have posted my eta squared vs partial eta squared issue on these statistics blogs. I hope that some expert will reply:

https://stats.stackexchange.com/questions/567614/do-eta-squared-and-partial-eta-squared-coincide-in-one-way-repeated-measures-ano
https://www.wyzant.com/resources/answers/888370/do-eta-squared-and-partial-eta-squared-coincide-in-one-way-repeated-measure

[2022-03-16 08:52] Federico2111 opened #253 "Adding eta squared parametric ci to pingouin.compute_esci"
Hello,

I suggest adding the parametric confidence interval around the eta squared effect size to the library pingouin.compute_esci.

There is a method to calculate it, based on the confidence limits for non-central F parameters. Here are some papers about it:
http://www.ww.w.statpower.net/Steiger%20Biblio/Steiger04.pdf
https://link.springer.com/article/10.3758/s13428-012-0228-7

This method is im

[2022-03-19 15:55] rbakeman commented on #251
The pingouin rm_anova writeup and program appears to contain an error.  In your reply here, you say you are not a statistician, but pingouin’s results are the same as JASP’s results.  But what if JASP is wrong?  The matter would be cleared up if the pingouin writeup included the definitions, not just for partial eta squared, but for eta squared and generalized eta squared as well.

In your reply y

[2022-03-19 16:44] #244 closed

[2022-03-19 16:53] raphaelvallat commented on #251
Hi @rbakeman, thank you for the detailed explanation. I will edit as you suggest, specifically:

- [ ] Use the generalized eta-square as the default effect size in `pingouin.rm_anova`
- [ ] Update the calculation of the partial eta-square
- [ ] Add the formula of all three effect sizes in the documentation of the function.

@Federico2111 I think that we should open a similar issue on the [GitHub o

[2022-03-19 17:10] raphaelvallat commented on #251
Of note, the [JAMOVI software](https://www.jamovi.org/) does return the correct values:

![image](https://user-images.githubusercontent.com/25703792/159131190-9030be85-f9f4-4690-9da3-474d07f4ba41.png)

[2022-03-19 18:22] raphaelvallat commented on #251
See pull request in https://github.com/raphaelvallat/pingouin/pull/254

[2022-03-25 21:17] thomas-haslwanter opened #255 "Problems with the combination Windows 11 - IPython - Jupyter"
When I put the line
`import pingouin as pg`
into a startup script in
   ~\.ipython\profile_default\startup
and then call
`jupyter qtconsole` or `jupyter lab` in a terminal, IPython crashes (i.e. it hangs up during startup).
Surprisingly, if I do NOT put that line into the startup script, I can execute it manually after startup without any problems.
The problem did not show up in Windows 10.

Has a

[2022-03-26 01:11] raphaelvallat commented on #255
I work exclusively on Mac so I have never seen this issue 😕  Has anyone else experienced this problem?

[2022-03-30 08:54] Federico2111 opened #256 "Does pingouin.compute_esci work also for Glass' delta?"
On the pingouin.compute_esci, I can read that the confidence interval can be calculated for Cohen's d or Hedges' g: https://pingouin-stats.org/generated/pingouin.compute_esci.html
Does it work also for Glass' delta, which is a Cohen-type effect size similar to the other two?
If so, I think it should be specified.

Thanks

[2022-03-30 15:15] raphaelvallat commented on #256
Hi @Federico2111,

It does not!

Thanks,
Raphael

[2022-03-31 00:27] raphaelvallat commented on #256
Hi @Federico2111,

I did not implement it because I wanted to focus on the most widely-used effect size. Also, I assume that the users will need to specify which variable is the control group and which variable is the patient group, which will add a layer of complexity to the function (need to add extra parameters).

Could you please find scientific references as well as a reference software (SPSS

[2022-04-01 10:32] Federico2111 commented on #256
Hi @raphaelvallat,

How much reasonable and accurate is the approximation to use Cohen's d parametric CI on Glass' delta is a question for the statistics experts, who hopefully will help us out here. I suppose it depends on how much unequal the variances of the two groups are?

Speaking of the parametric CI around Glass' delta:

This article can be useful:
https://digitalcommons.wayne.edu/cgi/view

[2022-04-02 12:08] Federico2111 commented on #256
@raphaelvallat,

I will add the following comment. You mentioned that the problem with Glass' delta is that the user has to specify which is the control group, thus another parameter has to be added to the libraries.
However, I don't think that is necessarily the case.

In the calculation of the effect size (pingouin.compute_effsize), the user could be told that the active group is the first one i

[2022-04-05 17:40] bwinsto2 opened #257 "Any way to speed up intraclass_corr function?"
Hi, I am attempting to use the intraclass_corr function for a test retest analysis of brain images, and one particular analysis requires many, many ICCs to be calculated. The dataframe itself for each of these calculations is large too (comparing two "raters," each with ~60,000 "ratings"), and doing this comparison many times. Currently, performing this function once takes ~40 seconds. Since there

[2022-04-06 10:05] isaacto opened #258 "Key elements of the shift plot is not documented"
There are a few things in the documentation of plot_shift that is lacking:

  * The X axis of the scatter plot is hard-coded to "score (a.u.)", but what that means is a mystery.
  * The scatter plot has lines connecting the X and the Y deciles, with color which I can tell only by reading the source code.
  * The Y axis of the plot of the shift function also has the "(a. u.)" with unknown meaning.

[2022-04-08 03:25] isaacto opened #259 "shift_plt ci argument gets ignored"
Nowhere in the code uses the "ci" value passed.  The most obvious usage should be the alpha argument of _bca, where the (1-ci) value is supposed to be passed.  In fact, the result of the _bca call overwrites the ci variable, which needs to be changed before fixing the problem.

By the way, should _bca be part of the public API?

[2022-04-08 15:05] #257 closed, assigned to nobody

[2022-04-09 05:14] raphaelvallat commented on #256
Good idea — I agree. Unfortunately, I won't have the time to implement this in the near future, but I'll leave it open if anyone wants to submit a pull request.

Thanks,
Raphael

[2022-04-09 05:19] raphaelvallat commented on #258
Hi @isaacto,

Thanks for opening the issue. Yeah I agree that the documentation of this function could be improved. In fact, this is an old function of Pingouin that has not had the same levels of testing that some other functions had, and I was almost tempted to gradually deprecate it in the next versions of Pingouin. It is not clear to me what percent of Pingouin's users actually use this functi

[2022-04-09 05:26] raphaelvallat commented on #259
Hi @isaacto,

Thanks for spotting this. Indeed, the `ci` parameter should be passed to the [_bca](https://github.com/raphaelvallat/pingouin/blob/a3e2ba6a9fc36ad34c73399b26c40b4642742b42/pingouin/regression.py#L940) function (`alpha = 1 - ci`). This will be fixed in a future release.

For bootstrapped confidence intervals, please see the new [scipy.stats.bootstrap](https://docs.scipy.org/doc/scipy/

[2022-04-11 14:55] Federico2111 commented on #256
Thanks, I agree.

I could see that you have created a roadmap for the next release of pingouin, where you have included some of my suggestions, for example the parametric CI around eta squared.
Do you have any idea about the timing, i.e. when this next version of pingouin will be ready?

[2022-04-11 22:47] raphaelvallat commented on #256
Hi @Federico2111,

I became a father last week and will be on paternity leave for a few weeks. I would say the next version of Pingouin will be released at the earliest in June. The best way to help speed us this process is to submit pull requests to implement the proposed changes.

Thanks,
Raphael

[2022-04-13 00:55] isaacto commented on #259
Indeed.  At present the _bca is "bc" without the "a".  On the other hand, I think scipy.stats.bootstrap missed some information: it tells you a bias corrected confidence interval, but doesn't tell you an unbiased point estimate.

[2022-04-13 01:07] isaacto commented on #258
Thanks for the information.  I didn't know about split plots before, so pingouin actually taught me that (and in fact many other ideas... before I was using T-test for everything...).  I think it would be useful, but of course I'm open to anything equally or even more useful to replace it.

On the other hand, I'm thinking about creating a few routines (or perhaps a public module) to do the plottin

[2022-04-15 10:22] filipmarkoski opened #262 "Support for Bayesian Credible Intervals"
Hello, is there an implementation for Bayesian credible intervals as there is for frequentist confidence intervals?

https://en.wikipedia.org/wiki/Credible_interval

Helpful Literature:
1. https://jakevdp.github.io/blog/2014/06/12/frequentism-and-bayesianism-3-confidence-credibility/

[2022-04-15 21:09] vitotitto opened #263 "AssertionError using pg.rm_corr"
Good evening guys,

I am trying to calculate within-participant correlations  **pg.rm_corr**  in in **power.py**

but I get     AssertionError:
[code]

I can't understand the relation what in the data causes this,  can you please help with this?

[2022-04-20 13:25] seralouk commented on #134
Quade’s ANCOVA would be indeed a great addition!

[2022-04-20 22:52] raphaelvallat commented on #262
Hi @filipmarkoski,

This is not implemented in Pingouin. I think it may be an useful addition and we could use the R library bayestestR as an inspiration (see [here](https://cran.r-project.org/web/packages/bayestestR/vignettes/credible_interval.html) and [here](https://easystats.github.io/bayestestR/reference/ci.html)). However, I think this will be a significant effort and I personally won't have

[2022-04-20 22:57] raphaelvallat commented on #263
Hi @vitotitto,

Please make sure to use [GitHub Discussions](https://github.com/raphaelvallat/pingouin/discussions) for analysis-related questions in the future. To answer your question, I am guessing that you're getting an invalid `r` value (most likely a NaN), which leads to the AssertionError. I would thus check your data for the following:

1. Do you have multiple data points for each particip

[2022-04-25 01:22] Grecia616 commented on #1
Sorry, in this case, how can I call the module?

I already installed as pip install pingouin, but when I want to use it for example:

pingouin.wilcoxon(supermarket['GenderDummy'], supermarket['Quantity'])

it said:

NameError: name 'pingouin' is not defined

Thank you!

[2022-04-25 18:12] raphaelvallat commented on #1
Hi @Grecia616,

Make sure to import pingouin in your code:

[code]

If it doesn't work, there is a problem with your installation of pingouin. I would then re-install: `pip uninstall pingouin` followed by `pip install pingouin` in a terminal.

Thanks,
Raphael

[2022-04-28 15:00] ejc043 opened #264 "Hotellings T2 test yields -df2 and NaN p value"
Thank you for the wonderful package!
I am wondering if you could help guide me through this issue.
I currently have two dataframes with equal columns(n= 2663) and rows (n=10) and am trying to conduct hotellings T2 test between the two data frames.
However, I am yielding NaN for pval? I'm suspecting the -df2 is derived from the large amount of features-- could this be contributing to the NaN pval?

[2022-04-29 18:59] raphaelvallat commented on #264
Hi @ejc043,

Indeed, the degrees of freedom are calculated as:
 https://github.com/raphaelvallat/pingouin/blob/8825a215f50a21fdaa53aa63fc25a1af44aee7bc/pingouin/multivariate.py#L247-L251

where `k` is the number of columns and `n` the sample size (`n = nx + ny - 1` for a two-sample independent test). Since `n` is much lower than `k` you end up with a negative degree of freedom and thus the p-value

[2022-05-02 22:28] raphaelvallat commented on #263
Closing this issue. Feel free to re-open.

[2022-05-02 22:28] #263 closed

[2022-05-02 22:28] raphaelvallat commented on #264
Closing this issue. Feel free to re-open.

[2022-05-02 22:28] #264 closed

[2022-05-02 22:29] raphaelvallat commented on #255
Any updates on this @thomas-haslwanter? Otherwise, I'll close the issue.

[2022-05-05 04:37] qniksefat opened #265 "An issue with pairwise_ttests"
Hey, I hope everything's good.

there was a problem when running pg.pairwise_ttests example, saying _TypeError: object of type 'int' has no len()_

the code I run

[code]

Apparently, in _pingouin/parametric.py in ttest(x, y, paired, alternative, correction, r, confidence)_ in line 309, when I changed this
`stats = pd.DataFrame.from_records(stats, columns=col_order, index=['T-test'])`
to this
`sta

[2022-05-05 23:05] raphaelvallat commented on #265
Hi @qniksefat,

This issue has been fixed in Pingouin 0.5.1 (https://github.com/raphaelvallat/pingouin/pull/234). Updating Pingouin with `pip install -U pingouin` should fix the problem.

Thanks,
Raphael

[2022-05-05 23:05] #265 closed

[2022-05-15 04:54] mochazi opened #266 "python3.7 unable to install"
[lazy_loader](https://pypi.org/project/lazy_loader/)
[pingouin](https://pypi.org/project/pingouin/)
![QQ图片20220515125037](https://user-images.githubusercontent.com/54659396/168457784-e41ef977-f96a-4f4a-86a3-9285718dd0c6.png)

`lazy_loader`>=3.8
Reason: `lazy_loader` not supported 3.7

[2022-05-15 23:57] raphaelvallat commented on #266
See https://github.com/raphaelvallat/pingouin/discussions/240#discussioncomment-2676737

Run the following commands in a terminal:
`pip install -U pandas_flavor`
`pip install -U pingouin`

Thanks,
Raphael

[2022-05-17 10:25] dyhyao6 opened #267 "when run with not root user ,will have the problem : No module named pingouin"
![微信截图_20220517181632](https://user-images.githubusercontent.com/49445844/168789721-a9d37487-bd01-45d6-91b4-928a20aa0a58.png)
![微信截图_20220517182504](https://user-images.githubusercontent.com/49445844/168790516-5ff9affc-8ab1-4b71-9e12-23dadf8d9d82.png)
 @ecederstrand @Leicas @isaacto @arthurpaulino

[2022-05-17 10:27] dyhyao6 commented on #267
![not_root](https://user-images.githubusercontent.com/49445844/168790880-9525b0de-8006-4276-a02d-01dfb342e4ab.png)

[2022-05-17 12:19] sappelhoff commented on #267
did you install the package in an "isolated environment", as can be achieved with for example

- [conda](https://docs.conda.io/en/latest/miniconda.html)
- [venv](https://docs.python.org/3/tutorial/venv.html)

Doing that will make sure that you don't mix system and user installations.

[2022-05-17 13:07] dyhyao6 commented on #267
my steps ：
1、pip install pingouin
2、source /data/miniconda/envs/py379-tesla/bin/activate
3、python test.py

test.py：
from pingouin import bayesfactor_ttest
print(bayesfactor_ttest(3.5, 20, 20))

is there any wrong?

[2022-05-18 01:29] raphaelvallat commented on #267
Is this issue specific to Pingouin? What if you try to install any other packages? Can you import pingouin in iPython?

[2022-05-18 01:34] dyhyao6 commented on #267
yes, I install other package like scipy , it can import in python:
![企业微信截图_20220518093342](https://user-images.githubusercontent.com/49445844/168939050-33404072-6d26-44f8-bcfb-f23dabc165a3.png)

[2022-05-18 01:35] dyhyao6 commented on #267
how to solve this issue?

[2022-05-18 01:38] raphaelvallat commented on #267
SciPy might be already included in your dist though. Can you try installing another package, like `astropy` or `mne`? I don't think it's really related to a bug in Pingouin, but rather it has to do with the configuration of your environment. Have you tried creating a new env?

[2022-05-18 02:33] dyhyao6 commented on #267
I tryed install :
![微信截图_20220518103113](https://user-images.githubusercontent.com/49445844/168945118-bbbf97e2-188a-48e4-ac52-e271398a66b9.png)

it work , I think only root user can use pingouin.

[2022-06-05 20:39] Riley16 opened #268 "power_anova eta parameter is actually eta-squared"
https://github.com/raphaelvallat/pingouin/blob/8825a215f50a21fdaa53aa63fc25a1af44aee7bc/pingouin/power.py#L373

The eta parameter in power_anova (and potentially functions which I haven't checked) is actually eta-squared, but the documentation doesn't make this clear enough:
eta : float
    ANOVA effect size (eta-square = 𝜂2)

The documentation as is could be taken to imply that the parameter ente

[2022-06-07 17:58] raphaelvallat commented on #268
Hi @Riley16,

(This is indirectly related to https://github.com/raphaelvallat/pingouin/pull/254)

Thanks for catching this. I think that renaming the parameter to `eta_squared` is probably the best option to avoid any confusion! Please feel free to submit a PR. Otherwise I'll just fix this in the next release of Pingouin.

Thanks,
Raphael

[2022-06-10 02:45] FlorinAndrei opened #269 "pg.welch_anova() how to fix RuntimeWarning: invalid value encountered in double_scalars ?"
Python 3.9.9
Pingouin 0.5.1
Windows 10
Jupyter Notebook

Code:

[code]

The input file `shields.csv` is attached here:

[shields.csv](https://github.com/raphaelvallat/pingouin/files/8875318/shields.csv)

If you run enough iterations, eventually it's going to do this:

[code]

When it does that, sometimes the F value it calculates is 0, so I need to drop it from the list.

Is there a way to avoid t

[2022-06-10 03:11] FlorinAndrei commented on #269
Perhaps related, there's an extra puzzle. I am actually trying to replicate a bit of R code, starting from the same `shields.csv`. The code is:

[code]

The initial F value from the R code agrees with `pg.welch_anova()`. However, R gives a very different value for the boostrapped `p.approx1` (0.0548), whereas the bootstrapped value from Python calculated this way...

[code]

...is closer to 0.338.

[2022-06-11 21:57] FlorinAndrei opened #270 "pg.multicomp() uses a lot of memory, crashes the system"
Python 3.9.9
Pingouin 0.5.1
Windows 10
Jupyter Notebook in Chrome
32 GB RAM

[code]

As I increase T1, `pg.multicomp()` uses more and more memory. The highest value I can run on my 32GB RAM system is around `T1=5000`.

[2022-06-13 04:05] raphaelvallat commented on #269
Hi @FlorinAndrei,

I don't think this is a bug of Pingouin per se, but rather it has to do with the bootstrapping procedure and your relatively small samples. If you run enough iterations I think you may end up with extremely low variance (almost zero), which leads to invalid denominator(s) somewhere in these lines:

[code]

In your code you can skip a bootstrap iteration if the variance of one of

[2022-06-13 15:36] raphaelvallat commented on #270
Hi @FlorinAndrei,

Thanks for catching this. A reproducible example:

[code]

![image](https://user-images.githubusercontent.com/25703792/173389438-1885de81-56ee-4fe3-be53-a1be695be022.png)

In other words, computation time scales exponentially with number of p-values for `holm`, `fdr_bh` and `fdr_by`. The function becomes very slow when the number of p-values exceed ~20,000.  By contrast, it stay

[2022-06-13 16:38] FlorinAndrei commented on #269
Alright, thank you, I will do that.

[2022-06-13 16:38] #269 closed

[2022-06-13 16:43] raphaelvallat commented on #270
See improvements in https://github.com/raphaelvallat/pingouin/pull/271

[2022-06-13 17:49] raphaelvallat opened #272 "LogisticRegression fails when X is a single predictor"
See https://github.com/scikit-learn/scikit-learn/issues/23605

This leads to unit tests failure in Pingouin.

The easiest fix is to downgrade scikit-learn to version 1.0:

[code]

[2022-06-16 09:30] ph-code-repo opened #275 "Cannot import name 'studentized_range' from 'scipy.stats'"
When trying to import Pengouin (0.5.1) into my notebook, I get the error message:
`cannot import name 'studentized_range' from 'scipy.stats'`
My version of scipy is 1.8.1
I noticed that someone else had a similar problem a few months ago, but their only suggestion was to update versions, which hasn't worked: https://stackoverflow.com/questions/71886116/how-to-fix-python-error-code-cannot-import-na

[2022-06-16 13:47] raphaelvallat commented on #275
@ph-code-repo can you run the following lines:

[code]

One possible explanation is that you have two Python environments and are using the one with the outdated version of SciPy.

Thanks
Raphael

[2022-06-17 15:28] raphaelvallat opened #276 "[Bugfix] compute_bootci should resample x and y separately when paired=False"
See https://github.com/raphaelvallat/pingouin/discussions/274

This is also related to https://github.com/raphaelvallat/pingouin/issues/189

**Tasks**
- [ ] Resample `x` and `y` separately when `paired=False`
- [ ] Leverage [scipy.stats.bootstrap](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.bootstrap.html) whenever possible
- [ ] Add `method="BCa"` as the default

[2022-06-18 18:32] #251 closed

[2022-06-18 18:33] #270 closed

[2022-06-18 18:49] raphaelvallat opened #279 "Roadmap for release 0.6.0"
The following **issues** should be addressed:

- [x] #308 ❗
- [x] #444
- [x] #153
- [x] #253
- [ ] #208
- [x] #225
- [x] #118

The following **PR** should be merged:

- [ ] #226
- [x] #291
- [x] #443

The following **dependencies** should be updated:

- [x] Scikit-learn <1.1.2 (revert temporary fix in #278)

The following **deprecation** should be made:

[2022-06-18 19:39] #268 closed

[2022-06-19 01:58] #276 closed

[2022-06-19 03:16] FlorinAndrei commented on #189
I think `return_dist` could be simulated with a wrapper function that appends the partial results to a global list at each step. The wrapper function is then passed as a value to `statistic`. At the end, the global list becomes the bootstrapped distribution. If that sounds right, could you add this suggestion to the docs please?

The BCa being only available for univariate statistics is not a deal

[2022-06-19 18:06] raphaelvallat commented on #189
Thanks for opening the issue on SciPy! I think that scipy's bootstrap module is still under development so I'll stick to Pingouin's internal implementation for now.

I'm not sure to understand your method to get the bootstrapped distribution, could you please provide some example code?

Thanks,
Raphael

[2022-06-19 18:07] raphaelvallat commented on #275
Closing this, feel free to reopen

[2022-06-19 18:07] #275 closed

[2022-06-19 18:08] raphaelvallat commented on #267
Closing this, feel free to reopen if needed

[2022-06-19 18:08] #267 closed

[2022-06-19 18:13] #206 closed

[2022-06-19 23:27] #259 closed

[2022-06-19 23:34] raphaelvallat commented on #242
Pingouin 0.5.2 is now ready! I'll release tomorrow.

[2022-06-20 21:22] FlorinAndrei commented on #189
Sure. I did this recently with Scipy:

Data set:

[BirdPecks.csv](https://github.com/raphaelvallat/pingouin/files/8943715/BirdPecks.csv)

Code:

[code]

[2022-06-21 00:15] FlorinAndrei opened #284 "pg.qqplot() should obey general pyplot parameters"
I have a preamble which I add to a lot of notebooks. For some reason, each of the three blocks needs to be loaded into a separate Jupyter Notebook cell in order to be fully effective - no idea why. Anyway, the part that matters is the line that contains `figsize`.

[code]

One of the effects is that `figsize` is set for most functions for the rest of the notebook. Seaborn tends to obey it. Matplot

[2022-06-21 00:52] raphaelvallat commented on #284
@FlorinAndrei what if you use:

[code]

Currently, the default figsize in qqplot is (5, 4) inches, but setting figsize to None should revert to your global plt.rcParams

https://github.com/raphaelvallat/pingouin/blob/b1c334d93f8f7f8b13c39199c08a7d8b619afd95/pingouin/plotting.py#L229

[2022-06-21 01:07] FlorinAndrei opened #285 "pg.qqplot() out of bounds"
Data set:

[HealthExam.csv](https://github.com/raphaelvallat/pingouin/files/8944899/HealthExam.csv)

Code:

[code]

![sm-qq](https://user-images.githubusercontent.com/901867/174695345-f5cbfbb9-61f3-4322-b304-7a3ca6a15ac2.png)

[code]

![pg-qq](https://user-images.githubusercontent.com/901867/174695400-cf2ef2ff-5942-4363-bb8b-bce60ce4c069.png)

The output from Statsmodels QQ matches what I get from

[2022-06-21 03:26] raphaelvallat commented on #284
Pingouin calls seaborn, so maybe it changes some default parameters.

https://github.com/raphaelvallat/pingouin/blob/b1c334d93f8f7f8b13c39199c08a7d8b619afd95/pingouin/plotting.py#L9-L12

Anyway, I don't think this is really an issue so I'm closing this for now. Feel free to reopen. Thanks

[2022-06-21 03:26] #284 closed

[2022-06-21 03:30] raphaelvallat commented on #285
Pingouin forces the x-axis and y-axis to have the same units and the same limits. In your example, because there is an outlier point (y=3.5, x=2), it forces the x-axis to extend up to >3.5. Furthermore, Pingouin adds the diagonal line for easy comparison against a normal distribution

https://github.com/raphaelvallat/pingouin/blob/b1c334d93f8f7f8b13c39199c08a7d8b619afd95/pingouin/plotting.py#L381-

[2022-06-21 18:18] remrama commented on #285
@FlorinAndrei I think you could just "trim the right-hand edge" yourself after making the plot with pingouin.

[code]

If you are concerned with the units being rescaled on the x-axis after this, you could resize your figure to accommodate that, with something like `fig.set_figwidth` (after retrieving the figure with `fig = plt.gcf()`). Alternatively, you could mess with [setting the aspect](https

[2022-06-24 18:08] raphaelvallat commented on #242
Released: https://github.com/raphaelvallat/pingouin/releases/tag/v0.5.2

[2022-06-24 18:08] #242 closed

[2022-06-25 03:45] FlorinAndrei commented on #189
@raphaelvallat There are proposals for significant improvements to `scipy.stats.bootstrap()`.

https://github.com/scipy/scipy/pull/16454

https://github.com/scipy/scipy/pull/16455

They're asking for extra comments, but right now I'm under a big time crunch, so I'm not sure I can help.

[2022-06-25 15:30] mdhaber commented on #189
I'd be happy to add other enhancements to `scipy.stats.bootstrap` if it would make it more attractive!

As @FlorinAndrei mentioned, domain knowledge review of PRs would help - the main reason I haven't made enhancements already is shortage of reviewer time.

We can definitely return the bootstrap distribution in 1.10, and I now see no technical impediment to extending BCa to the multi-sample case.

[2022-06-26 23:04] raphaelvallat commented on #189
Hi @mdhaber,

Thanks for all your work on the bootstrap module. I'd be happy to review a PR and/or tutorial 👍

I think that returning the bootstrapped distribution in SciPy would be great. If so, the current pingouin.compute_bootci would essentially become a wrapper around scipy.stats.bootstrap.

Two other potential ideas:

1) I think it might also be helpful to have public API for the lower-level

[2022-06-26 23:55] mdhaber commented on #189
Great! If you'd like to start with gh-16454, which returns the bootstrap distribution, I'd appreciate it! Just made comments and, if you approve, be sure to select that radio button when you submit your review. As a maintainer, it certainly improves my confidence in merging when the PR has the approval of others.

OK, I'll be thinking about that.

Yup, I can do that. Good idea.

[2022-06-28 11:45] AndrewC19 opened #288 "Question: How to run a multinomial logistic regression test?"

[2022-06-28 11:47] #288 closed

[2022-07-20 02:58] mdhaber commented on #189
@raphaelvallat Here are some thought about idea #1.

In retrospect, I would have made `confidence_interval` a method so that users could do this, but originally, `bootstrap` was going to return _only_ `confidence_interval`. When we made it return a result object and `standard_error`, we didn't reconsider.

One possibility is to make the new `bootstrap_distribution` an object with methods for doing

[2022-07-20 14:51] raphaelvallat commented on #189
Awesome @mdhaber, I just reviewed https://github.com/scipy/scipy/pull/16651!

I think that having a dedicated `Bootstrap` class, which can be initialized either with `data` + `statistic`, or `bootstrap_distribution`, and that contains methods such as `confidence_intervals` and `standard_error` is probably the cleanest. But what you suggest here is a good compromise. Will it also require passing `d

[2022-07-20 15:20] mdhaber commented on #189
Most CI methods need to know the observed value of the statistic to compute the confidence interval. I suppose I could allow `data` to default to `None`, in which case `statistic` could be the observed value. In an initial PR, though, I would probably not implement this, but I'll think about it.

[2022-07-22 12:10] R1-Globulo opened #293 "plot_paired not working - palette issue (from sns.lineplot?)"
Hello -

I used pingouin to illustate a paired t-test a few months back - and rerunning the exact same code today now leads to an error when I plot the **plot_paired** graphs - error message is:

ValueError: The palette dictionary is missing keys: {**list of numbers**
![pg plot_paired error](https://user-images.githubusercontent.com/73608484/180436440-381c612a-b64d-48d0-8d00-cb894717735f.PNG)
}

[2022-07-22 23:16] raphaelvallat commented on #293
Can you please copy-paste your code here? Have you updated seaborn, matplotlib or Pingouin recently?

[2022-07-25 12:33] R1-Globulo commented on #293
Hi there - thanks for the reply - all fixed now actually.
It looks like it was due to a variable type, which caused the issue!
Screenshots provided - with the final graph!

Really cool package btw - thanks for the good work and sharing with the rest of us!

![image](https://user-images.githubusercontent.com/73608484/180778043-8f5c52c7-114a-4080-8757-4989394c85f0.png)

and the solution by changing

[2022-07-25 15:06] raphaelvallat commented on #293
Awesome, thanks! Closing the issue.

[2022-07-25 15:06] #293 closed

[2022-07-26 20:52] mdhaber commented on #189
Just thought I'd mention that https://github.com/scipy/scipy/pull/16455 would add BCa bootstrap for multi-sample statistics. I think it's correct now, and I'm working on unit tests for it. Reviews appreciated!

[2022-07-27 22:09] mdhaber commented on #189
And scipy/scipy#16714 adds the functionality suggested in https://github.com/raphaelvallat/pingouin/issues/189#issuecomment-1189750880 to address @raphaelvallat's idea 1. With that, one can change confidence level, CI type, and add resamples (or not) like:

[code]

[2022-07-29 15:10] PibeChorro opened #294 "holm correction in pairwise_ttests does not correct using rank"
Hello,
first off - thank you for your brilliant package

When I use pairwise_ttests with the holm p-value correction it seems like the p-value is not corrected based on its rank, but just by its position in the dataframe.

Best
Vincent

[2022-07-29 15:53] raphaelvallat commented on #294
Hi @PibeChorro,

Can you please provide an example code + a screenshot of the output of Pingouin? Even better if you can also print the expected p-values from another statistical software (R, JAMOVI, Matlab etc).

Thanks!
Raphael

[2022-07-30 13:37] PibeChorro commented on #294
Hey Raphael,
sure

I am performing pairwise t-tests for mean activation in a brain area (roi). I have a 2(before and after intervention)*3(stimuli types) within subject design.
[code]

here is the output (I rounded to the third digit):

[code]

I haven't used R and MATLAB in a long time to do statistics so wouldn't know how to do it.
However, I would have expected the corrected p-value to be calcu

[2022-07-31 20:16] raphaelvallat commented on #294
Hi Vincent,

That is not how the multiple comparison correction is calculated. Pingouin uses the [Holm-Bonferroni correction](https://en.wikipedia.org/wiki/Holm%E2%80%93Bonferroni_method), which is implemented in the [pingouin.multicomp](https://pingouin-stats.org/generated/pingouin.multicomp.html) function:

https://github.com/raphaelvallat/pingouin/blob/dce908b8a23ff39309d0d30c28daf3c1e4c47d9a/p

[2022-07-31 20:40] raphaelvallat commented on #189
@mdhaber I reviewed the second PR. Unfortunately, I don't think I have the stats skills nor time to do a full in-depth review of https://github.com/scipy/scipy/pull/16455 — @FlorinAndrei might be better able to help here. But please let me know how I can be helping. Thanks!

[2022-07-31 20:45] mdhaber commented on #189
No problem. Thanks for taking a look at scipy/scipy#16714!

[2022-08-02 08:52] PibeChorro commented on #294
Hi Raphael,
yes now I get it. Thanks for pointing it out and I apologize for the inconvenience

Best
Vincent

[2022-08-02 08:52] #294 closed

[2022-08-03 11:34] ValentinGhibaudo opened #295 "Bug post-hoc : pairwise_tests()"
Hi,

First, thank you a lot for this amazing toolbox !

There might be a bug with the computing of the p-value uncorrected from pairwise_tests() function, in condition of a within design with parametric = False.

Below some boxplots of simulated data being truely different but p-unc of wilcoxon post-hocs returning non-significant with a questionable constant result of 0.25.

![simu_data_pg](https:

[2022-08-03 19:06] raphaelvallat commented on #295
Hi @ValentinGhibaudo,

Thanks for opening the issue. I think there is something wrong with the data that you have simulated. You have: 3 participants (not enough), 4 conditions (ok) and 100 repeated values for each participant and condition (which will be aggregated using the mean). `sujet` should be a `np.arange(0, 100)` to get **one unique value per each of the 4 conditions per each of the 100 p

[2022-08-04 08:33] ValentinGhibaudo commented on #295
Thank your for answering so quickly !
Yes indeed !
Sorry for this bad issue.
I could find this on google easily but in your opinion what should be the minimal number of participants ?

[2022-08-04 13:07] dalensis commented on #205
Hi, I updated the scrypt and set the depository as you suggested.

https://github.com/dalensis/compact-letter-display-for-pingouin-python/blob/main/cld.py

The code takes the df output of pingouin posthoc analyses and return the compact letter display df.

[2022-08-04 16:32] raphaelvallat commented on #295
I would say n=15-20 participants for reliable results. If you have less than that, I would probably just use a parametric T-test.

[2022-08-04 16:32] #295 closed

[2022-08-06 11:03] aurel-p opened #297 "Add Z tests (proportions & means)"
Hi,

### 1. Intro

As mentioned in discussion #296, it would be convenient to have support for both proportion and mean z tests within pingouin.

statsmodels already provides several methods around those tests but in a confused and dispersed way, so you often end up writing some wrapper. Moreover, those methods sometimes have strange signatures, making it not really straightforward to use. A singl

[2022-08-11 00:39] raphaelvallat commented on #297
Thanks for the detailed feature request @aurel-p! I won't have the time to implement this in the near future but I'll leave this issue open if anyone wants to give it a first go.

[2022-08-23 15:03] mdhaber commented on #189
The multi-sample BCa PR merged. Hope it helps!

[2022-08-26 00:04] George3d6 opened #298 "`pairwise_tests` producing array of t values internally"
I occasionally get mysterious crashes when using the pairwise t-test, e.g:
[code]

This happens when using a fairly innocuous dataframe:

[code]

The issue seems to arise from the fact that the `t` variable being checked by the assert is actually a single-element array (e.g. `[0.521]`)

I've been unable to figure out the exact cause of the bug or replicate it, any help with this would be appreciat

[2022-08-26 00:43] George3d6 commented on #298
I've implemented a potential fix here: https://github.com/raphaelvallat/pingouin/pull/299

[2022-08-29 22:19] avm19 commented on #121
I have encountered the same problem for a much smaller input, of shape `(19000, 7)`. I don't know what size of array the code was try allocate.

I see [in the source code](https://github.com/raphaelvallat/pingouin/blob/adf07187bae972a14a47b3c7c85826d4b7a7b67c/pingouin/tests/test_multivariate.py#L122) that very large arrays are currently not tested for, with input of shape `(1000, 100)` being the l

[2022-08-29 23:49] raphaelvallat commented on #121
Thanks @avm19! Ok I had a closer look into the source code, and I think we can get better performance (and similar results) by replacing

https://github.com/raphaelvallat/pingouin/blob/adf07187bae972a14a47b3c7c85826d4b7a7b67c/pingouin/multivariate.py#L81

with

[code]

I'll work on a PR in the next days/weeks

[2022-08-30 10:33] George3d6 commented on #298
@raphaelvallat can I ask why this is marked as invalid?
Looking at the code (see linked PR) there's a clear issue with how the scipy interface is used, and this is causing issues in certain cases, since a tuple is treated as if it were a float/int

[2022-08-30 19:36] raphaelvallat commented on #298
@George3d6 --> Invalid does not mean that the issue is not valid, but rather that something doesn't look right in the Pingouin code. Apologies for the confusion. I'll update the label to "bug".

[2022-09-08 15:44] George3d6 commented on #298
@raphaelvallat as far as I can see this isn't a recent change in the scipy interface as I suspected, so I guess the bug was always there.

[2022-09-09 22:37] #298 closed

[2022-09-13 19:03] DavidALloyd opened #301 "pingouin.wilcoxon doesn't pass 'method' optional keyword argument to scipy.stats.wilcoxon"
pingouin.wilcoxon receiving p-value calculation method warning "UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.". This is automatically fixed but the warning remains. scipy.stats.wilcox accepts an optional 'method' kwarg to change the method automatically, but this results in an unknown kwarg error in pingouin.wilcoxon. Other kwargs like '

[2022-09-14 02:10] raphaelvallat commented on #301
Hi @DavidALloyd,

This is because the `method` argument of scipy.stats.wilcoxon was previously called `mode`. See the documentation for the latest version of SciPy ([1.9.1)](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.wilcoxon.html) and version [1.8.1](https://docs.scipy.org/doc/scipy-1.8.1/reference/generated/scipy.stats.wilcoxon.html). Using `mode=` or updating scipy should

[2022-09-14 16:15] #301 closed

[2022-09-17 19:14] MRTanja opened #302 "Pearson's r from compute_effsize =|= Pearson's r from convert_effsize"
I noticed that Pearson's r when calculated with compute_effsize is different from when it is converted from Cohen's d via convert_effsize:

[code]
-> r_calc =|= r_conv, not even close

Am I missing something in how the formula works or is this a bug?

[2022-09-19 14:42] raphaelvallat commented on #302
Hi @TanjaS91,

Thanks for opening the issue. This is a normal behavior since the conversion from r <--> d is an approximation and not an exact science. Furthermore, instead of using `randint` (which will not produce normally-distributed arrays), I suggest the following example:

[code]

You can see in this example with a multivariate-normal distribution that the conversion is more accurate, even i

[2022-09-19 15:31] TanjaS91 commented on #302
Hi Raphael,

thank you for the answer and example! Actually in the meantime I figured out what is happening: When r is used as an effect size, it is the point-biserial, not the "regular" r, so e.g. when conducting a t-test between a treatment and a control group, the effect size r should be calculated as the correlation between treatment and control values concatenated on the one hand and dummy va

[2022-09-21 21:30] cogerk commented on #109
Hi all, I wanted to follow up on/second this feature request.  Is it still true that the current pairwise comparison functions don't support group interactions?

[2022-09-22 01:23] raphaelvallat commented on #302
@TanjaS91, that's right — thank you for catching this mistake! Going back to my previous example:

[code]

where`scipy.stats.pearsonr(xy_bool, xy)` gives the same output as `scipy.stats. pointbiserialr(xy_bool, xy)`. Indeed, from Wikipedia:

**Action items**:

First, I don't think we should modify the [compute_effsize](https://pingouin-stats.org/generated/pingouin.compute_effsize.html#pingouin.com

[2022-09-22 01:25] raphaelvallat commented on #109
Hi @cogerk,

The [pingouin.pairwise_tests](https://pingouin-stats.org/generated/pingouin.pairwise_tests.html#pingouin.pairwise_tests) function does support interaction. However this issue was referring to the [pingouin.pairwise_tukey](https://pingouin-stats.org/generated/pingouin.pairwise_tukey.html#pingouin.pairwise_tukey) function, which does not.

[2022-09-26 22:24] cogerk commented on #109
Thanks very much for your response and clarification!

[2022-10-10 04:30] remrama opened #306 "Support for passing most plotting functions to seaborn grids"
Hi @raphaelvallat , I'm wondering how tied you are to generating figures explicitly in most of pingouin's plotting functions (e.g., `plot_blandaltman`). Currently, most of these plotting functions generate a figure explicitly when the `ax` parameter is not provided, something like:
[code]

I think it might be better or more flexible to generate a figure with default size the way seaborn does:
[cod

[2022-10-10 04:53] remrama commented on #306
Just now realizing something like this (from [FacetGrid docs](https://seaborn.pydata.org/generated/seaborn.FacetGrid.html#seaborn.FacetGrid)) could probably be reworked as a clunky work-around to my specific concern:

[code]

Basically a wrapper for pingouin plotting functions could use `plt.gca()` and pass that as `ax` to pingouin.

Putting this here for completeness but I still think the more ge

[2022-10-10 19:30] raphaelvallat commented on #306
Hi @remrama,

Thanks for the detailed issue. I don't see any reasons why not to implement your proposed solution, and I agree that it may improve flexibility and at the same time simplify Pingouin's API. Please feel free to work on a PR 👍

[2022-10-13 06:52] Federico2111 commented on #279
Seems like a good new release. Is there any time line? When will these upgrades be made?

[2022-10-14 16:22] raphaelvallat commented on #279
Hi @Federico2111,

I have had no time to work on Pingouin in the last few months, and I anticipate this will continue at least until Q1 2023. I therefore cannot promise a timeline for this new release.

[2022-10-27 00:17] Esmerald1no opened #307 "Reporting Extra GG Corrected Values in rm_anova"
I believe it would be a great addition to the package!
Generally, when reporting GG corrected p-values, the corrected F value and ddofs are also reported.
It is also a relatively easy addition.
(...)
`if correction:`
 (...)
 `corr_fval = f(corr_ddof1, corr_ddof2).ppf(1-p_corr)`

then during the formation of dataframe:
if not detailed:
(....)
`aov["F"] = corr_fval `
`aov["DF"] = [corr_ddof1,corr_dd

[2022-10-27 18:53] raphaelvallat commented on #307
Thanks @Esmerald1no for opening the issue.

I don't think we should _replace_ the F-value and DF, because we are still reporting the uncorrected p-value. If anything, we should add the `F_corr` and `DF_corr` to the dataframe, but I am worried that it will overburden the output, which is already quite extensive.

Alternatively, we could switch to a class implementation `class RepeatedMeasuresANOVA`

[2022-10-29 14:32] ALL-SPACE-Rob opened #308 "anderson() boolean returned value is inverted"
[scipy.stats.anderson()](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.anderson.html) returns the statistic "A2", a list of critical values and a list of significance levels for those critical values (both lists distribution-dependent). As stated on [that webpage](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.anderson.html),

"If the returned statistic is larg

[2022-10-30 16:31] JBinkowski opened #309 "non consistent post-hoc output"
Hi,
Many thanks for Your job, **pinguin** makes real difference in python environment!
I observed that output data frames headings from `pairwise_gameshowell`, `pairwise_tests` and `pairwise_tukey` functions are not consistent. And to some extend is understandable, but discrepancies such as:

  - different names of columns containing p-values
  - lack of **mean(A)** and **mean(B)** in `pairwise_te

[2022-10-31 20:56] raphaelvallat commented on #309
Hi @JBinkowski,

Thanks for opening the issue!

Indeed. I have been wanting to homogenize all the output variable names (including p-values), as also discussed in https://github.com/raphaelvallat/pingouin/issues/208.

You can get these with `pg.pairwise_tests(..., return_desc=True)`

Since the `diff` can be calculated with `mean(A)` and `mean(B)`, I almost want to remove it entirely

The effect si

[2022-10-31 21:06] raphaelvallat commented on #308
Hi @ALL-SPACE-Rob,

Indeed, you are right. The `pingouin.anderson` is one of these old functions for which I have never implemented a robust unit testing pipeline — in fact, I have never used it for my own analyses.

We do need to fix this asap. Please feel free to submit a PR with your proposed change. I'll also add more unit tests and documentation to this function.

For testing:

[code]

Thanks

[2022-11-01 12:39] JBinkowski commented on #309
@raphaelvallat, many thanks for quick response.
1. indeed `return_desc=True` solves the problem;
2. with regard to the `effect size` issue, the results differ between implementations, please see below example:

[code]
and the output is:

![image](https://user-images.githubusercontent.com/27915777/199233572-f0e6e663-5256-4903-9ce9-3fb786f18a4c.png)

[2022-11-01 18:51] raphaelvallat commented on #309
Ah, I see. So the issue here is that the Hedge values do not perfectly match between the different `pairwise_` functions, right? The output format in itself is correct. I think this behavior is definitely expected since the numerator / denominator used to calculate the effect sizes are different between implementations. For example:

https://github.com/raphaelvallat/pingouin/blob/bc795239cbf5c2f21

[2022-11-02 08:33] JBinkowski commented on #309
Yes, exactly that is my point.
How this behavior may be expected if effect size (expressed as Hedges' g or any other metric) should be fixed for specific dataset, and independent to test type?
For me it seems to be a bug, or am i wrong?

[2022-11-02 09:08] ALL-SPACE-Rob commented on #308
No worries! Happy to do my little bit to help. I've only recently discovered `pingouin` and I'm finding it useful, so thanks for your efforts with it.

I see where you are coming from, in terms of value-add. My opinion, for what it is worth, is that there is some value in having the "answer" provided via the boolean, as it saves the user (me!) having to code that kind of check. When I want to chec

[2022-11-04 17:16] raphaelvallat commented on #308
Thanks @ALL-SPACE-Rob for your thoughtful answer.

Yeah I thought about that too. One concern here is that we already have three different methods in pingouin.normality, and choice overload is not a good thing. To be honest, I do not know which of these 3 (or 4 if we include anderson!) is the most reliable and accurate method to check for normality. I know that Shapiro (the default) is not accurat

[2022-11-04 17:22] raphaelvallat commented on #309
Ah, I see your point now. So essentially you are proposing that the effect size of `pairwise_tukey` and `pairwise_gameshowell` should be calculated _a la_ `pairwise_tests`, i.e. not based on the test statistics (T and ddf) but based on the actual `x` and `y` arrays.

https://github.com/raphaelvallat/pingouin/blob/bc795239cbf5c2f2162fc40073de465846e004a7/pingouin/pairwise.py#L414

I think that make

[2022-11-07 17:05] ALL-SPACE-Rob commented on #308
I get where you are coming from with choice overload. I'm currently looking at replicating analysis other users are performing in Minitab, so I wasn't thinking too much about which is "best". However, [this paper seems to be a good examination of the issue](https://www.tandfonline.com/doi/full/10.1080/00949655.2010.520163) (open access full paper). It's conclusion is, for the tests examined:

- if

[2022-11-09 20:43] JBinkowski commented on #309
Sure, i will open PR for this.

[2022-11-13 00:32] gsalfourn opened #311 "FutureWarning followed by sserror = grp.apply(lambda x: (x - x.mean()) ** 2).sum()"
I was just trying to understand some generated data in `pingouin` using ANOVA, however I got a `FutureWarning and sserror` message that I can't seem to figure out. For the sake of completeness, I will post what I was doing.

[code]
When I ran the code above for the anova model, I got the following message:
[code]
My questions are two-fold: (1) how do I keep the future warning from showing using my

[2022-11-16 01:32] raphaelvallat commented on #308
Thank you for the detailed reply, appreciate it. Let's keep `pg.anderson` separate for now, and in the future we can maybe switch to a more generic `test_distribution` function as you suggest.

Also, +1 for adding a warning when N>5000 for the SW test! Feel free to submit a quick PR.

Apologies for the delay with your PR, planning to work on it around Thanksgiving!

[2022-11-25 18:02] #308 closed

[2022-11-30 20:47] remrama commented on #306
#314

[2022-11-30 20:47] #306 closed