[2018-07-18 05:10] bsheese opened #1 "import fails, package points to external directory"
importing pingouin returns the following:

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-f0ef7192de11> in <module>()
      1 import pandas as pd
      2 import numpy as np
----> 3 import pingouin

~/.local/lib/python3.6/site-packages/pingouin/__init__.py in <module>()
      1

[2018-08-05 02:35] raphaelvallat commented on #1
Hi @bsheese ! I am so sorry for only seeing your message today; I unfortunately did not get notified that a new issue had been opened.
I have fixed the pingouin.external import error in the latest Pingouin release (v0.1.4). Updating your version should solve the problem:

`pip install pingouin --upgrade`

Thanks,
Raphael

[2018-08-05 02:35] #1 closed

[2018-11-28 23:28] ajdneuro12 opened #3 "Wish list: power analysis"
Hi Raphael,

I was thinking a great addition to the toolbox would be some python based tools for power analysis such as something similar to R's 'pwr'. https://cran.r-project.org/web/packages/pwr/pwr.pdf. Thanks again for your great work on this tool!

Best,
Alex

[2018-11-29 00:54] raphaelvallat commented on #3
Hi @ajdneuro12 !

Thank you for the suggestion. So far I have only implemented two power-related functions, namely `ttest_power` and `anova_power` (see [here](https://raphaelvallat.github.io/pingouin/build/html/api.html#id4)). I definitely agree that it would be great to have a more exhaustive approach, with the possibility to compute and plot the sample size and/or power (e.g. similar to the [GPo

[2018-12-18 08:43] hoechenberger opened #4 "conda package"
Thanks for creating this amazing project! Only found out about it by accident :)

At any rate, I just created a `conda` recipe and [proposed it for inclusion](https://github.com/conda-forge/staged-recipes/pull/7320) in the `conda-forge` channel, so users would be able to install `pingouin` and all dependencies simply by doing `conda install -c conda-forge pingouin`

I wanted to ask you if you had

[2018-12-20 10:10] raphaelvallat commented on #4
Hi @hoechenberger !
Thank you for your feedback,
YES to all three questions, that would be great to have a conda install. Thank you for doing this,
Please keep me updated on this,
Raphael

[2018-12-21 12:56] hoechenberger commented on #4
The package is now available from `conda-forge`: https://anaconda.org/conda-forge/pingouin

[2018-12-26 10:57] raphaelvallat commented on #4
Thank you @hoechenberger for this. I will add the conda badge and update the installation instructions as soon as I get back from holiday.

[2019-01-07 12:07] hoechenberger opened #5 "Request: Support for MultiIndex columns"
I typically end up having `MultiIndex` columns in my `DataFrame`s during analysis, which currently does not seem to be (well) supported by `pingouin`. Here's an example when trying to use `pairwise_corr()` on `MultiIndex` columns:

[code]

[code]

In this specific case, this behavior is caused because [`np.intersect1d(keys, columns)`](https://github.com/raphaelvallat/pingouin/blob/cfbbb71b27566d46

[2019-01-07 12:15] hoechenberger commented on #5
My current workaround:
[code]

[2019-01-09 14:26] hoechenberger opened #6 "Shapiro-Wilk test should have option to return W statistic"
Currently `pingouin.normality()` silently discards the `W` statistic returned by `scipy.stats.shapiro()`. I would love to have an option to retrieve these stats, as I need to present them together with the `p` values when drafting a scientific publication. I wonder if the function could not be adjusted to return a `DataFrame` with numerous information like most of the other `pingouin` functions?

[2019-01-09 15:16] hoechenberger opened #7 "qqplot() should allow for NaN removal"
Currently, if the passed iterable contains one or more `NaN` values, `qqplot()` will return a basically empty plot. There should be the option to automatically remove `NaN` values before plotting (might even be the default).

[2019-01-09 16:49] raphaelvallat commented on #6
Indeed @hoechenberger that's a good idea, I agree that returning a dataframe might be best here. I should be able to work on this next week, unless you want to submit a PR! Thanks

[2019-01-09 16:56] raphaelvallat commented on #7
Yes, agreed, NaN should be automatically removed. We just need to add this line:

[code]

I'll include this in the next release. Thanks!

[2019-01-09 16:59] #3 closed

[2019-01-10 07:59] hoechenberger opened #8 "Potentially add option to retrieve outliers removed by correlation.shepherd()"
`correlation.shepherd()` removes outliers before calculating Spearman's rho. Ideally this function would return a list of removed outliers, just like `correlation.skipped()` does.

**Edit** I haven't looked into the literature, but I would assume that the degrees of freedom of Shepherd's pi are `N – N_outliers – 1`, right? It could be helpful if the correlation functions were also to return the do

[2019-01-10 09:43] hoechenberger commented on #6
I am currently busy and won’t have time to work on an implementation until mid-February or so. But would be willing to give it a try then ;)

[2019-01-10 19:17] raphaelvallat commented on #8
Yes, I was planning on adding that at some point. With regards to the dof, please note that the `corr` wrapper function returns the sample size before outlier rejection. Perhaps the best option here would be to add an `outliers` column to the output dataframe (when using shepherd or skipped) with the number of outliers removed. I think that this would be more informative than simply having a `dof`

[2019-01-15 00:32] raphaelvallat commented on #4
Hi @hoechenberger! Just added the conda badge and conda installation instructions to the develop branch. The changes will be included in the next release. I am closing this issue. Thanks again.

[2019-01-15 00:32] #4 closed

[2019-01-15 00:36] hoechenberger commented on #4
Great, thank you!

[2019-01-15 00:58] raphaelvallat commented on #8
Hi @hoechenberger! Just pushed to the develop branch the aforementioned changes. These will be included in the next release. Thanks again!

[2019-01-15 00:58] #8 closed

[2019-01-15 01:03] #7 closed

[2019-02-01 11:32] hoechenberger commented on #6
Hi @raphaelvallat, I just started working on this, but we need to make a design decision before I can continue. Currently, the `distribution.normality()`, like some other functions in that module, allow passing multiple array-like objects, and would then return arrays with the corresponding number of results. If we intend to return a results `DataFrame` instead, we now have two options:

- return

[2019-02-15 20:58] Leicas opened #9 "Posthoc test for non parametric test."
Hi,
I like the simplicity of the library, especially running a Friedman test on a panda dataframe with one line is nice.

However due to the lack of posthoc test I have to use other library like Scikit-posthoc.
It would be nice to be able to use pingouin for that as well !

Best,

Antoine

[2019-02-15 21:36] raphaelvallat commented on #9
Hi @Leicas!

You're absolutely right, I've been thinking of adding `pairwise_wilcoxon` and `pairwise_friedmann` functions for quite a bit of time now. The alternative would be to add a `parametric=[True/False]` option to the `pairwise_ttests` function, which would automatically choose between wilcoxon / friedman / paired T-test or independent T-test depending on the input data and arguments. Which

[2019-02-15 22:40] Leicas commented on #9
Both would be great, maybe the latest would simplify the use ?

Also wanted to thank you for the page at
https://pingouin-stats.org/guidelines.html, very clear and helpfull.

I'll be waiting for the next release then :)
Have a great day.

Antoine

Le ven. 15 févr. 2019 à 16:36, Raphael Vallat <notifications@github.com> a
écrit :

[2019-03-04 01:19] raphaelvallat commented on #6
Hi @hoechenberger! I am planning on releasing the next Pingouin version sometimes in March and I was wondering if you'd have time to submit this PR in the coming days/weeks? If not I can also work on this, just let me know!

Thanks,
Have a great day,
Raphael

[2019-03-04 13:00] hoechenberger commented on #6
Hi, I actually implemented this weeks ago already, don’t remember why I never filed a PR. I’m currently traveling, but can look at the code again (and file a PR) tomorrow!

[2019-03-09 12:51] hoechenberger commented on #6
Heh, running late again. Expect a PR tonight CET :)

Cheers!

[2019-03-10 09:35] hoechenberger commented on #6
Hey @raphaelvallat, I just looked at my code again and remembered why I hadn't filed a PR: I ran into a conceptual issue. Currently, `distribution.normality()` accepts a variable number of arguments: `def normality(*args, alpha=.05)`

Now, if I were to return a `DataFrame`, I'm not sure how to best represent the connection between input argument and test results. My first idea was to create one ro

[2019-03-11 01:05] raphaelvallat commented on #6
Hi @hoechenberger ! Thanks for all your inputs!

1. I agree with you that the function should work with either a single iterable `x` (list of values, 1D numpy array, pandas series) OR a list of columns `x` + a dataFrame `data`. The function should return a DataFrame with a single row if a single iterable was passed, and one row per column passed if `x` was a list of column (where the indices are t

[2019-03-16 18:41] raphaelvallat commented on #5
Hi @hoechenberger!
I've just added suport for multi-index columns in the pingouin.pairwise_corr function (commit https://github.com/raphaelvallat/pingouin/commit/94da5e6495ba9218362da409e09f65c0714904bd).

This will be hopefully included in the next release. If by any chance you can give it a try on "real-data" before and report any bugs that would be greatly appreciated. Some examples are shown i

[2019-03-18 19:59] hoechenberger commented on #6
Hey Raphael, I will respond to your message tomorrow – just wanted to let you know this is on my agenda, I'm just extremely busy these days, therefore cannot reply earlier. Best wishes!

[2019-03-21 07:30] hoechenberger commented on #6
Great, so we agree on this one :)

This sounds very reasonable. I didn't know about `normaltest()`! Not so sure about `method='auto'` -- maybe should default to `method=None` (which would work like you proposed for `auto`?)

Okay, I think you've got a valid point here. I need to think this over :) -- Wouldn't a list comprehension work similarly well for you?

That's not _quite_ what I meant! These

[2019-03-21 16:39] raphaelvallat commented on #6
Thanks @hoechenberger!

1. Ok I agree that `method='auto'` might be confusing. I'd suggest that we let `method='shapiro'` as the default then, since it is clearly the most well-known and widely-used univariate normality test.

2. Can you please show an example of list comprehension? Not sure to understand what you mean!

3. Oh I see! I didn't know that, thank you! I guess I have to think this over

[2019-03-21 20:42] PanBartosz opened #10 "Two way within-subject ANOVA"
Hello,
one small problem: rm_anova collapses multiple observation for each subject and condition to mean (which is correct behavior) but if you have 2 within subject factors this function runs rm_anova2 which does not. Due to this fact when you run rm_anova with two within-subject variables it returns wrong value. If you do agree I can submit a pull request - as far as i can see the fix is to coll

[2019-03-21 21:01] raphaelvallat commented on #10
Hi @PanBartosz!

Indeed, I agree with you that we should also do an automatic collapsing to the mean for `rm_anova2()`.  The collapsing should be done in this latter function and not in the `rm_anova()`. Please do feel free to submit a PR, that would be greatly appreciated. Since I've made quite a lot of changes on several functions for the next release, I'd recommend that you submit it on the dev

[2019-03-21 21:20] PanBartosz commented on #10
Cool! Tomorrow I will add it and make a PR.

By the way: what do you think about implementing following statistical techniques in Pingouin:
1. Power analysis for chi suqare test of independence
2. Effect size for RxC tables (Phi and Cramer's V)
2. Some reliability measures (inter-rater reliability and Cronbach alpha)

To be honest I absolutely love Pingouin as a outputting-beatiful-and-informative

[2019-03-21 21:27] raphaelvallat commented on #10
That would be great! These are not tests that I use in my field but if you think that this can be useful to you and others then please do feel free to submit PRs. And it's fantastic if you can also write some tests against R. I really want Pingouin to be a community-driven package so thank you for all this, I really appreciate!
Raphael

[2019-04-01 14:06] stephantul opened #11 "SyntaxError when importing on python < 3.6"
Hey,

Thanks for the great package.

The documentation of Pingouin states that it is strongly recommended that python >= 3.6 is used, which seems to imply that the package is usable with other versions. This is not the case.
Importing Pingouin on python < 3.6 fails, because [this line](https://github.com/raphaelvallat/pingouin/blob/e1855aa28da8bbe4de28781a280724dea92f91b0/pingouin/plotting.py#L137

[2019-04-01 15:49] raphaelvallat commented on #11
Hi @stephantul!
Thank you for this! I have fixed the f-string issue in the develop version of Pingouin, which I hope to release in the next week or so.

You are right for Python 2.7, I have just changed the README & doc to say that Pingouin only works with Python 3. This will be visible in the next release.

Thank you again,
Have a great day,
Raphael

[2019-04-01 15:49] #11 closed

[2019-04-03 16:33] raphaelvallat commented on #10
Hi @PanBartosz !
Is there any chance that you can submit the PR for the rm_anova2 collapsing to the mean by the end of the week? I'd love to include it in the soon-to-come new release of Pingouin. If you don't have the time, just let me know and I'll make the changes!
Thanks - Raphael

[2019-04-03 16:35] #5 closed

[2019-04-05 23:15] raphaelvallat commented on #10
Hi @PanBartosz ! Ok I've addded it in commit 33e36761d1d26b156fe9a93bddb20cb35f5b8476, this will be included in the soon to come next release of Pingouin. Please feel free to submit PRs for the functions that you have mentionned above (power analysis, reliability, etc).

Thank you again for your input!

[2019-04-05 23:15] #10 closed

[2019-04-05 23:41] raphaelvallat commented on #9
Hi @Leicas!

Just published the release 0.2.4 of Pingouin that includes non-parametric post-hoc tests! I am closing the issue. Thanks again for your input!

Raphael

[2019-04-05 23:41] #9 closed

[2019-04-07 08:30] eotp opened #12 "Normality function (Shapiro-Wilk test) and NaNs"
At the moment the `normality` function does not account properly for `NaN`s in the data.

[code]
Though a _p_ value of 1 is suspicious anyway, it would make sense to provide a warning message or an argument to remove the `NaN`s.

[code]

[2019-04-07 15:27] raphaelvallat commented on #12
Indeed, thank you @eotp for the suggestion! We are going to make some major changes to the `normality()` function for the next release (see also https://github.com/raphaelvallat/pingouin/issues/6), including an option to automatically remove missing values, as you suggested.
Have a great day!
Raphael

[2019-04-07 15:30] raphaelvallat commented on #6
Hi @hoechenberger ! Are you still working on the normality function? Just wanted to let you know that it'd be great to add a `remove_na=True` argument to automatically remove missing values as well (as suggested in https://github.com/raphaelvallat/pingouin/issues/12).
Thank you!
Raphael

[2019-04-08 16:09] raphaelvallat opened #13 "Add 95% CI for ttest function"
See gitter chat.

[2019-04-22 16:16] raphaelvallat commented on #13
Done in 643c9ed3cc7afab3a838f6067096223f0b9afc02 (v0.2.5)

[2019-04-22 16:16] #13 closed

[2019-04-24 08:22] clementpoiret opened #16 "Two-Way ANOVA: 'Substract' did not contain a loop with signature matching types"
Good morning.

I'm trying to do a two-way ANOVA. My dataset is looking like this:

[code]

Gender and Success are my between variables.

So I'm doing:
`pg.anova(dv=v, between=["gender", "success"], data=output, detailed=False)`

And I got this error:
[code]

If I remove either gender or success, the code is working well.
Is there any fix?

Thanks,
Clément.

[2019-04-24 15:43] arthurpaulino opened #17 "New feature: Pearson's chi-squared test."
[This is a test](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test) that I use a lot to understand the relationship between categorical data.

[SciPy](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) has it's own implementation, but we have to feed it with a contingency table. The contingency table is easy to build (using `pandas.crosstab`, for insta

[2019-04-24 16:28] raphaelvallat commented on #16
Dear @clementpoiret,
I cannot replicate your error, I've tried your code and it works just fine (see the image below). The most likely explanation is that there is a "str" in your dependent variable, so I would first make sure that `v` is numeric with `output['v'] = pd.to_numeric(output['v'])`. Please also make sure that you have the latest version of Pingouin and Pandas (and Python >= 3.5).

![te

[2019-04-24 16:38] raphaelvallat commented on #17
Hi @arthurpaulino!

Thank you for your message! I don't use this test very often, but I'd be happy to implement it in the next release (or more realistically the one after the next). It would be very helpful if you could share a Jupyter Notebook showing how you would typically do this test using Pandas + SciPy, as well as the kind of metrics / information that you would be interested in having as

[2019-04-24 17:47] arthurpaulino commented on #17
Hello @raphaelvallat,

Sure, I'm working on it. While researching, I think I found how the extra metrics could be explicit on the results.

The test can be performed with a few different values for `lambda_`, as seen [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.power_divergence.html#scipy.stats.power_divergence). And for each value of `lambda_`, there should be a differe

[2019-04-24 20:19] arthurpaulino commented on #17
Alright, that took a while. It was a good learning experience for me.

I tried to keep the example as minimal and organized as possible. The result is somewhat close to a final version of what `gp.chi2` would look like. The notebook link is [here](https://www.kaggle.com/arthurpaulino/chi-squared-tests-example).

It was inspired by [SciPy's implementation](https://github.com/scipy/scipy/blob/6e782c

[2019-04-24 21:17] raphaelvallat commented on #17
Thank you @arthurpaulino, this looks great! I'm gonna look at that more in details this weekend, and hopefully should be able to include it in the next release or so then. (Btw if you prefer to work on a PR of your own, please feel free to fork the develop branch and submit it when you're done ;-))
Thanks!

[2019-04-25 16:40] clementpoiret commented on #16
Thanks for your answer Raphael. Unfortunately, all of my columns are float64.
Here is my csv : https://pastebin.com/RZvk56Dg

I made a really simple code printing dtype of my variables, and I tried to do an Anova. I have the pingouin 0.2.4 :
![Code](https://i.imgur.com/LghyEI3.png)

[2019-04-25 19:20] arthurpaulino commented on #17
That'd be great. I'm just a bit busy lately, but I'm eager to participate and help :D

[2019-04-25 22:17] raphaelvallat commented on #16
Thanks @clementpoiret ! Ok so you're right, I realized that there are several mistakes in the `pg.anova2` function (all the other ANOVA functions have been tested against R and JASP but not this one).

I'll have to fix the code and publish a new release asap, but in the meantime I suggest that you run the two-way ANOVA using statsmodels, R, or JASP.

Sorry about that and thanks for pointing out th

[2019-04-26 01:10] raphaelvallat commented on #16
HI @clementpoiret ! Quick update. So the issue was that in the case of **unbalanced** two-way ANOVA (e.g. your dataset), the sums of squares were not properly computed, hence your error. I have solved this error in the latest commit: the `pg.anova` function will now make an internal call to statsmodels when the groups have unequal sample sizes. For now, this is only on the _develop_ branch of Ping

[2019-04-26 08:36] clementpoiret commented on #16
Thanks to you for your hard work! You already saved me for another work for Mixed Model Anova, your lib is fantastic :)

[2019-04-26 15:15] raphaelvallat commented on #16
Merci beaucoup Clement :-) -- really appreciate your kind words!

[2019-04-26 15:15] #16 closed

[2019-04-26 15:16] raphaelvallat opened #18 "QQplot lognorm sparam"

[2019-04-26 17:16] raphaelvallat opened #19 "Epsilon and Mauchly interaction in rm_anova2 differ from JASP"

[2019-04-27 01:31] raphaelvallat opened #20 "Add semi-partial correlation"

[2019-04-28 02:52] raphaelvallat commented on #20
Done in a851bdd8a9c4b5ca35ec6cdc765c3a6669e60e6e

[2019-04-28 02:52] #20 closed

[2019-04-28 03:18] raphaelvallat commented on #18
Fixed in 68743dedb8d6a45d3f065cd5bb9c2ce934342265

[2019-04-28 03:18] #18 closed

[2019-05-07 01:30] arthurpaulino commented on #17
Working on it and learning a lot! (https://github.com/arthurpaulino/pingouin/commit/41f176f176c27c4e1d17e2832a6b603d25061ef2)

I'll implement the tests tomorrow. Any feedback is already welcome :smiley:

[2019-05-07 01:30] arthurpaulino commented on #17
Working on it and learning a lot! (https://github.com/arthurpaulino/pingouin/commit/41f176f176c27c4e1d17e2832a6b603d25061ef2)

I'll implement the tests tomorrow. Any feedback is welcome :smiley:

[2019-05-07 03:17] raphaelvallat commented on #17
This looks absolutely great @arthurpaulino ! Amazing job, can't wait to try it out!

[2019-05-07 03:31] raphaelvallat commented on #17
PS: you also need to add the datasets to the [MANIFEST.in](https://github.com/raphaelvallat/pingouin/blob/master/MANIFEST.in) file, otherwise the example dataset will not be installed with pip!

Thanks!

[2019-05-07 19:02] arthurpaulino opened #22 "welch_anova docs"
Both [Wikipedia][wiki] and [Real Statistics][real] mention that the Welch's test is useful when we have samples of different sizes, but [pingouin][pg]'s documentation does not. Wouldn't it be interesting to contemplate that piece of information?

[wiki]: https://en.wikipedia.org/wiki/Welch%27s_t-test
[real]: https://www.real-statistics.com/one-way-analysis-of-variance-anova/welchs-procedure/
[pg]:

[2019-05-07 19:12] raphaelvallat commented on #22
Indeed, good idea @arthurpaulino! I think we can just probably copy-paste the following sentence from Wikipedia: _"... and is more reliable when the two samples have unequal variances and/or unequal sample sizes."_.
Would you mind adding that in the chi2 pull request?

Thanks! Raphael

[2019-05-07 19:32] arthurpaulino commented on #22
Will do :)

[2019-05-07 20:02] arthurpaulino commented on #22
done https://github.com/raphaelvallat/pingouin/pull/21/commits/d83a5a29d13477ae8ba106c4bae57c59826e1205

also, some minor fixes.

[2019-05-07 21:12] #22 closed

[2019-05-07 21:13] #17 closed

[2019-05-09 18:04] arthurpaulino opened #23 "Contingency: exact tests"
Tests currently planned to be supported:
* Fisher's exact test
* Barnard's test

[2019-05-09 18:52] raphaelvallat opened #24 "Add power and effect size for chi-square test"
* New function: `pingouin.power_chi2`
* Add Cramer's V and statistical power to `pingouin.chi2`

[2019-05-09 18:55] arthurpaulino opened #25 "Contingency: Cochran–Mantel–Haenszel test"
`pg.chi2_cmh` also requires a `stratify` parameter.

Sources to study:
* https://en.wikipedia.org/wiki/Cochran%E2%80%93Mantel%E2%80%93Haenszel_statistics
* http://www.biostathandbook.com/cmh.html
* http://rcompanion.org/rcompanion/b_10.html
* https://www.statisticshowto.datasciencecentral.com/cochran-mantel-haenszel-statistic-test/

[2019-05-09 19:10] arthurpaulino opened #26 "Contingency: Odds and risk ratios"
Should we incorporate them on the `chi2_binary`? Or create a new function? Or just leave those metrics out?

Source to study: http://www.real-statistics.com/chi-square-and-f-distributions/effect-size-chi-square/

[2019-05-09 23:31] arthurpaulino commented on #23
Good source: http://www.nbi.dk/~petersen/Teaching/Stat2009/Barnard_ExactTest_TwoBinomials.pdf

[2019-05-13 16:12] arthurpaulino opened #27 "Contingency: McNemar's test"
https://en.wikipedia.org/wiki/McNemar%27s_test

[2019-05-13 16:13] arthurpaulino opened #28 "Contingency: Cochran's Q test"
https://en.wikipedia.org/wiki/Cochran%27s_Q_test

[2019-05-21 18:14] raphaelvallat opened #29 "Statsmodels fails with scipy 1.3.0"
Need to wait for the next statsmodels release to fix that:
See https://github.com/statsmodels/statsmodels/issues/5747 and https://github.com/statsmodels/statsmodels/issues/5759

Functions that fail are:
- `ancovan`
- `anova2` with unbalanced design

[2019-05-21 22:06] arthurpaulino commented on #27
In progress.
Started at: https://github.com/arthurpaulino/pingouin/commit/894ac2ca8f017d2e2344b6f13d57b2ce46f97ff8

[2019-05-27 23:23] raphaelvallat commented on #24
`power_chi2` function added in 08e77f28184f0325fe82d736d7fd8a1bc0c5ddd4

[2019-05-28 02:21] raphaelvallat commented on #12
I completely rewrote the normality function, which now applies an automatic casewise deletion. The changes will be visible in the next (June) release of Pingouin.

See develop commit at 9a7fc50ac79b5c287a433e151cc55136029415d6

Thanks again!

[2019-05-28 02:21] #12 closed

[2019-05-28 02:23] raphaelvallat commented on #6
Hi!

I am closing this issue since I completely rewrote the `normality` function:
-  support for pandas dataframe (wide or long format)
- support for scipy.stats.normaltest
- casewise deletion of missing values

The changes will be visible in the next (June) release of Pingouin.
See develop commit at 9a7fc50ac79b5c287a433e151cc55136029415d6

Thanks!

[2019-05-28 02:23] #6 closed

[2019-05-29 00:28] remrama opened #30 "wilcoxon p-value"
There's a line (245) in the `wilcoxon` function of `nonparametric.py`:
[code]

I _think_ this is intended to work as
[code]

but is actually doing
[code]

Easy fix if I'm right! :)

Also, far less important but while I'm here:
pingouin docs for wilcoxon says "A continuity correction is applied by default..." but this is not the case, right?? Scipy wilcoxon's default is `False`, and pingouin also e

[2019-05-29 06:08] raphaelvallat commented on #30
Thank you so much @remrama for noting this (major) error. As a result, all the two-sided p-values from the `wilcoxon` function were squared, and therefore smaller. This is now fixed in 6aa339ef6e89b3182c9e092ba1d45896b395fe85 (as well as the correction, thanks for noting that too!), and I will publish a new release ASAP.

Thanks again for your sharp eyes!
Raphael

[2019-05-29 16:30] #27 closed

[2019-05-29 17:16] arthurpaulino opened #33 "Convert invalid dichotomous crosstabs"
Make it 2x2. If `b == 0` and `c == 0`, raise `ValueError`.

[2019-05-29 18:06] #33 closed

[2019-05-29 22:42] raphaelvallat opened #36 "Rewrite homoscedasticity function to support pandas wide and long format"
See new version of `normality()`

[2019-05-29 22:43] raphaelvallat commented on #24
Done in 76df8712cb476d79941daa489334e32b719a3845

[2019-05-29 22:43] #24 closed

[2019-05-30 00:05] arthurpaulino opened #37 "Contingency: tests against other software"
Validate contingency tests against implementations from R, SPSS and JASP

[2019-05-30 21:32] raphaelvallat commented on #37
See 202a2f79bfd9aae6f1fdcf15865f573f04cea178

[2019-05-30 21:36] #37 closed

[2019-05-30 22:21] raphaelvallat opened #39 "bayesfactor_pearson return different results than correlationBF"
See https://github.com/cran/BayesFactor/blob/0a1fe0bedf62549a466c9ec5db8b8b5a0217f0c6/R/correlationBF.R

[2019-05-30 22:22] raphaelvallat commented on #39
Current calculation are based on https://github.com/anne-urai/Tools/blob/71c30c15c2b9a0a658873502c269783b2b63a155/stats/BayesFactors/corrbf.m

[2019-05-30 22:48] raphaelvallat commented on #39
https://github.com/richarddmorey/BayesFactor/blob/master/pkg/BayesFactor/R/correlation-JASP.R

[2019-05-30 23:08] raphaelvallat commented on #39
The code below gives similar results to the R BayesFactor::correlationBF function:
[code]

[2019-05-31 22:46] raphaelvallat commented on #36
Resolved in d564e409d10e5276d8584d2e1e619556999b84b2

[2019-05-31 22:46] #36 closed

[2019-05-31 22:48] raphaelvallat opened #40 "plot_shift function differs from R"
See https://garstats.wordpress.com/2016/07/12/shift-function/ and https://garstats.wordpress.com/2016/07/29/matlab-shift-function/

@LegrandNico

[2019-06-01 02:22] raphaelvallat commented on #23
@arthurpaulino Should we create a `chi2_exact(method='fisher')` function with `method in ['barnard', 'fisher']`? The default for 2x2 being `barnard` and `fisher` for other shapes of contingency tables.

[2019-06-01 12:40] arthurpaulino commented on #23
@raphaelvallat Don't you mean the opposite though? If I recall correctly, Barnard's test is the one that allows other shapes rather than 2x2.

[2019-06-01 14:36] raphaelvallat commented on #23
http://www.nbi.dk/~petersen/Teaching/Stat2009/Barnard_ExactTest_TwoBinomials.pdf

https://en.wikipedia.org/wiki/Barnard%27s_test

[2019-06-01 16:13] arthurpaulino commented on #23
I see. But I thought that Fisher's test was incompatible with tables that weren't 2x2. I guess I was wrong:

[2019-06-01 22:40] raphaelvallat commented on #39
Resolved in 5450bfce819ac3eec1737cab2e0d52d19b12a9a7

[2019-06-01 22:40] #39 closed

[2019-06-02 17:45] raphaelvallat commented on #40
Added warning in doc 857963642b4adc8a9f5f6af303e1292abcb22f61

[2019-06-03 04:11] raphaelvallat commented on #19
- `pg.epsilon` with two-way design gives slightly different but consistent GG and HF values
- `pg.sphericity` do not work with two-way design: values are completely inconsistent.

[2019-06-03 15:29] raphaelvallat commented on #30
Just published Pingouin 0.2.6 that fixes this error. Closing the issue. Thanks again!

[2019-06-03 15:29] #30 closed

[2019-06-04 21:50] raphaelvallat opened #42 "Effect size for (Welch) ANOVA"
1. Add more effect size options to `pingouin.anova` and `pingouin.rm_anova`
2. Add a measure of effect size for `pingouin.welch_anova` (but which one -- is partial eta-squared suitable?)

[2019-06-04 21:50] raphaelvallat opened #43 "Power for repeated measures ANOVA"
Create `pingouin.power_rm_anova` function

[2019-06-04 21:53] raphaelvallat commented on #19
Fixed for two-way interaction where one factor has only two values in  e734df524be74504b6c66bb8dab41001bdb96573

[2019-06-04 21:54] raphaelvallat commented on #19
In two-way repeated measures where each within factors have more than two levels, I think the regression approach is the only way. Need to create the design matrix using Patsy.

[2019-06-04 22:04] raphaelvallat commented on #43
Useful links:
- https://rdrr.io/cran/WebPower/man/wp.rmanova.html
- Source: https://rdrr.io/cran/WebPower/src/R/webpower.R

[2019-06-13 03:44] raphaelvallat opened #44 "Better handling of 'greater' & 'less' tails (alternative) for hypothesis testing"
This affects several Pingouin functions (T-test, effect sizes...).

- **T-test**: The confidence intervals of the difference in means should be Inf on one of the two sides, as in the R [t.test function](https://github.com/SurajGupta/r-source/blob/a28e609e72ed7c47f6ddfbb86c85279a0750f0b7/src/library/stats/R/t.test.R#L98).

Or should we automatically determine the 'greater' and 'less' using the sign

[2019-06-16 02:17] raphaelvallat commented on #43
Pushed in b70564f8fc5f53279ebc09d1dbddcd2a2d5763f9

[2019-06-16 02:21] #43 closed

[2019-06-25 15:18] raphaelvallat opened #45 "Add support for three-way ANOVA"
Using statsmodels:
- https://www.statsmodels.org/stable/anova.html
- https://www.statsmodels.org/stable/generated/statsmodels.stats.anova.anova_lm.html

[2019-06-26 00:28] raphaelvallat commented on #29
Resolved in Pingouin 0.2.7.

[2019-06-26 00:28] #29 closed

[2019-06-26 21:06] raphaelvallat commented on #45
Done in abb53c40831932b14924b893b4202f8b8fcf4d08

[2019-06-28 14:41] Leicas commented on #44
I was gonna ask about that, I looked at the code and the wilcoxon handling of one side tails is just 0.5 the P value of the two sided.
So instead of `distributions.norm.sf(z)` it's doing `0.5*2. * distributions.norm.sf(abs(z))` , which looks like a "greater" but actually is not the same.
I know it's been introduced by the 1.3.0 version of scipy but I think the current implementation should maybe p

[2019-06-28 17:19] raphaelvallat commented on #44
Hi @Leicas!

So I've been wanting to add the option to choose between 4 different tails values on all hypothesis-testing Python functions, (i.e. `tail=('two-sided', 'greater', 'positive', 'one-sided')`), and by extension, the [pingouin.pairwise_ttests](https://pingouin-stats.org/generated/pingouin.pairwise_ttests.html#pingouin.pairwise_ttests) function as well.

The [pingouin.wilcoxon](https://pin

[2019-06-28 17:58] Leicas commented on #44
Hi!
Nice for the 4 tails values.

2) I'm not sure why half a two-sided p-value would be of interest... I saw
the implementation on the mwu but honestly don't see why it would be
something else than "positive"/"negative" as I think choosing the side is
important in the hypothesis formulation.

Thanks,

Le ven. 28 juin 2019 à 13:19, Raphael Vallat <notifications@github.com> a
écrit :

[2019-06-28 18:27] raphaelvallat commented on #44
Yes, agreed! So, I'll change the behavior of the `pingouin.wilcoxon` function to match the `pingouin.mwu` function and include it in the next or so release.

Thanks again, and if there are any other changes that you'd like to make to the `pingouin.pairwise_ttests` or any other functions, please feel free to make a PR!

Have a great day,
Raphael

[2019-07-01 19:40] sknepal opened #46 "Rmcorr Issues"
Hi,

Noticed some issues while trying rmcorr.

- If the column you pass is non-numeric, it just results in an assertion error with no error message. The r library rmcorr() returns message saying: _'Measure 1' and 'Measure 2' must be numeric_. Maybe return some message like this?

- In ancova, `bw = ss_slopes.sum() / ss.sum()` (and `ss_c = ss_slopes.sum() * bw`) returns NaN if any of the values in

[2019-07-02 10:19] clementpoiret opened #47 "Add support for Aligned Rank Transformed data Anova"
Good morning,

I had to work on non-normal and heteroscedastic variables but had to compute interactions between those variables. Unfortunately, no methods in your package allow to do so.
I found ART beeing quite straight forward and easy to use. I think it could be very valuable to include ART inside your library.
The actual solution is to run ARTool through rpy2 which is neither performant nor e

[2019-07-02 17:44] raphaelvallat commented on #47
Hi @clementpoiret!

Indeed, this looks like a great addition to the [pingouin.nonparametric.py](https://github.com/raphaelvallat/pingouin/blob/master/pingouin/nonparametric.py) file. After a quick read of the paper you sent, I think the 2-factors should be very easy to implement. However, if we want to implement a _N_-way ART, I think we're gonna have to use a regression approach, either using sta

[2019-07-02 18:03] raphaelvallat commented on #46
Hi @sknepal !
I just pushed a new commit to the develop branch to take into account your suggestions (see 71e60a8343cb605cabc35a3e06312e5b0f05455f). This will be released in the next release of Pingouin, probably end of July or early August.

Quick question: could you give an example of when `ss_slopes` contains NaN? Both the rm_corr and ANCOVA function apply an automatic deletion of NaN values. D

[2019-07-08 00:20] #44 closed

[2019-07-08 00:48] #46 closed

[2019-07-08 00:48] #45 closed

[2019-07-08 01:13] raphaelvallat opened #48 "Add support for TOST equivalent test"

[2019-07-08 15:09] clementpoiret commented on #47
I may try, but I have a lot a work to publish a paper before August, I'll see if I can find the time to do that.

[2019-07-08 18:54] raphaelvallat opened #49 "Bayes Factor T-Test should have same behavior as JASP for one-sided test"

[2019-07-18 22:43] #48 closed

[2019-07-23 07:07] xigrug opened #52 "module 'numpy' has no attribute 'format_float_positional'"
I try to run the example
[code]
 The erroe is module 'numpy' has no attribute 'format_float_positional'

Python 3.6.7
statsmodels-0.10.1
pingouin-0.2.8
numpy-1.16.4

[2019-07-23 14:58] raphaelvallat commented on #52
Hi @xigrug ! Are you sure that you have Numpy 1.16.4? I believe the `numpy.format_float_positional` was added in Numpy 1.14.0, so it seems that you don't have the latest version of numpy. Please update with:

`pip install --upgrade numpy`

and then in a iPython console / Jupyter notebook:

[code]

Thanks

[2019-07-25 22:52] raphaelvallat commented on #52
Hi @xigrug ! Did you find the solution to your problem? Unless I hear from you I will close this issue in a few days since I cannot replicate the error and I suspect it's mostly an outdated dependency error.
Thanks

[2019-07-28 05:32] ejolly opened #53 "logistic regression is using regularization by default"
Thanks for the awesome package! I noticed a small concern with the logistic regression implementation. Since pingouin relies on `sklearn`'s `LogisticRegression` implementation, it's worth noting that it implements L2 regularization by default with a hyperparameter value `C=1`.

This results in coefficients being penalized by default, and I suspect (but not 100% sure) the standard-error and p-value

[2019-07-28 14:21] #52 closed

[2019-07-28 14:31] raphaelvallat commented on #53
Thanks @ejolly this is very useful! I've replied directly to the PR.

[2019-07-28 23:12] #53 closed

[2019-08-06 14:53] dominikstrb opened #55 "Circular correlation for uniform marginals"
According to Jammalamadaka & Sengupta (2001, pg. 177) the circular means are not well defined if the marginal distribution of one of the angles is uniform. This leads to wrong estimates of circular correlations in these cases. There is an alternative formulation of the circular correlation coefficient that deals with this problem (see equation 8.2.4 in Jammalamadaka & Sengupta, 2001). This impleme

[2019-08-06 15:14] raphaelvallat commented on #55
Hi @dominikstrb ! This is interesting, thanks for sharing! I, unfortunately, don't have access to the book, any chance that you could send me a screenshot of the relevant paragraph/equation?

Here are a few thoughts:

1) I would probably leave the current method as the default, to be consistent with the Matlab circular toolbox.

2) However, we can indeed add an optional argument for this method. W

[2019-08-08 11:26] dominikstrb commented on #55
Thanks for your quick answer!

I took a ![screenshot of the relevant page](https://user-images.githubusercontent.com/23743923/62699014-cd509780-b9de-11e9-9d7c-86eac2b5eb99.png)

My answers to your thoughts:
1. Definitely!
2. I think as long as there's only one alternative method, one boolean kwarg should be enough, if the user is referred to the relevant literature.
3. I wasn't able to find one, u

[2019-08-08 15:25] raphaelvallat commented on #55
Hi @dominikstrb ! Yes, please start working on a pull request :) Make sure to push on the develop, and not the master, branch. Thanks!

[2019-08-22 15:46] raphaelvallat opened #56 "Add support for pairwise deletion in pairwise_ttests"
See Gitter chat

[2019-08-25 00:39] raphaelvallat commented on #56
Added in 26701cb6aa89f5a297d15df72062106a63e4c288
Will be available in the next stable release of Pingouin

[2019-08-25 00:51] raphaelvallat opened #57 "Add support for listwise deletion in pairwise_corr"

[2019-08-29 08:29] samuelstjean opened #58 "Feature request - option for not testing interaction in pairwise ttests"
Hello,

Might be a bit specific, but I was wondering if that was an idea. I'm currently using it as a cheap way to posthoc test everything and am not super interested in interaction effects as for some cases it would make no sense. However, it seems that doing these tests is

1a. memory hungry, because it probably checks for all interactions
1b. could maybe reuse / make better use of temporary var

[2019-08-29 15:11] raphaelvallat commented on #58
Hi @samuelstjean ! Thanks for this!

1) A quick workaround is to call separately each factor that you are interested in, e.g.:

`pg.pairwise_ttests(..., between="fac1")`

followed by

`pg.pairwise_ttests(..., between="fac2")`

instead of `pg.pairwise_ttests(..., between=["fac1", "fac2"])`

I'll try to add an option to test only the interaction or main effect in future release.

2) I agree with you

[2019-08-29 17:48] hoechenberger opened #59 "Use pandas_flavor to extend pandas functionality"
Currently, `pingouin` imports `pandas` and mokey-patches the `DataFrame` to add new methods. The "proper" way to achieve this, however, is to use the pandas extension API, most probably via [`pandas_flavor`](https://github.com/Zsailer/pandas_flavor) (`pyjanitor`, for example, [does this too](https://pyjanitor.readthedocs.io/#adding-new-functionality))

One simply needs to import `pandas_flavor` an

[2019-08-29 17:55] raphaelvallat commented on #59
Hi @hoechenberger!

I like this, thanks so much for sharing the pandas_flavor package. I agree that using a decorator is much more elegant. Do you have time to work on a PR on the develop branch?

Thanks!
Raphael

[2019-08-29 17:58] hoechenberger commented on #59
Hi @raphaelvallat, I won't have time for a few weeks I'm afraid. Just wanted to leave this here so it won't be forgotten ;) Best wishes!

[2019-08-29 18:30] raphaelvallat commented on #59
Got it, I'll add this to my todo list then :-)
Thanks again for the tip @hoechenberger!

[2019-08-30 03:19] raphaelvallat commented on #57
Added in 29c80e577d428586baf23f6001fc396820074201

[2019-08-30 03:19] #57 closed

[2019-08-30 04:16] raphaelvallat commented on #59
Added in 93d74d332fe767f9f8278c1cf86b7d78581f5771

[2019-08-30 04:16] #59 closed

[2019-08-30 06:04] hoechenberger commented on #59
Awesome, thanks!

[2019-08-30 06:06] hoechenberger opened #60 "Keyword-only arguments"
The docs mention that one should ideally pass parameters as keyword arguments, not by position. I'm wondering why this isn't simply enforced? Python 3 supports keyword-only arguments. It's as simple as changing a function signature from
[code]
to
[code]
Now, positional arguments won't be accepted anymore.

[2019-08-30 06:12] hoechenberger opened #61 "Type hints"
A great addition in Python 3 are [type hints](https://blog.jetbrains.com/pycharm/2015/11/python-3-5-type-hinting-in-pycharm-5/), which can make development less error-prone if an IDE is used that supports this feature.

Here's an example from one of my projects that's using type hints (and keyword-only arguments, for that matter):

https://github.com/hoechenberger/questplus/blob/9d5a6b9fc7bafd000d

[2019-08-30 06:36] hoechenberger commented on #40
Cool,  I missed you've added shift function plots, awesome! I've been using my own implementation of this stuff, maybe we can exchange thoughts (and code) some time soon? :)

[2019-08-30 06:42] hoechenberger opened #62 "Empirical CDF shift functions"
I sometimes plot shift functions as / via empirical cumulative distribution functions, to avoid the troubles that come with kernel-density estimates. Would be great to see this feature in Pingouin as well. I typically use [`statsmodels.distributions.empirical_distribution.ECDF`](https://www.statsmodels.org/devel/generated/statsmodels.distributions.empirical_distribution.ECDF.html) to estimate the

[2019-08-30 07:18] samuelstjean commented on #58
Ah yes,  kind of did that, I cheated by taking parts of my panda frame (reusing the same memory array every time), calling the whole thing on it, and finally re-computing correct pvals for the final result, therefore avoiding the interaction effects.

I guess it's a bit too specific, but well for general purpose tests (and other fields) it may be helpful indeed. I'm afraid I'm a bit busy to have a

[2019-08-30 09:20] LegrandNico commented on #59
Thanks for sharing this @hoechenberger, I didn't know this was available. Indeed much more elegant than the brute force method I shared ;)

[2019-08-30 15:53] raphaelvallat commented on #60
Hi @hoechenberger !

I remember that we had a discussion about that a few months ago. Keywords only argument are great, and I definitely plan to implement them in future releases. My only concern is that for users that are beginners in Python, it can be a bit confusing to see `def f(*, ...)` in the documentation of the function. It will also certainly break existing code of potentially many curren

[2019-08-30 15:57] raphaelvallat commented on #61
Thanks @hoechenberger for another great Python tip! A few questions:
1. Do you know if this feature is supported by Jupyter Lab?
2. And can it support multiple input type (e.g. a Series, a list, and a numpy array for the same argument?). Looking at your code, I think you have to use `Union`, is that correct?
3 How is this displayed in the Sphinx documentation? I don't want to overburden the API wi

[2019-08-30 15:58] raphaelvallat commented on #58
- Added `interaction` argument to pairwise_ttests in cef2a0f3c35e1e5d61a2f3e39ab32e3d80ef00ca
- Currently working on improving speed and memory

[2019-08-30 16:01] raphaelvallat commented on #62
Hi @hoechenberger ! This looks great 👏! Any chance that you could share your code?

I didn't implement the plot_shift function, so I will let @LegrandNico replies to this one (see also issue https://github.com/raphaelvallat/pingouin/issues/40).

Thanks!

[2019-09-01 11:50] hoechenberger commented on #62
@raphaelvallat @LegrandNico
My current implementation is not generic enough to share – it's more or less closely coupled to a specific analysis we're doing. But I'm planning to refactor the code to make it re-usable, yes. Maybe some time next week!

[2019-09-03 04:09] raphaelvallat commented on #58
Minor improvements in speed and memory:
- 2d11acfb503ea80d26f7038396ff30b65620c6af
- 39975fb8aab115ce596b27cf541617320b52b85d
- 36070fc73e4a0021c27c0b1e15cf9d3785c2d68f

These changes are available on the develop branch and will be released in Pingouin 0.2.9 (sometimes in September).
Closing the issue for now but please feel free to reopen.
Thanks
Raphael

[2019-09-03 04:09] #58 closed

[2019-09-03 04:13] raphaelvallat commented on #61
I don't see any immediate need for type hints in Pingouin as I feel it would only help a fraction of all Pingouin users, at the cost of less-readable API documentation and code.

Closing the issue for now but please feel free to reopen.
Thanks
Raphael

[2019-09-03 04:13] #61 closed

[2019-09-03 04:15] raphaelvallat commented on #55
Hi @dominikstrb! Just wanted to follow-up on the PR. Please let me know if you need any help, or, if you're too busy at the time I can also quickly add it.

Thanks!
Raphael

[2019-09-03 10:29] dominikstrb commented on #55
Thanks for reminding me. I was in fact quite busy the past few weeks, but I managed to create the PR this morning. Hope everything is alright!

[2019-09-03 15:29] raphaelvallat commented on #55
Thanks for the PR @dominikstrb ! Closing the issue now.

[2019-09-03 15:29] #55 closed

[2019-09-19 17:41] clementpoiret opened #65 "BF10 in Anova"
Hi Raphael,

I'm wondering if there is any possibility to compute BF10 from your implementations of ANOVA alongside p-values?

Wish you a nice day,
Clément.

[2019-09-19 17:44] raphaelvallat commented on #65
Hi @clementpoiret!

This is not possible right now, but since you're not the first one to ask this feature, I may try to implement it in a medium-to-long-term future. For now, I'd suggest that you use [JASP](https://jasp-stats.org/) instead.

Thanks!
Raphael

[2019-09-20 01:24] #60 closed

[2019-09-20 06:15] clementpoiret commented on #65
Thanks for your answer!

Have a nice day,
Clément.

[2019-09-20 16:30] raphaelvallat opened #66 "Rmcorr plot"
See https://rdrr.io/cran/rmcorr/man/plot.rmc.html

[2019-09-22 03:55] raphaelvallat commented on #66
Done in e6aa328b92eba87bd506f9d1d980ae0c3b3bdc98

[2019-09-22 03:55] #66 closed

[2019-09-28 19:05] raphaelvallat commented on #47
Hi @clementpoiret ! I'm closing this issue for now because I won't have the time to implement it in the next few months, and I feel that this may not be the highest priority for Pingouin right now. But, please feel free to reopen! Thanks

[2019-09-28 19:05] #47 closed

[2019-09-28 19:05] raphaelvallat commented on #28
Closing for now. Please feel free to re-open.

[2019-09-28 19:05] #28 closed

[2019-09-28 19:06] raphaelvallat commented on #25
Closing for now. Please feel free to re-open.

[2019-09-28 19:06] #25 closed

[2019-09-28 19:06] raphaelvallat commented on #23
Closing for now. Please feel free to re-open.

[2019-09-28 19:06] #23 closed

[2019-10-07 18:50] robotenique opened #67 "Question about homoscedasticity p-value"
I have a simple question, that by reading through the docs I couldn't understand... What exactly is the p-value measuring in the homoscedasticity function? I find it confusing that when I apply the function it returns that equal_var is true, however the p-value is close to 1.

Does someone have a reference to how can I interpret this? Thanks!

[2019-10-07 18:59] raphaelvallat commented on #67
Hi @robotenique ! The levene/bartlett test implemented in [pingouin.homoscedasticity](https://pingouin-stats.org/generated/pingouin.homoscedasticity.html#pingouin.homoscedasticity) test the **NULL** hypothesis that the group variances are equal. In other words, a p-value above the 0.05 significance level means that you **fail to reject the null hypothesis**, i.e. there is insufficient evidence to

[2019-10-07 20:01] robotenique commented on #67
Thank you, now I understand it :D

[2019-10-07 20:01] #67 closed

[2019-10-11 06:17] raphaelvallat opened #68 "Better ICC function"
https://cran.r-project.org/web/packages/psych/psych.pdf
https://github.com/cran/psych/blob/master/R/ICC.R

1. Support other types
2. Missing values removal
3. Add linear mixed effect (statsmodels) to allow for missing values?
4. Reverse item that do not positively correlate with total score

[2019-10-12 00:25] raphaelvallat commented on #68
1 and 2 done in 2d63403b9429184fb075e67b2861c132655a226d

[2019-10-12 23:52] raphaelvallat commented on #40
Hi @LegrandNico !

I just updated the plot_shift function to use the Harrel-Davis quantile estimator together with bias-corrected bootstrap confidence intervals. Is there any chance that you could have a look at the commits (da0f6a0dbae317e0a7585beeba66149b27a670a6 and f02d0de55c4cc10265e0ffc1f77197bc57c10e38) and make sure that everything seems right, perhaps testing on some of your own data? I r

[2019-10-19 11:57] LegrandNico commented on #40
This is a great addition to the shift function. Maybe in the future we could dissociate a `shift()` function (paired or not), outputting delta and delta_ci from 2 vectors of observations, and the `plot_shift` creating the figure. The `shift` function could then implement different approaches for percentiles and CI estimation (see many alternatives to the "classic" shift here https://garstats.wordp

[2019-10-19 16:03] raphaelvallat commented on #40
Hi @LegrandNico ! It's a great idea -- let's do that! I think I might release the new version (0.3.0) of Pingouin with the current updated `plot_shift` function and we can split into 2 functions for the 0.3.1 release (around January).

[2019-10-28 23:40] kristianeschenburg opened #69 "spherical statistics"
Is there any interest in expanding this to spherical data?  I've been using the "Directional" R package to fit spherical VMF models and perform spherical regression, but it'd be great to have something for Python.

[2019-10-28 23:56] raphaelvallat commented on #69
Hi @kristianeschenburg! I never use spherical analysis in my day-to-day analyses, and my knowledge on the topic is very limited. Therefore, I am not planning to implement it in Pingouin anytime soon. That said, please feel free to contribute. I'd be happy to help you create a pull request. I am also leaving the issue open in case others want to second your request. Thanks!

[2019-11-14 06:25] hoechenberger commented on #62
I will be looking into this soon-ish. I have not forgotten about it :)

[2019-11-14 06:57] hoechenberger opened #70 "Allow to add rugplot to shift function plots"
Additionally to the issues / requests raised in #40 and #62, I think it would be great to have the possibility to disable the pointplots and get a rugplot instead (or plot both, if desired). I just had a look at the code and believe quite some refactoring would be required to get this to work. But should be doable :)

[2019-11-19 06:20] alonappleboim opened #71 "assertion error in power.py // power_corr"
((First bug report so pardon the format))

I get this assertion error when running pairwise correlations. This happens if some column combination has less than 4 samples that are both not nan..
I suggest a warning and return np.nan in this case instead of an Error.

Thanks for a cool package!

---------------------------------------------------------------------------
minimal code:
`pg.pairwise_co

[2019-11-19 06:42] alonappleboim opened #72 "error when adding pingouin to default imports in IPython / JupyterLab"
Before I provide system specific, perhaps someone else can verify this issue? I'm afraid my system might be a mess.
Thanks,

--------

When I add the import to ~/.ipython/profile_default/ipython_config.py (below), the kernels can't seem to be created (log below). I played around a bit with order of imports and it made no difference.

c.InteractiveShellApp.exec_lines = [
    'import sys, os, collec

[2019-11-19 10:04] alonappleboim commented on #71
In a similar vein, I get an exception when running pairwise_corr in pearsonr when n<2:

------

During handling of the above exception, another exception occurred:

ValueError                                Traceback (most recent call last)
<ipython-input-7-ea2ca4d39540> in <module>()
      8     tmp.columns = [' '.join(col).strip() for col in tmp.columns.values]
      9     kcorr = pg.pairwise_co

[2019-11-19 17:10] raphaelvallat commented on #72
Do you have this issue only with Jupyter Lab, or also with Notebook and iPython (see https://github.com/jupyter/help/issues/189). Also, did you install Pingouin using pip (develop or stable?) or conda?

Thanks

[2019-11-19 17:29] raphaelvallat commented on #71
Hi @alonappleboim! Thanks for the feedback!

- Your first example: it's not a bug but rather a safety net that I've implemented in Pingouin to prevent users from calculating power when the sample size is too small. I would be more in favor of keeping it as is, to be consistent with R, but I'll leave the issue open in case anyone else agrees that it should return a warning + nan.

- For your second

[2019-11-19 17:30] raphaelvallat opened #73 "Y-label shift function is inverted + outdated figure on pingouin's doc"
See Gitter chat

[2019-11-19 20:38] alonappleboim commented on #71
thanks for the quick response!
I understand that both these issues (and similar others I've encountered later on) are relevant when calculating corr for a single sample pair, but when executing multiple pairwise corr calculation, it's very disappointing when one problematic sample-pair causes the failure of the entire calculation. I think the better solution would be caught by the calling methods

[2019-11-19 22:38] raphaelvallat commented on #71
Ok makes sense, I'll try to change the behavior of the pingouin.power functions in future releases so that it returns a warning + np.nan instead of an error. I cannot change SciPy's behavior however so it'll still fail with n<2 (unless I use a Try...Except which I would prefer not for code clarity).
Thanks

[2019-11-20 07:47] alonappleboim commented on #72
In iPython it seems to be ok.
In jupyter notebook it doesn't (kernel seems unresponsive starting from init).
Installed with: ../my/interpreter -m pip install pip pingouin
Note that all other default code work fine (imports, ipy magic etc.)

[2019-11-20 16:21] raphaelvallat commented on #72
And if you remove the specific line of:

`'import pingouin as pg\n'`

in the ipython_config.py file, does it work on Jupyter Notebook / Lab?

I think it might also be worth a try installing Pingouin with conda instead of pip.

Thanks

[2019-11-21 05:36] alonappleboim commented on #72
Yes. The command collection (without the pg line) has been working for weeks (and still is). I'll try installing with conda and update (pip is how I usually install packages and it's been fine so far.)

So I understand that you can't recreate this issue? If it's just me then don't worry about it, my conda env/installation is probably completely messed up by now :)

[2019-11-21 05:55] alonappleboim commented on #72
Installed with "conda install pingouin" and still have the same issue.

[2019-11-21 06:22] raphaelvallat commented on #72
I cannot replicate the error: adding these lines to my profile_default did not work, so I add to create a new iPython profile, and I'm not sure how to run Jupyter Lab or Notebook with this specific iPython profile. But it seems that there might be specific config files for Jupyter Lab / Notebook: https://jupyter.readthedocs.io/en/latest/migrating.html

Also, have you tried simply changing/creating

[2019-11-21 18:58] alonappleboim commented on #72
Then it's probably only my setup.
I tried updating the startup.py script and I get the same issue - no problem importing other modules, but the pingouin import causes the same issue (unresponsive jupyter kernels).

[2019-11-21 22:46] raphaelvallat commented on #72
I am really sorry about that, but indeed I don't think it's an issue related to Pingouin per se. Closing the issue for now but please feel free to re-open if needed. Thanks

[2019-11-21 22:46] #72 closed

[2019-11-29 18:09] cbedetti opened #74 "Unrelated column affects the result of Kruskal test"
Here is an example

[code]

The documentation says "NaN values are automatically removed" but I don't think it should remove lines with NaN values in unrelated columns.

I don't know if other tests behave in the same way.

[2019-11-29 22:04] raphaelvallat commented on #74
You are absolutely right, thanks for pointing that out @cbedetti. I just fixed that in commit 48565ef8d7535d9acb3ca66bae3b6beb72d813b6 (develop branch), and this will be included in the next stable release (December 2019).

Thanks again!

[2019-11-29 22:05] #68 closed

[2019-11-29 22:05] #69 closed

[2019-11-29 22:17] raphaelvallat commented on #71
Hi @alonappleboim! Just pushed a commit to fix this (861914eca0a360fbb9fa2fe9ef1136ac122a29ad). Now the `pingouin.power_corr` function will raise a UserWarning and return a np.nan if the sample size is <= 4. This will be released in the next stable version of Pingouin (December 2019). Thanks again

[2019-11-29 22:17] #71 closed

[2019-11-29 22:41] raphaelvallat commented on #73
Fixed in 774a5c4de57bec1e44bd428bf1552b04030c66ad (develop branch). Will be released in the next stable version of Pingouin.

[2019-11-29 22:41] #73 closed

[2019-11-29 22:41] #74 closed

[2019-12-20 16:19] raphaelvallat commented on #42
On 1, see https://strengejacke.github.io/sjstats/articles/anova-statistics.html

[2019-12-22 14:34] MartinLichtblau commented on #70
What do the shift colors (red/blue) tell?
Cannot find anything in doc.
Don't deem worth a separate issue.

[2019-12-22 20:41] raphaelvallat commented on #70
Hi @MartinLichtblau,
- red means that the 95% confidence intervals of the bootstrapped Y - X quantile is entirely _above_ 0.
- blue means that the 95% confidence intervals of the bootstrapped Y - X quantile is entirely _below_ 0.
- grey means that the 95% confidence intervals of the bootstrapped Y - X quantile includes zero, and therefore is not "significant" at the 0.05 level.

Hope this helps!

[2020-01-03 17:50] raphaelvallat opened #75 "Check unique subject IDs in mixed_anova"
When using [pg.mixed_anova](https://pingouin-stats.org/generated/pingouin.mixed_anova.html#pingouin.mixed_anova), the `subject` variable should have a unique range for each between-subject group, e.g. _group1= 1 -> 20_ and _group2 = 21 -> 40_. The function should return an error or warning if _group1_ and _group2_ have overlapping subject identifiers.

[2020-01-06 17:14] juanramonua opened #76 "pairwise_tukey: the 'tail' parameter does not seem to affect the p-values test results."
Using the basic example:

[code]

it obtains the same results as:

[code]

I tested with 'less' and 'greater' but the results do not change.

Regards,

[2020-01-06 22:30] raphaelvallat commented on #76
Hi @juanramonua!

It's because you forgot a "d" at the end of `"one-sided"`. The following code should give you the one-sided p-values, which are essentially the two-sided p-values divided by two. Note that `'less'` and `'greater'` do not work for this function (instead, the two-sided p-values are returned).

[code]

I will make sure that an error is returned `if tail not in ['one-sided', 'two-sid

[2020-01-10 18:45] raphaelvallat opened #77 "plot_rm_corr fails when variable names starts with a number"
See Gitter chat. This is not caused by Pingouin but by the internal call to statsmodels / patsy. Pingouin should raise a warning when variable name starts with a number.

[2020-01-11 01:41] raphaelvallat commented on #77
Can be fixed using:

`formula = "Q('%s') ~ C(Q('%s')) + Q('%s')" % (x, subject, y)`

[2020-01-12 22:26] raphaelvallat commented on #77
Fixed in c51308475c3c8e87eaed42e227669bcdd6028ed6. Will be released in Pingouin v0.3.2.

[2020-01-12 22:26] #77 closed

[2020-01-12 22:27] raphaelvallat commented on #76
Added assertion check for tail in c51308475c3c8e87eaed42e227669bcdd6028ed6.

Will be included in the next stable release of Pingouin (v0.3.2).

[2020-01-12 22:27] #76 closed

[2020-01-12 23:06] raphaelvallat commented on #75
Added the check in b5e65b979f85b9df4ef8d698db8463e7afb198c0.

This will be included in the next stable release of Pingouin (v0.3.2).

[2020-01-12 23:06] #75 closed

[2020-01-14 19:10] raphaelvallat opened #78 "Wrong results in pairwise_ttests for mixed-anova design"
When doing a mixed-ANOVA, the [pairwise T-test](https://pingouin-stats.org/generated/pingouin.pairwise_ttests.html#pingouin.pairwise_ttests) function should first average over repeated measurements (= marginal means) before calculating the between-subject T-test. This is the same behavior as JASP or JAMOVI. Otherwise, the degrees of freedom are conflated by the number of repeated measurements and

[2020-01-14 19:28] raphaelvallat opened #79 "Remove export_filename from all functions"
User can simply use pandas.to_csv() instead. This will clarify Pingouin's API and testing.

[2020-01-14 19:42] raphaelvallat commented on #78
For more details please refer to [mixed_anova.zip](https://github.com/raphaelvallat/pingouin/files/4061155/mixed_anova.zip)

[2020-01-14 23:28] raphaelvallat opened #80 "Add pool_sd option for repeated measurements in pairwise_ttests"
This is the default behavior of pairwise.t.test and JAMOVI. Can be manually specified in JASP.

[2020-01-14 23:28] raphaelvallat commented on #79
Done in d8ad533427251a292a5c7e82ed75419069589463

[2020-01-15 00:16] raphaelvallat commented on #78
Fixed in 6e96eb259f27845a7c31dc2864a152e6e78dd92b

[2020-01-15 22:05] raphaelvallat commented on #78
TODO:
- should we also aggregate for two-factors repeated measures ANOVA design and/or two-factors between-subject ANOVA design? Check JAMOVI/JASP default behavior.
- there might be cases when users do not want to aggregate (and instead keep all the observations), as such it may be useful to add an `average_within` argument to the pairwise_ttest function

[2020-01-18 22:17] #79 closed

[2020-01-18 22:28] #78 closed

[2020-01-18 22:30] raphaelvallat commented on #80
This should apply to:
- Mixed design (between-subject contrast + interaction)
- 2-way factorial design (main effects + interaction)
- 2-way repeated measures design (interaction only)

[2020-01-22 07:10] raphaelvallat opened #81 "Add circular plot vector length"
See Jupyter Notebooks

[2020-01-22 18:22] raphaelvallat commented on #81
Added in bbf37486c11e3da22c57176de616674c3c496b29. Will be released in Pingouin 0.3.3.

[2020-02-04 16:06] papr opened #82 "Friedman test raises ValuError when passing `within` as list"
I originally came across this issue when I passed two `within` variables as a list.

So, given this description I would assume that calling
[code]
should work, too. Unfortunately, this call fails at
[`data.groupby([subject, within]).mean().reset_index()`](https://github.com/raphaelvallat/pingouin/blob/master/pingouin/nonparametric.py#L583) since `within` is a `list` at that point and we basically

[2020-02-04 16:35] raphaelvallat commented on #82
Hi @papr,

In its current implementation, the Friedman test only works for _one-way_ repeated measures design, i.e. only one within-subject factor/variable. This is written in the Notes section of the docs: "The Friedman test is used for one-way repeated measures ANOVA by ranks.". However, I agree that the paragraph on automatic collapsing might be a bit misleading.

For action items, we can eithe

[2020-02-04 16:47] papr commented on #82
Thank you for the quick response. I will try to implement it myself.

[2020-02-07 19:40] raphaelvallat opened #84 "Remove external/tabulate.py and print_table function"

[2020-02-25 14:33] sbwiecko opened #85 "matplotlib defaults"
not really an issue, but I think that pingouin should not change the matplotlib default setting. Once pingouin is loaded I need to specifiy `matplotlib.style.use('default')` in my script otherwise the figures do not look like I want

[2020-02-25 17:16] raphaelvallat commented on #85
Hi @sbwiecko !

Pingouin indeed sets the default Seaborn style upon loading:

https://github.com/raphaelvallat/pingouin/blob/c26510c3ae40af0491ada55f9384b35f09d5366c/pingouin/plotting.py#L15

I usually prefer the default seaborn style, but I'm not against reverting back to Matplotlib default.

I'm leaving this issue open for a bit so that other people can chime in and vote.

Thanks!

[2020-02-25 17:16] #81 closed

[2020-02-25 21:07] indie2020 commented on #85
i'd prefer seaborn style over matplotlib style.

[2020-03-26 11:04] scilo7 opened #86 "why return the absolute value of effect size in t-test ?"
In pingouin.parametric.ttest, the cohen's d is transformed by round(abs(d), 3), thus loosing the way of the effect. Shouldn't it be returned with the sign ?
Thanks

[2020-03-26 15:49] raphaelvallat commented on #86
Hi @scilo7,

Thanks for the issue. I did that because I figured most users care more about the magnitude of the effect size than the actual direction since this latter is already given by the signed T-value.

I don't really mind reverting back to a signed effect size though. What do people think?

Thanks

[2020-03-26 16:05] manfred2020 commented on #86
hi. for effect sizes it only the magnitude that counts. you want to know how small or large an effect is (-0.4 is the same size than +0.4, for exemple). for analyses on differences (anova, t-tests) i always saw absolute effect sizes.

the only effect sizes that come to my mind right know where -/+ is really valueable are measures of associaton, like correlation coefficients.

[2020-03-26 16:32] scilo7 commented on #86
Thanks for the responses. The sign seems important to me as I'm comparing my data to a reference group, so the sign also provides me the information if a factor has increased or decreased the results.

[2020-03-26 16:38] raphaelvallat commented on #86
Thanks for your responses! I will wait until more people chime in. For now a quick fix would be to simply multiply the effect size by the sign of the T-values:

[code]

[2020-03-26 16:47] manfred2020 commented on #86
scilo7, so you're doing dependent t-tests?

[2020-03-27 13:15] scilo7 commented on #86
manfred2020: no, the groups are independant. For now I will use the T sign as mentionned above. Thanks

[2020-03-27 19:56] manfred2020 commented on #86
i see. well, for independent t-tests group coding is arbitrary (e.g. one may code male/female as 0/1 or as 1/0, it doesn't matter, you get the same result (with a + or - sign, depending on the coding)).

so for independent t-test +/- for cohens d or for the t value is absolutely arbitrary, only absolute numbers are important.

[2020-04-01 13:18] willprice opened #87 "Assertion failure (-1 <= r <= 1) in power.py when running rm_corr"
Hi there,
Thanks for providing this awesome library. I picked it up to run an `rm_corr` test on some data but I'm having issues.

I have 1000 individuals for each of whom I have 8 paired measurements. I have uploaded a pickled dataframe that causes the issue to GDrive (https://drive.google.com/open?id=1gkvGKBth2J8EhmhblsWRdK-eCDlk8zJk).

Here's a snapshot of what the dataframe looks like:
![image]

[2020-04-01 16:46] raphaelvallat commented on #87
Hi @willprice! Fascinating. Thanks for opening this issue and providing all the data and code required to replicate it. The issue is indeed caused by the fact that the ANOVA/ANCOVA functions that are called internally by rm_corr apply a rounding to the third decimals on the sums of squares. In your case, `m1` and `m2` are very small, which leads to an error. A quick fix for now is to do:

[code]

[2020-04-01 16:47] willprice commented on #87
Hi @raphaelvallat,
Thanks for the speedy response and workaround, that's great to know! Disabling rounding sounds like a good idea to me :+1:

Cheers

[2020-04-03 23:43] mmagnuski commented on #85
I agree with @sbwiecko, I wouldn't expect a statistics library to change how all my matplotlib plots look like. An alternative could be for the style to be set with `with sns.axes_style(...):` in the plotting functions, but then changing the style of pingouin plots would be difficult. So, overall, I think it would be best if the style choice was left to the user.

[2020-04-04 08:24] sappelhoff commented on #85
I have been surprised by this behavior as well. I would vote for pingouin *not* setting the plotting defaults.

[2020-04-04 16:59] raphaelvallat commented on #85
Thank you all for your votes. I will disable this behavior in the next release.

[2020-04-04 19:54] raphaelvallat commented on #86
Closing this issue for now, but please feel free to reopen.

[2020-04-04 19:54] #86 closed

[2020-04-04 19:55] raphaelvallat commented on #85
Closing this issue for now, but please feel free to reopen.

[2020-04-04 19:55] #85 closed

[2020-04-04 20:08] raphaelvallat commented on #84
The [`pingouin.print_table`](https://pingouin-stats.org/generated/pingouin.print_table.html#pingouin.print_table) function can still be useful to export to a RST format (for documentation). But I removed the pingouin.external.tabulate.py file and instead added the tabulate package as a dependency (see a9f2b7c745debd231beb5592083f07ba08b6d8d4). Note that this is the same dependency as required by t

[2020-04-04 20:08] #84 closed

[2020-04-04 20:17] raphaelvallat commented on #87
Hi all,

I am actually a bit reluctant to completely disable the rounding of the sums of squares in ANOVA-related functions because I think it will make the overall user experience less enjoyable (i.e. tables will be harder to grasp at a glance if the SSs have 16 decimals...). I think I would therefore prefer to throw a warning or error in the rm_corr function if the data is very small.

But, I'm

[2020-04-05 09:43] willprice commented on #87
Hi Raphael,

My 2 pence:
I'd expect library functions to return values at the highest precision they're capable of without any truncation, as a library user I expect to be able to control this. Having said that, I agree that for reporting this is definitely not the most desirable behaviour, I want values truncated to reasonable precision.

Maybe an approach like how pandas does it might work for P

[2020-04-05 20:47] raphaelvallat commented on #87
Hi @willprice !

I think I like this idea. So, for instance, we could set `pd.set_option('precision', 4)` upon loading Pingouin? I wonder if this should be true for all Pingouin functions, or rather a subset of functions (e.g. ANOVA). I think that 4 decimals is also a good compromise (I believe JASP and JAMOVI have a default of 3 decimal, but I think that for p-values it is better to have at least

[2020-04-05 21:06] sappelhoff commented on #87
I agree with this sentiment ... so if we can get pandas to DISPLAY the values like pingouin currently does while we still have the full precision when accessing the actual numbers, that'd be great!

[2020-04-06 10:09] willprice commented on #87
Personally, I would be quite upset if a supporting library changed the options of another core library. I suspect most others would be similarly upset if importing a library would reconfigure a core library.
I had a quick look to see if the display options are baked into the dataframe, or whether they happen at serialisation time, it unfortunately appears the latter is the case:

[code]

I'd sugge

[2020-04-08 13:43] apachaves opened #88 "Modify assertion statement inside homoscedasticity function"
Hi! Hope you're good during this pandemic times.

I was trying to run the `homoscedasticity()` function on my data and I got an **AssertionError** on the line related to the instance heritage checking. I thought it was my data so I tried to run the example code for One-Way ANOVA in the Guidelines page and I got the same error. I'm reporting here cause I believe it might be an issue to look at.

**

[2020-04-08 17:49] raphaelvallat commented on #88
Hi @apachaves !

Thanks for opening the issue, and first of all I hope that you and your loved ones are safe and healthy during these times!

Second, the issue here is in fact not with the function itself (which work well with pandas Series, NumPy array, etc), but with the Guidelines that were outdated and based on a previous version of Pingouin!

The following code should work:

[code]

The impor

[2020-04-08 18:16] apachaves commented on #88
Got it! Thank you for your kind words, for the patience and explanation.

And by the way, bravo for this project, it is very nice and something I really wanted to see. Plus it has a very beatiful and organized documentation. I will be following this proejct closely and wish the best to it!

Best wishes and keep yourself safe!

[2020-04-08 18:17] raphaelvallat commented on #88
Thank you, I really appreciate it!

[2020-04-08 18:17] #88 closed

[2020-04-15 09:41] clementpoiret opened #89 "mixed_anova: ValueError: Grouper and axis must be same length"
Hi Raphael,

I just saw that three way mixed anova isn't supported, leading to errors in the groupby call. Do you have any plans to support it?

Code to reproduce the error:
[code]

Thanks,
Clément.

[2020-04-15 14:35] sappelhoff commented on #89
this was also recently in the Gitter chat, see: https://gitter.im/pingouin-stats/Lobby?at=5e66bacc80cc7b7924b3f7b9

[2020-04-15 16:28] raphaelvallat commented on #89
Hi @clementpoiret ! As pointed out by @sappelhoff, 3-way designs are not yet supported. The mixed_anova function only accepts 2-way mixed design (one within and one between factor). I want at some point to have more than 2-ways but I doubt this will be implemented in the near future. For now, I'd recommend using R (e.g. ezANOVA package), or the JASP or JAMOVI free softwares.

Thank you!

[2020-04-19 16:53] bonchae opened #90 "module 'pandas.core' has no attribute 'index'"
import pingouin as pg
df = pg.read_dataset('pairwise_corr').iloc[:, 1:]
pairwise = df.iloc[:, 0:4].pairwise_corr(method='spearman',
                                         padjust='holm')
pairwise[['X', 'Y', 'r', 'p-corr']].round(3)

Error: module 'pandas.core' has no attribute 'index'

[2020-04-19 17:01] bonchae commented on #90
`pip install --upgrade pingouin` resolved the issue. Thanks.

[2020-04-19 17:01] #90 closed

[2020-04-20 22:47] raphaelvallat opened #91 "Pairwise T-tests fail if within-factors are encoded as category/integers"
See Gitter chat.

[2020-04-21 09:28] clementpoiret commented on #89
Hi Raphael,

Thanks for your work, I'll take a look at ezANOVA.

[2020-04-28 19:45] sappelhoff commented on #87
I now need the unrounded p-values in one of my analyses, but can't seem to easily get them from pingouin :sob:

I saw in the ANOVA code, that you add the "formula" to the DF as a `.formula_` attribute:

https://github.com/raphaelvallat/pingouin/blob/c26510c3ae40af0491ada55f9384b35f09d5366c/pingouin/parametric.py#L1154

Wouldn't it be a relatively unobtrusive option to also add a potential `._p_unc

[2020-04-28 23:07] raphaelvallat commented on #87
Hi @sappelhoff ! Which function/parameter are you using exactly? Typically the p-values are **_not_** rounded in Pingouin. However, for some functions like _anovan_ (for _N_-way anova) that depends on statsmodels, the p-values may be rounded internally by statsmodels so there's just no way that we can access the unrounded p-value :grimacing:

[2020-04-29 09:48] sappelhoff commented on #87
I am using `pingouin.anova` with 2 between factors (balanced), so it should direct me to `anova2`, I guess :thinking:

but admittedly, this is an analysis where the p-value is probably VERY low (9000 observations in each group). Do you know at what point the p value will be displayed at just 0? --> just so that I can write `p < 0.01` or `001` or `0001` :-)

[2020-04-29 18:14] sappelhoff commented on #87
Thanks for the suggestions! Unfortunately, neither of `chop_threshold`, nor `precision` were the culprits: It's `f(x,y).sf(z)`

In my case it's looking like this: `f(1, 89990).sf(64331)`, which is too small to be represented, so it returns 0. I tried a few value ... and if my F value were `6*1e2` instead of the `6*1e4`, around which it is, then we'd actually get a p-value: `4.5463468353659744e-132

[2020-04-30 01:44] raphaelvallat commented on #87
Hi,

Quick update: I just pushed a major commit in which I disabled all float rounding in Pingouin's output (see c70b7bcfa3f983bef5368abd85059ce3fad4cbd1). This will be included in the next soon-to-be release.

[2020-05-02 16:01] #89 closed

[2020-05-02 16:01] #87 closed

[2020-05-02 16:01] #82 closed

[2020-05-02 16:02] #70 closed

[2020-05-02 16:32] #91 closed

[2020-05-06 23:26] lhazlett opened #92 "Add covariate to mixed_anova"
Hi Raphael,

I just discovered your package, and am so excited to use it!

Is there a way to add a between-subject covariate to the mixed ANOVA function? If not, might there be a workaround you would recommend?

Have a wonderful day,
Laura

[2020-05-07 02:48] raphaelvallat commented on #92
Hi @lhazlett !

Thank you for the feedback :-) There is currently no way to add between-subject covariate(s) in mixed design ANOVA but I'd like to add that in the (not near) future. If you only have two repeated measurements in your within subject factor, a workaround is to calculate a difference score and then apply an ANCOVA. If you have more than two levels in your within-subject factor, I reco

[2020-05-07 03:58] lhazlett commented on #92
Hi @raphaelvallat,

Thank you so much for the quick response and suggestions! Great to know :-) Best of luck with feature development!

Laura

[2020-05-07 22:59] #42 closed

[2020-05-09 15:41] matanmazor opened #93 "part correlation with dummy variables"
Hey Raphael,

I'm getting an error message when trying to use partial_corr with a dummy variable:

`df = pd.DataFrame({'a':[0,1,2], 'b':['x','y','z'], 'c':[3, 4, 4]})`
`df = pd.get_dummies(df)`
`df.partial_corr(x='a',y='c',x_covar='b_x')`

I think the reason is that the output of get_dummies is uint8, because when I change it to int64 it all works fine.

Thanks for this great tool!

[2020-05-09 15:54] raphaelvallat commented on #93
Hi @matanmazor ! Thank you for noticing this! This is indeed related to the dtype check which should also allow for unsigned integer. I will update this in the next release. For now, as you pointed, a workaround is to convert to regular (signed) int64 with: `df.astype(np.int64)` or `pd.get_dummies(df, dtype=np.int64)`.

Thanks again!

[2020-05-09 16:30] raphaelvallat commented on #93
Just made the changes on the develop branch (a955b76d8af462f00d6a47c8081c6ceea818df80). This will be released in the next stable version of Pingouin.

[2020-05-15 16:49] hammer opened #95 "Allow sample weights in linear regression"
`sklearn` has had this functionality since their [0.17 release](https://scikit-learn.org/stable/whats_new/v0.17.html).

[2020-05-15 17:39] raphaelvallat commented on #95
Hi @hammer,

Thanks for your suggestion. I think the issue here is to make sure that the calculation of the SE and p-values is correct when using sample weights, which will likely require some changes in the code. I'll have to read more about that and run some tests against JASP and R. For now, I'd suggest using https://www.statsmodels.org/devel/examples/notebooks/generated/wls.html

[2020-05-15 17:49] hammer commented on #95
Thanks @raphaelvallat, we are indeed using `statsmodels` for now, but I like your library and would love to be able to use it for our use case.

[2020-05-18 07:24] raphaelvallat commented on #95
Hi @hammer,

I just pushed a first working version of weighted linear regression to the develop branch (1aa6a4584ac553e705f4b267e2a6308504701983). Users can now pass sample weights with:

[code]

where `w` is a 1D array of non-negative real numbers with the same size as `y`.

I have updated the doc and added tests against statsmodels and R. This new feature will be included in the next stable rele

[2020-05-22 20:49] adam2392 opened #97 "Effect Size of Cohen D outside the bootstrap CI?"
I'm following the example here https://pingouin-stats.org/generated/pingouin.compute_bootci.html, specifically for Cohen's D, yet I'm getting that the stat is outside of the CI generated.

[code]

I was wondering if this is a bug?

[2020-05-23 00:52] raphaelvallat commented on #97
Hi @adam2392,

Thanks for opening the issue. For replicability, could you provide just one example with two 1D arrays, e.g.
[code]
Also, which values were assigned to ``func``, ``method``, ``n_boot`` and ``confidence``?

Looking quickly at your code, it seems that your variable ``x`` has 9 samples while ``y`` has 69 samples. This strong imbalance in sample size is most likely the cause of the unre

[2020-06-03 01:36] josea-rodas opened #98 "Problems in results from mixed ANOVAs"
I was performing a set of 11 mixed ANOVAs and in two of them a negative F was reported with a p = 1. I re-analysed this data in JASP and got different results with a regular F and a very high p (<1).
The error can be replicated using the files I've attached. Both are csv files. Each include the set of data I am referring to. All other results were identical.

[file_1.txt](https://github.com/raphae

[2020-06-03 04:48] raphaelvallat commented on #98
Hi @el-librero1800 , could you please provide a Python code or Jupyter Notebook replicating the error? I think this may be caused by missing values in your data, but I'll have to check. Thanks

[2020-06-03 15:05] josea-rodas commented on #98
Hi @raphaelvallat, I just updated pingouin and re-run the analyses. All analyses are working fine now. Terribly sorry for not doing this before posting this issue! I thought I already had updated all my conda packages, but just realised pingouin updates differently.
Thanks a lot! Love pingouin. Finally an easy way to do statistics in Python and have nice and complete output data.

[2020-06-03 15:05] #98 closed

[2020-06-05 19:03] sanjayankur31 opened #99 "Python 3.9: failing test: TestPlotting.test_plot_skipped_corr"
On Fedora 33, with Python 3.9, a test is failing:

[code]

The complete logs are attached:

[hwinfo.txt](https://github.com/raphaelvallat/pingouin/files/4737958/hwinfo.txt)
[pingouin-buildlog.txt](https://github.com/raphaelvallat/pingouin/files/4737960/pingouin-buildlog.txt)
[pingouin-rootlog.txt](https://github.com/raphaelvallat/pingouin/files/4737961/pingouin-rootlog.txt)

The failed build was o

[2020-06-05 20:15] raphaelvallat commented on #99
Hi @sanjayankur31 !

Thanks for opening the issue. I am aware of the test failure, which is caused by Seaborn and not Pingouin (see https://github.com/mwaskom/seaborn/pull/1952). Can you try installing the latest version of seaborn ([April 2020](https://seaborn.pydata.org/whatsnew.html)) and let me know if you have the same error?

Thanks
Raphael

[2020-06-05 20:39] sanjayankur31 commented on #99
Thanks @raphaelvallat !

I've filed a bug asking the seaborn maintainer in Fedora to update to the new release now, so that should fix the failing test for us there. I'll leave this open as a reminder to myself if that's OK?

https://bugzilla.redhat.com/show_bug.cgi?id=1844635

[2020-06-06 16:52] sanjayankur31 commented on #99
Seaborn was updated, and pingouin now builds fine in Fedora 33. Thanks very much! Closing.

[2020-06-06 16:52] #99 closed

[2020-06-14 01:39] #97 closed

[2020-06-14 01:39] #93 closed

[2020-06-14 01:39] #95 closed

[2020-06-14 01:45] raphaelvallat opened #100 "Update guidelines flowcharts"
1. Add mixed ANOVA (and ANCOVA?)
2. Add bicor

[2020-06-19 13:19] sappelhoff opened #102 "Get all factor combinations in mixed designs"
I have mixed design data with some subjects, one within, and one between factor similar to this:

![image](https://user-images.githubusercontent.com/9084751/85136035-4cd60680-b23f-11ea-8fca-521f6ad37223.png)

With pingouin, I can calculate a mixed anova and afterwards some pairwise ttests, which is very nice (thanks!). :-)

I have an issue with the pairwise ttests: the tested effects are always in

[2020-06-19 15:13] raphaelvallat commented on #102
Hi @sappelhoff !

Thanks for the very detailed issue. This is something I've been pondering for a long time. When I first coded this function, I was only interested in the within * between interaction, hence the choice of only reporting this order (and I also think it's also the default in some other stats software). But I agree it would be good to have the option of having the between * within in

[2020-06-19 15:21] sappelhoff commented on #102
Hi @raphaelvallat thanks for the quick answer!

interesting, do these other software packages offer the option to also get the "reverse" (between * within)?

that sounds reasonable to me, and it's exactly what I would have expected (and what I looked for).

One obvious (easy) issue is that one of the columns in the stats output DF is called "within", and that wouldn't make sense if a between facto

[2020-06-19 23:30] raphaelvallat opened #103 "Add linear mixed effect module"
This is most likely a longer-term project. Linear mixed-effects (LME) regression has several advantages over repeated measures ANOVA and I think it would be really useful to add it to Pingouin.

The most exhaustive LME package is obviously the [lme4](https://cran.r-project.org/web/packages/lme4/index.html) package for R. In Python, statsmodels has a [dedicated class](https://www.statsmodels.org/st

[2020-06-19 23:38] raphaelvallat commented on #62
HI @hoechenberger and @LegrandNico, closing this issue for now, but please feel free to reopen!

[2020-06-19 23:38] #62 closed

[2020-06-19 23:40] raphaelvallat commented on #102
Not in JASP, at least, as you can see in the screenshot below. The only order is within * between:

![image](https://user-images.githubusercontent.com/25703792/85185992-667d4b00-b24b-11ea-9b5d-6269945208aa.png)

I will work on implementing this over the weekend and should hopefully have a working version on the develop branch soon. Thanks again!

[2020-06-20 04:10] raphaelvallat commented on #102
Ok this is now implemented in commit 4d1f10b2de1a088d52d10a4ef6928ab7227672e6. If you have the develop version of Pingouin (e.g. GitHub clone), it would be great if you could go to the develop branch and try this new feature on your own data. This will be part of the next stable version, which will be released sometime this summer. Thanks again!

[2020-06-20 04:38] raphaelvallat commented on #100
Done in a5aaba485a7ecc0a05be573542aee222c92a72df

[2020-06-20 04:38] #100 closed

[2020-06-20 05:28] raphaelvallat opened #104 "Add standard datasets for more intuitive docstring (and code testing?)"
Refer to Seaborn datasets: https://github.com/mwaskom/seaborn-data

- [x] Penguins
- [x] Tips

[2020-06-20 09:00] sappelhoff commented on #102
Thanks for the quick implementation! :-)

I just ran a test with my data:

# What's good

The `within_first=False` between*within interactions align with the pairwise t-tests that I calculated prior to having this new feature. So that's as expected.

![image](https://user-images.githubusercontent.com/9084751/85197948-d390ef00-b2e4-11ea-934e-f2dd7d79490e.png)

# What's strange

The "within" factor

[2020-06-20 16:39] raphaelvallat commented on #102
Ah sorry, I forgot to update the `marginal` parameter when `within_first=True`. The between-subject T-test should be calculated after averaging over all the repeated measurements (when `marginal=True`), which probably explains the difference in dof. I've just pushed a new commit, can you let me know if that solved the issue? And if not, could you please send me your data and script on Gitter? Than

[2020-06-20 18:56] sappelhoff commented on #102
yes, that fixed it! :-)

re your PS --> I think that's totally fine ... it's cool that this feature required only so few changed lines. Thanks a lot, I am looking forward to the next release.

[2020-06-23 05:27] raphaelvallat opened #105 "Deprecating or replacing pingouin.plot_skipped_corr"
For the sake of simplicity, I would be in favor of deprecating the [pingouin.plot_skipped_corr](https://pingouin-stats.org/generated/pingouin.plot_skipped_corr.html#pingouin.plot_skipped_corr) function which I think is too specific and most likely only used by very few users (but I may be wrong?). That said, I do like the left panel of the output plot (= standard scatterplot with robust regression

[2020-06-23 07:45] tirthajyoti opened #106 "Adding Multicollinearity plots"
Any chance of adding more multi-colinearity tests like,

- Pairplot
- Variance infletion factors (VIF)
- Covariance matrix
- Correlation matrix
- Correlation matrix heatmap

[2020-06-23 10:33] LegrandNico commented on #105
Yes, I agree this function may be too specific, so could be depreciated or replaced. It still makes sense for me to have some visualization tools like a `pingouin.plot_robust_corr`, but it depends on the kind of plotting module you want in Pingouin.

[2020-06-23 12:07] mmolet commented on #105
Hi all,

I like #3.

Thanks!

On 6/23/20 12:27 AM, Raphael Vallat wrote:

[2020-06-23 12:20] francescolosterzo opened #107 "variables names containing dots are not allowed"
Hello!

I am using `pingouin` to make repeated measurements correlations between variables, and in my DataFrame some of the column names contain dots, e.g. `var.abc`.

[code]
gives this error

[code]
All in all for me was a rather quick fix, as I just replaced "." with "_" in the column names and everything worked fine, but I was wondering how complicated would it be to fix it on your side?

[2020-06-23 15:05] raphaelvallat commented on #107
Hi @francescolosterzo !

Can you please update to the latest version of Pingouin? I've fixed this issue in version 0.3.2 with the following lines:

[code]

Let me know if that solved the issue
Thanks
Raphael

[2020-06-23 15:08] raphaelvallat commented on #106
Hi @tirthajyoti,

Can you please be more specific and provide a few examples?

- Pairplot is already implemented in Seaborn.
- Covariance / corr matrix can be calculated with pandas and then easily plotted with seaborn heatmap.

So I don't think there's a need to implement these functions in Pingouin.

Thanks
Raphael

[2020-06-23 19:36] tirthajyoti commented on #106
I think I understand your goal in this package - to provide a tabular output of statistical tests and analyses - with a simple API. Closing this issue now. Thanks.

[2020-06-23 19:36] #106 closed

[2020-06-24 09:48] francescolosterzo commented on #107
Ooooops, I was using version 0.3.1! I updated to the latest version and it works!!
Thanks and sorry for the noise :\

[2020-06-24 09:49] #107 closed

[2020-06-24 15:57] jcvall-olympus opened #108 "Goodness of fit function"
Love the package.  I was wondering if we can add goodness of fit function here.  I have been working on a function for this but I still need to work a few things out with it.  Would you be interested to collaborate on it for this package?

[2020-06-26 04:39] raphaelvallat commented on #108
Hi @jcvall-olympus ! Goodness of fit is a broad term that encompass several tests (see [Wikipedia](https://en.wikipedia.org/wiki/Goodness_of_fit)). Can you be more specific as to which test(s) you have in mind in particular?

Thanks,
Raphael

[2020-07-02 18:06] raphaelvallat commented on #108
Closing this issue but please feel free to reopen.

[2020-07-02 18:06] #108 closed

[2020-07-02 18:33] #102 closed

[2020-07-08 18:13] reneshbedre opened #109 "Tukey HSD posthoc test for group interactions in two-way ANOVA"
Hi,

Thank you for excellent stat package. I would like to know how to perform a pairwise comparison for group interactions using Tukey HSD. I tried to use pairwise_tukey from pingouin, but it does not support pairwise comparison for group interactions.

In R it can be done like this (see https://rpubs.com/tmcurley/twowayanova)

TukeyHSD(len.aov, which = "supp:dose")

Let me know if there is a sol

[2020-07-08 19:36] raphaelvallat commented on #109
Hi @reneshbedre ! Thanks for the feedback. This feature is not implemented yet, but I agree this would be a useful addition. I'll work on that in the upcoming weeks.

Thanks
Raphael

[2020-07-09 04:40] reneshbedre commented on #109
Hi Raphael,

Thank you very much for your quick response.

[2020-07-15 09:45] jnecus opened #110 "Bootstrapping 'Basic Percentile method'"
Hello,

I was wondering whether you could clarify what the bootstrapping percentile method labelled as `Basic percentile method`  in the bootstrap function below is:

[code]

As far as I understand, there are at least three types of percentile method for computing bootstraps according to the following link : https://www.datacamp.com/community/tutorials/bootstrap-r

- Percentile CI
- Basic CI (also

[2020-07-15 21:27] raphaelvallat commented on #110
Hi @jnecus,

The names of the different methods are taken from the Matlab [bootci ](https://www.mathworks.com/help/stats/bootci.html)function:

- 'norm' : Normal approximated interval with bootstrapped bias and standard error (= Normal CI in the link that you sent)
- 'per': Basic percentile method (= Percentile CI)
- 'cper': Bias corrected percentile method (= I think this is the basic CI, but I'l

[2020-07-16 08:46] jnecus commented on #110
Hi Raphael,

Yes that does make sense and I agree that you should keep it consistent with Matlab. I think the confusion here comes with my lack of understanding of bootstrap methods. When looking at the different options provided across Matlab, R, and Pingouin, it seems that the naming of the percentile methods when it comes to basic & percentile is a little ambiguous. The the bottom two rows of t

[2020-07-16 16:20] raphaelvallat commented on #110
Thanks for this table, this will be certainly useful for others! I'd love implement the student and bca bootstrap methods at some point in the future.

Closing this issue for now, but feel free to reopen or submit a PR.

Thanks
Raphael

[2020-07-16 16:20] #110 closed

[2020-07-25 00:36] kncrabtree opened #111 "Scrambled group labels in pairwise_tukey?"
The group labels in a pairwise_tukey test appear to be mixed up (pingouin version 0.3.6). `men` is a pandas DataFrame with 272 columns. The column `BMXHT` contains numeric data, and the `RIDRETH3` column contains categorical data. Comparing the means in the output to the means given by pandas, it appears that the group labels are scrambled.

![image](https://user-images.githubusercontent.com/20146

[2020-07-27 16:03] raphaelvallat commented on #111
Hi @kncrabtree,

Thanks for opening the issue. This is definitely worrisome. However, I checked the code and the unit tests and I cannot reproduce the error (with pandas = 1.05, numpy = 1.19, pingouin = 0.3.6). Is there any chance you could share your code and dataset (no need to include all 272 columns!). If you forever to keep it private, please feel free to reach out via email at raphaelvallat9

[2020-07-27 16:21] kncrabtree commented on #111
Sure. My pandas is 1.0.1 and numpy is 1.18.1, so maybe the issue has to do with one of those. I've attached a trimmed down dataframe with only the 2 columns, and minimal code is below (screenshot is my output, which still shows the behavior above). In the meantime, I'll try to update pandas and numpy to see if that resolves the issue.

[code]

![image](https://user-images.githubusercontent.com/201

[2020-07-27 18:47] raphaelvallat commented on #111
Hi @kncrabtree,

I just had a look at your data and found the issue. To cut a long story short, this is because RIDRETH3 is encoded as a Categorical. This is more of a Pandas error (or weird behavior at least), but I'm really glad you found it.

The core of the problem is that there is a mismatch in how Pandas and Numpy sort the group labels in the RIDRETH3 column. Specifically, this mismatch occu

[2020-07-27 19:30] kncrabtree commented on #111
Ah, yes, that makes sense. The original data (part of the [CDC NHANES dataset](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.htm#RIDRETH3)) had the column coded as integers, and I converted it into a categorical column for teaching purposes-- the code is part of an example for a new scientific programming in chemistry course I'm developing. So for "real" usage it's pretty unlikely I would have

[2020-07-27 19:55] raphaelvallat commented on #111
Thank you for your feedback, and so great to hear that you're going to teach students with Pingouin! And thanks again for finding this bug, I wish I had found it earlier but glad we could figure this out.

Best,
Raphael

[2020-07-29 04:10] raphaelvallat commented on #111
Just published a new release (v0.3.7) that fixed this issue. See changelog at: https://pingouin-stats.org/changelog.html.

Closing issue but please feel free to reopen.

[2020-07-29 04:10] #111 closed

[2020-07-29 04:12] raphaelvallat commented on #105
The plot_skipped-corr function has been deprecated in the new release (v0.3.7). Closing this issue for now but please feel free to reopen.

[2020-07-29 04:12] #105 closed

[2020-07-29 04:12] #104 closed

[2020-07-30 17:34] kncrabtree opened #112 "Return X/Xw arrays in linear regression output?"
Hello again Raphael,

What do you think about adding the X and/or Xw array as hidden outputs in `linear_regression` along with the residuals that are currently returned? The use case is that following regression, I'd like to plot the residuals vs the regressors. Unfortunately, my input dataframe has many NaN values in each of the Y and [X,...] columns, and I'm using the `remove_na` option in the `

[2020-07-30 21:50] raphaelvallat commented on #112
Hi @kncrabtree!

I think it would indeed make sense to return the post-processed X/ y for OLS and Xw / yw for WLS. However, I'd prefer not adding yet another input parameter to the function to avoid overburdening the API. Two ideas:

1) X and y are only returned when `as_dataframe=False`, in other words, if you only care about the coefficients and p-values you can use a DataFrame (default), but if

[2020-07-31 20:37] kncrabtree commented on #112
Hm, I've never worked with pandas.DataFrame.attrs, and since it's also experimental I don't know what best practices would be. For now I can implement the first idea easily enough; that seems like a good solution. I'll give it a shot soon and open a pull request if that's ok.

[2020-07-31 20:56] raphaelvallat commented on #112
Sounds good, thanks!

[2020-08-05 11:02] odgaard opened #114 "Updating CLES in MWU test to Vargha and Delaney"
Hi, thank you for the response in #94.

Just wanted to note that the MWU test currently uses the original CLES definition, and it could also be updated to the Vargha Delaney A measure.

Kind regards,
Jacob

[2020-08-06 00:06] raphaelvallat commented on #114
Hi @odgaard,

You're absolutely right. To be honest, I cannot remember why I did not update it in parallel with the `wilcoxon` and `compute_effsize` functions. I just probably missed it. Anyway, I've now updated the formula in the develop branch of Pingouin (see 78c9a3b91d05c788f666671e1b117bd7b3f427c7), and this will be included in the next stable release, expected around September.

Thanks
Rapha

[2020-08-11 11:03] JoElfner opened #115 "plot_paired with many subjects: boxplot not decipherable"
Hi!
First of all many thanks for providing such a great tool!

While using `plot_paired`, I stumbled upon the problem, that having many subjects makes the boxplot indecipherable, since it is displayed behind the lines and markers. I could make a pull request implementing an argument like `boxplot_foreground=False` (default), which adjusts the boxplot `zorder` to put the boxplot in front of the lin

[2020-08-11 17:14] raphaelvallat commented on #115
Hi @JoElfner,

Thanks for opening the issue. Could you please provide an example of what such a plot would look like before and after your changes? Also, is there a way that we can create such a plot just by using the current _boxplot_kwargsdict_ argument? If so, I think that instead of adding a new parameter to the function, we could simply provide an example in the documentation that would integ

[2020-08-12 11:29] JoElfner commented on #115
Hi @raphaelvallat

and many thanks for your answer! 👍
Take a look at this overly crowded plot:
[code]

[2020-08-12 21:39] raphaelvallat commented on #115
Hi @JoElfner,

Thanks for the comprehensive reply. Please feel free to implement the changes as you'd like to see them in a PR, and we can move the discussion directly on the PR thread.

Thanks again!
Raphael

[2020-08-13 09:05] JoElfner commented on #115
Hi @raphaelvallat

I made the first PR #116 considering the default kwargs. Please check and tell me if it conforms to your coding style.

Once this is merged, I'll start integrating boxplot_foreground.

Since so far I've never encountered wanting to merge two PRs which are depending on each other (in this case, implementing setting the boxplot in the foreground would alter the same function as th

[2020-08-17 14:39] jankaWIS opened #118 "Get residuals from anova"
Hi, recently I have been playing with `statsmodels` and  `pinguin` and I have not been able to figure out how to get residuals from pinguin. What I mean is (taking your example):

[code]
If I would like to plot the residuals, how can I do that without calling `model`?

Thanks.

[2020-08-17 16:05] raphaelvallat commented on #118
Hi @jankaWIS,

Thanks for opening the issue. Pingouin does not currently return the residuals for ANOVA models, but only in the linear_regression approach. I don't think it should be too hard to implement though. I'm jammed up right now but can take a look at that within the next couple of months. Or, if you'd like to submit a pull request, please feel free to do so!

Best,
Raphael

[2020-08-17 16:18] #115 closed

[2020-08-17 16:23] raphaelvallat commented on #115
Just merged the two PR, thank you so much for your contribution @JoElfner ! I'll update the changelog / documentation. Your changes will be visible in the next stable release of Pingouin. Weird for CI test, it usually runs in ~2 minutes. Thanks again!

[2020-08-17 17:45] raphaelvallat commented on #115
PS: I just updated the function docstring and changelog following your two PRs: 3546e4501bfb0ab175fd0878f065fdefdd57078f

[2020-08-18 09:05] JoElfner commented on #115
@raphaelvallat you are welcome and thanks again for providing such a great tool. :)

[2020-08-23 19:41] reneshbedre opened #119 "t-test giving wrong output for 95% CI"
Hi,

Thank you for the great package. I was doing one-sample t-test using the `pingouin` as follows,

`from pingouin import ttest`
`ttest([5.5, 2.4, 6.8, 9.6, 4.2], 4).round(2)`

Output,
          T  dof       tail  p-val          CI95%  cohen-d   BF10  power
T-test  1.4    4  two-sided   0.23  **[-1.68, 5.08]**     0.62  0.766   0.19

I did the same in R and the output for 95% CI does not match,

[2020-08-24 23:04] raphaelvallat commented on #119
Hi @reneshbedre,

Thanks so much for opening the issue and checking your results against R, Pingouin is still a young library and there's still a lot of work to validate all functions/scenarios.

You were absolutely right, there was an error in how the confidence intervals were calculated for one-sample T-test with a true mean different than zero (e.g. `y = 4`). Let me emphasize that this error di

[2020-08-27 22:52] jckrumm opened #121 "pingouin.multivariate_normality() out of memory due to large array"
When I give a large array of data to multivariate_normality(), I get an error about insufficient memory. Specifically, for an input with n sample data vectors, multivariate_normality() seems to be trying to allocate an array of n X n. So when n = 1,000,000, there is not enough memory. Below is some simple Python code that reproduces the error (note that GitHub is converting my Python comment lines

[2020-08-28 01:53] raphaelvallat commented on #121
Thanks for opening the issue @jckrumm! For this function, I've essentially translated into Python pre-existing R and Matlab implementations (see [here](https://github.com/selcukorkmaz/MVN/blob/master/R/mvn.R) and [here](https://www.mathworks.com/matlabcentral/fileexchange/17931-hzmvntest)), which I believe are already quite optimized (e.g. no for loops), at least when working with "regular" arrays

[2020-08-28 22:44] OlafHaag opened #122 "Mixed ANOVA fails with categorical variables (KeyError for between factor)"
Hi! I just noticed that when any of the _within_, _subject_, or _between_ variables are of type category, the mixed ANOVA fails with KeyError.

Python: 3.8.3
Numpy: 1.19.1
Pandas: 1.1.1
Pingouin: 0.3.7

To reproduce:
[code]

[code]

[2020-08-28 23:11] raphaelvallat commented on #122
Hi @OlafHaag !

Thanks for opening the issue. You're absolutely right, the issue comes from this specific line:

https://github.com/raphaelvallat/pingouin/blob/08560bb978949e97653b203f7374e90b022b88fb/pingouin/parametric.py#L516

which should actually be:

[code]

I'm guessing they are other functions that are similarly affected so I'll need some time to update and test everything, but I'll defini

[2020-08-29 04:28] reneshbedre commented on #119
Thank you for the update and fixing the issue.

[2020-08-29 17:38] JoElfner opened #123 "pairwise_corr: unclear doc"
Hi @raphaelvallat

in my opinion, the doc of pairwise_corr is a bit unclear about the partial correlation. Imho it should be clarified, which correlation function (in this case `pg.corr`) is used, if `covar=None` and that partial corr. is only calculated, if `covar is not None`.

Furthermore, I'd like to see pairwise_corr to support the case that `columns=None` and that all columns are specified a

[2020-08-30 19:01] raphaelvallat commented on #123
Hi @JoElfner,

I agree for the documentation, please feel free to submit a PR!

Just to make sure I understand your second point, the idea then would be to calculate the partial correlations between each pair of columns while controlling for all the other columns in the dataframe? Similar to what is done in [pingouin.pcorr](https://pingouin-stats.org/generated/pingouin.pcorr.html) function?

Thank

[2020-08-30 19:39] JoElfner commented on #123
Hi @raphaelvallat ,

thanks, I'll give it a try!

Second point: Yep, that's exactly what I was thinking about. :)

[2020-08-30 20:41] raphaelvallat commented on #123
I see! Well, that may require some changes to the code but hopefully nothing too hard. Do you want to give it a try too?

I think I'd prefer `covar=df.columns` instead of `covar='all'`, just in case there's a column named "all" in the data which may be confusing. So, the "full patial correlation" would be applied only when `columns=None` and `covar` contains all the numeric columns of data. Does t

[2020-08-31 10:45] JoElfner commented on #123
Oh right, didn't think about columns named `'all'`. That's a good point...

I opened a PR with my proposed changes. There are still some points to discuss... :)

[2020-08-31 20:53] jckrumm commented on #121
Hi Raphael,

Thanks for your thoughtful reply on this. I appreciate the help. Unfortunately, my Python tries to allocate a float64 array even if the input to multivariate_normality is a float16 array. So even with your perfectly reasonable suggestion, my PC is trying to allocate the same 7.28 TB array. The screenshots are attached for the code before and after the .astype(np.float16) modification.

[2020-09-01 03:58] raphaelvallat commented on #121
Hi @jckrumm,

Thanks for your detailed response!

Absolutely. The current implementation in Pingouin uses float64 regardless of the input. That's why I've extracted (and updated) a few relevant lines from the function for you to try.

I see your point. I think that by using a Python "for loop" implementation we would end up with an extremely slow code, so one would maybe have to use some Numba-opt

[2020-09-01 18:56] jckrumm opened #125 "pingouin.multivariate_normality() bugs in mu and sigma^2 equations"
I was going over your implementation of

def multivariate_normality(X, alpha=.05):

in multivariate.py. I might’ve found a couple bugs in the equations for mu and si2 in lines 99-104. I assume you’re using the equations from the paper “MVN: An R Package for Assessing Multivariate Normality” at https://www.mclibre.org/descargar/docs/revistas/the-r-journal/the-r-journal-12-en-201412.pdf#page=151. I’

[2020-09-02 01:36] raphaelvallat commented on #125
Hi @jckrumm!

Thanks for looking into that! For this function, I've essentially translated the code of the MVN package from R to Python, and then made sure that I obtained similar results. For comparison, please find below Pingouin's code (top) and the [original R code](https://github.com/selcukorkmaz/MVN/blob/master/R/mvn.R) (bottom) for both mu and si2:

Mu:

Si2:

As you can see, it seems that

[2020-09-02 02:28] jckrumm commented on #125
Now I think the pingouin equations are correct. They don't match the paper in “MVN: An R Package for Assessing Multivariate Normality”, which makes me think the paper has the wrong equation. I tested four different implementations of the mu and sigma^2 equations (pasted below), including the equations presented in the original paper describing this multivariate normality test. On my test, the only

[2020-09-02 04:06] raphaelvallat commented on #125
No worries at all and thanks for taking a deep dive into this! Always good to revisit some code that I do not use that often.

Closing the issue now.

[2020-09-02 04:06] #125 closed

[2020-09-03 17:33] #123 closed

[2020-09-07 18:24] raphaelvallat commented on #122
This is fixed in the just-released stable version of Pingouin (v0.3.8). Please make sure to update your version. Closing the issue. Thanks again!

[2020-09-07 18:24] #122 closed

[2020-09-07 18:24] raphaelvallat commented on #119
This is fixed in the just-released stable version of Pingouin (v0.3.8). Please make sure to update your version. Closing the issue. Thanks again!

[2020-09-07 18:24] #119 closed

[2020-09-07 18:24] raphaelvallat commented on #114
This is fixed in the just-released stable version of Pingouin (v0.3.8). Please make sure to update your version. Closing the issue. Thanks again!

[2020-09-07 18:24] #114 closed

[2020-09-07 18:24] raphaelvallat commented on #112
This is fixed in the just-released stable version of Pingouin (v0.3.8). Please make sure to update your version. Closing the issue. Thanks again!

[2020-09-07 18:24] #112 closed

[2020-09-07 18:35] raphaelvallat opened #127 "Unit testing with categorical columns in several functions"
- [ ] pg.remove_rm_na

- [ ] pg.pairwise_ttests

- [ ] pg.normality

- [ ] pg.pairwise_tukey

[2020-09-13 00:02] merjekrepo opened #128 "Pairwise comparisons in one-way repeated measures anova - p value results not matching with R p values"
[liquor-sales_long.xlsx](https://github.com/raphaelvallat/pingouin/files/5213386/liquor-sales_long.xlsx)

For the attached excel file, when I run pairwise comparisons in one-way repeated measures using pingouin, I get the following p value results:

[code]

![one_way_within_subjects_anova_screenshot_pengouin](https://user-images.githubusercontent.com/12020185/93007029-4945d900-f529-11ea-81c0-2b353

[2020-09-15 00:07] raphaelvallat commented on #128
Hi @merjekrepo,

It's because you need to specify `paired = TRUE` in R otherwise you're calculating _independent_ T-tests. The following R snippet gives the same results as Pingouin:

[code]

Thanks,
Raphael

[2020-09-15 00:08] raphaelvallat commented on #121
I'm closing this issue for now, but please feel free to reopen. Thanks

[2020-09-15 15:02] #128 closed

[2020-09-15 15:08] merjekrepo opened #129 "Two way repeated measures anova - the first row has a p value with null always"
[rmAOV2way_long.xlsx](https://github.com/raphaelvallat/pingouin/files/5225880/rmAOV2way_long.xlsx)

I have a quick question:

When I apply post-hoc test for the two-way repeated measures anova using the attached file, I get the p value as nan of the first row. That happens with other datasets too.

[code]

![two_way_pairwise_comparison](https://user-images.githubusercontent.com/12020185/93228163-d

[2020-09-15 18:05] raphaelvallat commented on #129
Hi @merjekrepo,

Can you please use Pingouin's Gitter chat for future questions: https://gitter.im/pingouin-stats/Lobby?

Here, the corrected p-value is NaN because you only have 2 levels and therefore one comparison in your "iv1" variable. So, it doesn't make sense to apply a multiple comparison procedure when you only have one test. You should therefore report the uncorrected p-value (p-unc).

T

[2020-09-16 12:24] merjekrepo commented on #129
Sure @raphaelvallat , I use use that gitter platform, didn't know that exist :)

Thanks a lot for your answer. I get it now.

[2020-09-16 12:24] #129 closed

[2020-09-17 19:51] sappelhoff opened #130 "Rank deficiency of design matrix in multiple linear regression leads to cryptic error"
Hi there, today I stumbled over an interesting error. Let me start with the example (I'll keep it close to the truth of what I actually do).

let's assume that:

- `n` are the number of trials in an experiment
- `y` are amplitudes in µV of [EEG](https://en.wikipedia.org/wiki/Electroencephalography) data at some channel/time bin (i.e., the voltage amplitude recorded at a specific EEG channel at a s

[2020-09-18 15:50] raphaelvallat commented on #130
HI @sappelhoff,

Thanks for the detailed issue. Some first thoughts:

1) Your design matrix becomes rank deficient only when you add the intercept. It's because the intercept is always the sum of all the other columns (which is always 1), so your columns are not linearly independent. Pingouin works well when you pass `add_intercept=False`.

2) Sklearn only returns the rank given by scipy.linalg.ls

[2020-09-18 16:10] sappelhoff commented on #130
True, I have noticed that --> thanks for the explanation of the rank deficiency ... I didn't immediately see that.

Would it perhaps be a solution to z-score `y` and to not include a constant term (i.e., use `add_intercept=False`)?

okay :thinking: yeah, would be interesting to know

yep, let me know if I should draft a PR :+1:

[2020-09-18 16:21] raphaelvallat commented on #130
I'd prefer not directly changing the `y` variable, I think it's better to let the users know that there is an issue, and then they can make an informed decision. Please feel free to draft a PR. If you want to look at what statsmodels is doing under the good that would be fantastic as well, otherwise I'd have a look early next week.

Thanks!

[2020-09-18 16:23] sappelhoff commented on #130
yeah, I absolutely agree ... that was more a question on what you'd think appropriate for my situation :-)

okay, will draft a PR.

[2020-09-24 08:14] JoElfner opened #132 "plot_paired for n>2 subjects"
Hi @raphaelvallat

are you interested in an implementation of a paired plot for an arbitrary number of unique subjects?

This could look like:
![evolution of income over subjects](https://user-images.githubusercontent.com/38665102/94118748-3c40b800-fe4e-11ea-81ec-2f8b1811dbd6.png)

[2020-09-24 16:57] raphaelvallat commented on #132
Hi @JoElfner!

Absolutely! Many people have asked me if paired plots with n>2 were going to be implemented in Pingouin, and I've always been too lazy to do it, but if you want to submit a PR please do :-)

[2020-09-24 17:52] JoElfner commented on #132
Done! Initial commit pushed. As soon as you approve the PR or at least parts of it, I'll add examples, tests and doc.

[2020-09-27 00:52] apavlo89 opened #134 "Quade's RANCOVA/Nonparametric Analysis of Covariance"
Hello Raphael,

This is a feature request. It would be great if Quade's RANCOVA was included in Pingouin. Here is the procedure on SPSS https://www.youtube.com/watch?v=jozx59H5IHw&feature=youtu.be

I haven't been able to find Quade's in Python so if this was done it would be the first python implementation of this method.

Regards,

Achilleas

[2020-09-28 13:43] clementpoiret opened #135 "Reimplementing Pingouin in Julia"
Hey Raphael, I hope you're fine.

I want to practice my skills in Julia, and I really like using Pingouin for my Python projects.
I think it can be practical to have a Julia version of Pingouin, do you allow me to try to "port" your work on this language? Of course, I'll credit your original package, and stay open source :)

Have a nice day,
Clément

[2020-09-28 20:09] raphaelvallat commented on #134
Hi @apavlo89,

Thanks for opening this feature request. I had never heard of Quade's ANCOVA before, and it doesn't seem to be implemented in JASP either. Could be a nice addition to Pingouin but I really don't think I'll have the time to work on it within the next months.

I'll leave the issue open in case anyone wants to give it a try and submit a PR!

Thanks
Raphael

[2020-09-28 20:12] raphaelvallat commented on #135
Hi @clementpoiret,

Absolutely, that's a great idea! I've always thought that at some point in the future it would be nice to port Pingouin to Julia. Good luck with that and keep us posted on your progress :-)

Have a great day,
Raphael

[2020-09-29 12:03] apavlo89 commented on #134
Hello Raphael,

It is quite a decent method for non-parametric analysis of variance. I wish I had the programming skills to add it to Pengouin myself! I came upon Pengouin recently trying to find a better and faster and easier way to apply statistical tests and to display graphs better, using Python, on the data I extracted using YASA that I inspected on Visbrain. Both project you are involved in.

[2020-09-29 13:43] clementpoiret commented on #135
Thanks!
I think this is the kind of libraries that lacks in the Julia ecosystem (I didn't even found an implementation for a Shapiro-Wilk test, beside calling a 20-years-old Fortran code used in scipy...)
I'll try to do my best :) !

Have a great day too,
Clément

[2020-09-29 13:43] #135 closed

[2020-09-30 17:54] dokato opened #136 "Mixed 2-way ANOVA"
My RM ANOVA works fine:

[code]

I thought it would be easy to extrapolate to mixed ANOVA by introducing another between subject variable. But this:

[code]

errors: `'DataFrame' object has no attribute 'dtype'`

Is there a plans to introduce 2-way mixed ANOVA, eg. for a design 2x2x2?

[2020-09-30 18:37] raphaelvallat commented on #136
Hi @dokato,

For now, only one-within / one-between factors are supported in mixed_anova. It would actually require a lot of changes to the code to add support for multiple between or within factor, so I doubt this will be implemented in the near future.

For more complex ANOVA designs, I strongly recommend using JASP.

Thanks!
Raphael

[2020-10-01 13:09] dokato commented on #136
@raphaelvallat ah pity, thanks for adding it to the roadmap though ;)

[2020-10-05 13:46] clementpoiret commented on #135
If anyone want to check the project, here is the current state of implementation: https://github.com/clementpoiret/Pingouin.jl/projects/1 :)

[2020-10-06 16:46] #132 closed

[2020-10-08 20:16] achennings opened #138 "Allow specification of "skipped" correlation"
Hello Raphael,

I've been playing around with robust correlations, and I realized that currently pingouin has the option to run both skipped spearman's, and pearson's correlations. However, the user cannot actually request a skipped pearson's correlation, the unchangeable default is spearman's.

In correlation.py:
[code]

Where the definition of `skipped` is:
[code]

So it seems all that is requir

[2020-10-08 23:17] raphaelvallat opened #139 "Remove Glass Delta effect size"
Pingouin's implementation of the [Glass Delta effect size](https://www.statisticshowto.com/glasss-delta/) is based on the assumption that the control group will always have the lowest standard deviation.

[code]

This is misleading. I therefore propose to remove the Glass Delta effect size. Users can either manually calculate the Glass Delta effect size or simply rely on the Cohen d or Hedges g.

[2020-10-08 23:26] raphaelvallat commented on #138
@achennings,

I think that's a great idea, and I like your suggestion. Another option is to add a **kwargs argument to the pingouin.corr() function that would then be passed to the lower-level correlation functions, e.g.:

[code]
Let me know what you think!

Thanks,
Raphael

[2020-10-09 16:50] achennings commented on #138
I think actually you have the right idea with passing **kwargs down so that other options can be controlled. Something else that I noticed, that maybe should be its own issue, is that currently the p-value from robust correlations comes from the single estimate, and the 95% CI is derived parametrically. Something that I think would be useful would be to allow for specification if the 95%CI and cor

[2020-10-10 08:27] sappelhoff commented on #130
was closes in #131 but somehow the "github closing automation" didn't work. perhaps because I don't have permissions. closing manually now.

[2020-10-10 08:27] #130 closed

[2020-10-10 13:58] caofeizhen opened #140 "can i use it for an 2x2x2 repeated anova"

[2020-10-10 13:58] caofeizhen opened #141 "can i"

[2020-10-10 14:00] caofeizhen commented on #140
beg you

[2020-10-10 14:00] #141 closed

[2020-10-10 17:11] raphaelvallat commented on #140
Hi @caofeizhen,

For similar questions, please use the Pingouin Gitter channel: https://gitter.im/pingouin-stats/Lobby

To answer your question, no, you cannot. Pingouin does not support 2x2x2 design. I'd suggest using the free software JASP.

Thanks
Raphael

[2020-10-10 17:11] #140 closed

[2020-10-10 17:24] raphaelvallat commented on #138
Hi @achennings,

Please feel free to submit a PR implementing the kwargs in pg.corr()!

As for the non-parametric estimation of confidence intervals and p-values, I have to say I'm not especially in favor of implementing that for the following reasons:

1. It's hard to validate the results derived from (random) bootstrapped distribution.
2. There is already the compute_bootci function if users wan

[2020-10-20 21:34] raphaelvallat commented on #139
Done in 9c97fdc72525d290a9884dcae2228a3c70f460cb

[2020-10-20 21:34] #139 closed

[2020-11-02 11:09] apavlo89 opened #142 "Feature request: Non-parametric repeated measures"
Would be awesome if non-parametric repeated measures was added at some point. It has been implemented in R nparcomp package. Here is a researchgate post about it. https://www.researchgate.net/post/Is_there_a_non-parametric_equivalent_of_Repeated_Measures_ANOVA

[2020-11-02 16:21] raphaelvallat commented on #142
Hi @apavlo89,

Can you please be a little more specific? I just want to note that there is already the [pingouin.friedman](https://pingouin-stats.org/generated/pingouin.friedman.html) function which is basically a non-parametric one-way repeated measures ANOVA.

Thanks!
Raphael

[2020-11-08 16:09] PuncocharM opened #143 "Feature request: F-test for Friedman"
I found through wikipedia (https://en.wikipedia.org/wiki/Kendall%27s_W#Significance_Tests) that apart from the usual Chi-squared test, there is a possibility to perform F-test and the wiki page links to a paper (Marozzi 2014) showing the F-test is superior to Chi2 in size and power for smaller samples. It would be nice to have it in pingouin too, at least as an option if not as a default.

I use i

[2020-11-08 20:25] raphaelvallat commented on #143
HI @PuncocharM,

Thanks for the PR! This sounds like a nice addition to the pingouin.friedman function indeed. Currently, the function only returns the Q-statistic, degrees of freedom, and p-value. Two options:

1. We add the W (Kendall), F-statistic, new p-value + the two degrees of freedom of the F-test to the output dataframe. This would be super exhaustive but probably very confusing for users

[2020-11-09 10:29] PuncocharM commented on #143
Hi @raphaelvallat,

sure, I can try to put together a PR. I agree with you that the second option is better. We would return Kendall's W, which serves as an effect size and according to a method argument we compute either Q or F statistic, perform the corresponding test and return the used statistic and p-value. The argument could be method='chisq' or method='f' for example?

[2020-11-11 00:05] raphaelvallat commented on #143
That sounds great! Please feel free to submit a PR (on the develop branch of Pingouin -- and see the [contributing guidelines](https://pingouin-stats.org/contributing.html)). Let me know if you have any questions. Thanks again!

[2020-11-26 15:46] gacek91 opened #145 "F-test for linear model?"
Hello,

Is there any way to calculate the F-stat and significance level of the linear model using pingouin?

Kind regards.

[2020-11-29 18:54] raphaelvallat commented on #145
Hi @gacek91,

I'm assuming you are referring to the F-test of a multiple linear regression, correct? This is not calculated by Pingouin, but it should be pretty straightforward to manually compute it using the residuals and degrees of freedom of the model. For more details, please see: http://facweb.cs.depaul.edu/sjost/csc423/documents/f-test-reg.htm

If you succeed, please feel free to share your

[2020-11-29 20:00] gacek91 commented on #145
Sure, will give it a try!

Cheers,

Maciej

[2020-12-05 12:50] texturejc opened #146 "T-test results different from R and scipy"
Hi. First of all, thanks for pingouin; it's a great package––perfect for teaching and the kind of analyses done in experimental psychology.

However, I'm after picking up an inconsistent behaviour in the independent samples t-test function. Basically, when I compare means between the two groups in the data attached, pingouin outputs the following test statistics:

[code]

This would be fine, excep

[2020-12-06 00:48] raphaelvallat commented on #146
Hi @texturejc,

This is because Pingouin automatically applies the Welch correction for groups of different sizes. Setting `correction=False` give a similar output to R and SciPy:

![image](https://user-images.githubusercontent.com/25703792/101268590-75808880-3719-11eb-9dbf-910d69dd16c1.png)

[2020-12-06 11:35] texturejc commented on #146
Great, thanks for clarifying this! Now that you say it, I see that it's stated in the docs, but nice to have the puzzle resolved.

[2020-12-06 11:35] #146 closed

[2020-12-12 11:26] nrcjea001 opened #147 "Unexpected results in semi-partial correlation with Spearman/Kendall"
As a test, I generated correlated variables x and y. I then set x_test to x and ran a semi-partial correlation of xtest against y, controlling for the effect x on y. As one would expect, the pearson semi-partial correlation of this is zero. However, when applying Spearman and Kendall, the result is non-zero.

The Spearman and Kendall result was 0.14 and 0.11 respectively. Although it is low using

[2020-12-13 19:39] raphaelvallat commented on #147
Hi @nrcjea001,

I believe this is caused by the very low sample size and non-normality of the data that you're using in this example. In the example below, I generate two (normal) correlated variables with n=100, and as you can see the Spearman semi-partial correlation is very close to zero.

![image](https://user-images.githubusercontent.com/25703792/102021806-657b3100-3d37-11eb-8089-bdd1b9b6d938

[2020-12-14 03:04] nrcjea001 commented on #147
Hello, the following example is more appropriate:

![image](https://user-images.githubusercontent.com/26452178/102035729-9b252600-3dda-11eb-8049-c5c4a52d8080.png)

[2020-12-15 00:17] raphaelvallat commented on #147
Hi @nrcjea001,

In your example, the Y variable is not normal but binary, therefore a linear regression (Y ~ X) is not appropriate and will result in non-normal residuals, which most likely leads to invalid ranks for the Spearman correlation. Furthermore, the fact that your covariate has exactly the same values as the X variable is clearly sub-optimal. In fact, I've tried to run your example in th

[2020-12-15 02:39] nrcjea001 commented on #147
Hi @raphaelvallat

Pearson rests on an assumption of normality. However, Spearman's correlation is a rank based correlation measure; it's non-parametric and does not rest upon an assumption of normality. Same with Kendall. Its surprising therefore that the Pearson method provides the correct result when the others do not.

I do not think the issue is that Y is binary. The issue is the formulae for

[2020-12-15 05:42] raphaelvallat commented on #147
Hi @nrcjea001,

Sorry I wasn't clear re: normality, I was talking about the assumption of normality of the residuals of Y ~ X, not the normality of the x and y variable in the calculation of the correlation. In that specific case, I do agree that a logistic regression would be more adequate. However, there are very few packages/software that implements semi-partial correlation, and I've never seen

[2020-12-16 09:50] oconnellr opened #148 "calculating estimated marginal means for ANCOVA"
hi there,

Is there a function available for calculating the estimated marginal means for ANCOVA (i.e. the dependent variable means when the covariate is held constant) equivalent to the emmeans function in R? The pingouin package is great by the way!
All the best

Redmond

[2020-12-17 05:29] nrcjea001 commented on #147
Hi @raphaelvallat

I have been doing some digging, and I was just want to confirm if your code follows the same principle. In the Spearman case, the partial correlation is the pearson correlation of the residuals of the linear regression between the ranks of the variables in question. [link here](https://imaging.mrc-cbu.cam.ac.uk/statswiki/FAQ/partsp#:~:text=It%20is%20possible%20to%20produce%20par

[2020-12-17 22:07] raphaelvallat commented on #148
Hi @oconnellr,

Glad that you like it! There isn't yet. But I think it could be a really nice addition, and it shouldn't be too hard to implement. Is there any way that, using Pingouin's example data, you could create an R script that would demonstrate exactly what you were hoping for, so I can have a better idea of how to implement it?

Thanks!
Raphael

[2020-12-17 22:12] raphaelvallat commented on #147
Hi @nrcjea001,

The source code of the partial_corr function can be found [here](https://github.com/raphaelvallat/pingouin/blob/334e41003499ccd8137bda193e96d463d26ff32e/pingouin/correlation.py#L576). Pingouin indeed uses a standard regression approach to calculate the residuals of a linear regression (X ~ covar and/or Y ~ covar). These residuals are then passed to the main correlation function ([p

[2021-01-12 01:24] FlorinAndrei opened #149 "pg.ttest() documentation: the behavior for the one sample test"
When y is a scalar, `pg.ttest()` performs a one sample test. But the documentation is not clear on what y means in this context.

Related, what value should y have to replicate the t.test() function from R?

https://pingouin-stats.org/generated/pingouin.ttest.html

Please add this line to the documentation, to make it more clear (for beginners) what the real behavior is:

[code]

Thanks!

[2021-01-12 19:24] manfred2020 commented on #149
here you find info about the t-test in R:

https://www.rdocumentation.org/packages/stats/versions/3.6.2/topics/t.test

"mu = 0"
"mu          a number indicating the true value of the mean (or difference in means if you are performing a two sample test)."

or maybe this helps:
http://www.sthda.com/english/wiki/one-sample-t-test-in-r

[2021-01-12 19:43] FlorinAndrei commented on #149
I'm trying to make you look at it not from the perspective of someone who is very familiar with it (and then of course it's all clear) but from the p.o.v. of someone just getting started.

The documentation seems to say the function is very firmly geared towards the two-sample test, and there are no clear clues as to how to transition it to a one-sample test.

This phrase seems to provide a clue..

[2021-01-12 19:47] manfred2020 commented on #149
i'm not familiar with R, i do not use is, googled t.test() R for the first time.

first thing is, that you need to know what a one sample t-test does. i think you know that because otherwise you won't calculate it with R or python.
but then you also know that you need a single value against which your sample is tested.

so, in sum, i'm not sure where the problem is. when you know what a t-test doe

[2021-01-12 20:08] FlorinAndrei commented on #149
Modify the phrase like this:

[code]

And then folks transitioning from R would go "oh, that's like the default for mu in R".

`t.test(sample)` (no parameters but the sample) is very idiomatic in R, whereas `pg.ttest()` seems written (if you've been indoctrinated by R) for a two-sample test, which may create confusion about the value of mu.

I'm not trying to be annoying here, and I've been on the

[2021-01-12 20:20] sappelhoff commented on #149
@FlorinAndrei I find your second suggestion reasonable

would be an improvement over the current

in my humble opinion.

[2021-01-13 02:21] raphaelvallat commented on #149
Thank you all for your input! I've now modified the doc as follow:

These changes are on the develop branch, but I'm hoping to release a new minor version soon.

Thanks
Raphael

[2021-01-13 18:51] manfred2020 commented on #149
it's getting complicated...

this " which is assumed to be the true value of the mean" is not true. it can be the true value of the mean, it can be any value. in most uses cases it will be any value, e.g. your height compared to a sample of top 100 basketball players height.

so please do not 'improve' the original doc with a misleading doc.

i would suggest: "Second set of observations. If ``y``

[2021-01-13 18:58] raphaelvallat commented on #149
What about:

[2021-01-13 19:00] manfred2020 commented on #149
ok, if you want to keep that R reference :-)

[2021-01-15 17:05] #149 closed

[2021-01-15 17:09] mpcoll opened #151 "Sorting data farme is changing the results of pairwise_ttests despite same values"
Hi, thanks for the great package.

I think I ran into a potentially worrisome issue. After sorting a data frame, the pairwise_ttests gives the wrong result after sorting despite the same values. The mixed_anova is not affected.

I encountered it with my own data but reproduced it using the example dataset:

Before sorting

![beforesort](https://user-images.githubusercontent.com/28481638/104755085-

[2021-01-15 17:28] mpcoll commented on #151
Note that sorting by both Subject and the Time solves the issue so a quick fix might be to implement an additional sorting by subjects before extracting the data from the data frame

[2021-01-15 18:59] raphaelvallat commented on #151
Hi @mpcoll,

This is an absolute nightmare. Thank you for opening the issue. I feel terrible that I wasn't able to see that earlier. Here's what I think is happening:

**1) What is the bug?**

When doing pairwise T-tests with repeated measures data, the current function implicitly assumes that the dataframe is sorted, i.e. that the third row of a given group (= repeated measurements) always belong

[2021-01-15 22:43] raphaelvallat commented on #151
Hi,

I just pushed a fix for this error on the develop branch (efc1b1658d18cf28bb370de53d7b734fedd59410). I believe this solves the problem in all the aforementioned cases (i.e. one-way and two-way repeated measures design, with / without missing values). @mpcoll any chance you could try the fix on your own data? You will have to install the develop version of Pingouin.

I'm hoping to release a ne

[2021-01-15 23:01] raphaelvallat commented on #151
PS: For anyone wanting to reproduce the error, this is the simplest example:

[code]

[2021-01-16 16:40] raphaelvallat commented on #147
Closing this issue but please feel free to reopen.

[2021-01-16 16:41] raphaelvallat commented on #143
Closing this issue. This will be released in the next soon-to-come version of Pingouin.

[2021-01-16 16:41] #143 closed

[2021-01-16 16:43] raphaelvallat commented on #142
Closing this issue but please feel free to reopen

[2021-01-16 16:43] #142 closed

[2021-01-16 17:57] raphaelvallat commented on #138
I have just added support for kwargs in pg.corr (see cba94ff48157a27eaf73afbc32ee94c9e880c912). This will be available on the next stable release of Pingouin, which I'm planning on pushing within the next few days. Closing the issue for now but feel free to reopen. Thanks

[2021-01-16 17:57] #138 closed

[2021-01-17 01:38] FlorinAndrei opened #152 "Feature request: add custom confidence level to ttest()"
`ttest()` works great, but the confidence level is set in stone at 0.95

It would be nice to add a parameter to `ttest()` so users can set different CLs.

Thanks!

[2021-01-17 02:31] FlorinAndrei opened #153 "Feature request: add confidence interval to pg.wilcoxon()"
In R, `wilcox.test(A, B, paired=T, conf.int=T)` also returns a confidence interval for the difference in median values.

I can't seem to find an equivalent with `pg.wilcoxon()`.

[2021-01-17 16:57] raphaelvallat commented on #152
Hi @FlorinAndrei,

I just added (and validated against R) a `confidence=0.95` parameter in pg.ttest. The changes are visible [in the develop branch](85cd4ab96cff07e7dd9be4d9c0801e2a47b0468a), and I'm hoping to release a new stable version of Pingouin very soon.

Thanks!

[2021-01-17 17:07] raphaelvallat commented on #153
Thanks @FlorinAndrei. For reference this is the R source code: https://github.com/SurajGupta/r-source/blob/master/src/library/stats/R/wilcox.test.R

This may prove to be more complicated than adding the confidence parameter to the T-test function, mostly because the pg.wilcoxon function is actually a wrapper around [scipy.stats.wilcoxon](https://docs.scipy.org/doc/scipy/reference/generated/scipy.s

[2021-01-19 00:12] #152 closed

[2021-01-20 01:24] raphaelvallat commented on #151
This issue has now been fixed in the newest stable release of Pingouin (v0.3.9). Closing the issue but please feel free to reopen.

[2021-01-20 01:24] #151 closed

[2021-01-24 13:58] vb690 opened #154 "Planned comparisons pairwise_ttest"
Hello :)

do you think it could be valuable to be able to spcify planned comparisons in `pairwise_ttest` (I suspect this might also apply to other post-hoc tests).

I know it calls for data dredging but it is a pity having to run all the possible comparisons when only a few are of interests.

[2021-01-25 05:54] raphaelvallat commented on #154
HI @vb690,

Could you provide an example (using real or fake data) of the modifications you'd like to see on the input/output of the current function? That'd be great. That said, the pairwise_ttests function is already quite complex and I'm a bit reluctant to complicate it even further.

Thanks,
Raphael

[2021-01-25 13:18] vb690 commented on #154
Hi @raphaelvallat,
first of all, amazing job with this library.

As for the example, given a DataFrame `df`:

| Subject | Factor | DV |
|---------|--------|----|
| 1       | A      | 3  |
| 2       | A      | 4  |
| 3       | A      | 6  |
| 1       | B      | 7  |
| 2       | B      | 2  |
| 3       | B      | 9  |
| 1       | C      | 8  |
| 2       | C      | 1  |
| 3       | C      | 3  |

Let

[2021-01-25 22:00] raphaelvallat commented on #154
Hi @vb690,

Thanks for this exhaustive answer, this is super helpful! I like your idea, and I think it could be quite straightforward to implement for one-way designs (repeated measures or independent). However, it's gonna be a mess when dealing with interaction terms. Are you aware of any software or R package that offers such planned comparison for two-way interaction? If not, how would you impl

[2021-01-29 17:23] vb690 commented on #154
Hi :)

aplogies for the late response but I tried to understand how pinguoin deals with interactions in `pairwise_ttest`.
As you said the function looks quite complex and all the initial ideas I had seem rather unfit.

I thought that maybe a solution based on [DataFrame.query()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) in conjunction with a patsy-like

[2021-01-29 18:53] raphaelvallat commented on #154
Hi @vb690,

I agree that specifying a contrast matrix would not work with the current implementation. In truth, I think that the simplest way to focus on specific contrasts is to run the pairwise_ttests function on all possible contrasts, then keep only the relevant rows, and then calculate the corrected p-values using the pingouin.multicomp function. If that sounds like a good compromise, I'll cl

[2021-01-29 19:04] vb690 commented on #154
Hi @raphaelvallat

that seems very sensible.

Best
Valerio

[2021-01-29 19:22] #154 closed

[2021-02-11 02:55] DominicChm opened #155 "qsturng.py Inaccuracy"
Hello,

I was doing some testing recently, and noticed that the `qstrung.py` implementation in Pingouin seems to give a large error when calling pstrung. The implementation, which seems almost identical to Statsmodels', gives errors on the order of 10^-2 when compared with manual integral evaluation, R, and Statmodels.

Here's a quick test script to demonstrate what I mean:
[code]
[code]

It looks

[2021-02-11 04:41] raphaelvallat commented on #155
Hi @DominicChm,

Thanks for spotting this issue. The [qsturng.py](https://github.com/raphaelvallat/pingouin/blob/master/pingouin/external/qsturng.py) file is basically a copy-paste from statsmodels a few years ago when I first started working on Pingouin. My guess is that they've updated the file since. We could update the file, or even better, I think we could simply remove it (and the entire ext

[2021-02-12 01:41] DominicChm commented on #155
I think replacing it sounds like a good plan. I'll submit a PR shortly.

[2021-02-13 00:18] #155 closed

[2021-02-13 17:24] raphaelvallat commented on #145
Re: The F-test of a linear regression can also be calculated with statsmodels, see: https://www.statsmodels.org/devel/examples/notebooks/generated/regression_diagnostics.html

I'm closing this issue for now, but please feel free to reopen.

Thanks
Raphael

[2021-02-13 17:24] #145 closed

[2021-02-13 17:25] raphaelvallat commented on #40
Closing this issue for now but please feel free to reopen.

[2021-02-13 17:25] #40 closed

[2021-02-22 13:30] orduek opened #157 "Comparing correlation"
I think it would be a great addition to this library if we can implement a way to compare dependent or independent correlations.
There is already an example function for that from here:
https://github.com/psinger/CorrelationStats/blob/master/corrstats.py

[2021-02-22 15:51] raphaelvallat commented on #157
Hi @orduek,

Thank you for opening the issue. This seems indeed pretty straightforward to implement. That said, Pingouin already returns the confidence intervals of correlation coefficients, which I think can be used to compare the coefficients (see for example [this article](https://www.researchgate.net/publication/5671680_Toward_Using_Confidence_Intervals_to_Compare_Correlations)). Plus, both me

[2021-02-22 16:22] orduek commented on #157
Seems reasonable. I'll take a look at the paper and try to write something up.
I shouldn't be too complicated indeed.

[2021-02-24 02:14] MOAMSA opened #158 "handle missing values in Repeat measures one-way ANOVA"
Hello, I have a table with the below columns ( for 20 participants in 6 different conditions).
`Participant Id, condition, response`
However, there are missing values in some conditions.
I think the One-way repeated measures might help to see the differences between these conditions. I tried to use `pg.rm_anova` and then `pg.pairwise_ttests`(Holm-corrected pairwise T-tests) and got this error:
`Va

[2021-02-24 15:58] giupardeb opened #159 "info about Partial Rank Correlation Coefficents (PRCC)"
Hi guys, I'm looking for a function to compute the partial rank correlation coefficients (PRCC). in your library, I found this [function](https://pingouin-stats.org/generated/pingouin.partial_corr.html), is there the function that allow me to compute the PRCC? Thanks!

[2021-02-24 18:19] raphaelvallat commented on #159
Hi @giupardeb,

Yes you can use the [pingouin.partial_corr](https://pingouin-stats.org/generated/pingouin.partial_corr.html) function with `method='spearman'` to calculate a partial rank correlation. If you have multiple correlations to calculate, you can also use the [pingouin.pairwise_corr](https://pingouin-stats.org/generated/pingouin.pairwise_corr.html#pingouin.pairwise_corr) function.

Thanks

[2021-02-24 18:19] raphaelvallat commented on #159
Closing this issue, but feel free to reopen.

[2021-02-24 18:19] #159 closed

[2021-02-24 18:21] raphaelvallat commented on #158
Hi @MOAMSA,

Repeated measures ANOVA does not handle missing values. Note that this is true overall and not specific to Pingouin. The only solution is therefore to remove any participants with one or more missing values. Because they can handle missing values, linear mixed effect models are often far more useful than repeated measures ANOVA. However, they are not implemented in Pingouin. You will

[2021-02-24 18:22] raphaelvallat commented on #158
Closing this issue but please feel free to reopen.

[2021-02-24 18:22] #158 closed

[2021-03-12 11:39] giupardeb commented on #159
@raphaelvallat Thank you so much for your help. I have another question, Is it possible to calculate PRCC over time? I Try to explain myself better.. I perform 1000 sample on 1 parameter using the LHS algorithm, after that I run my model 1000 times by varying the parameter. So, I have the LHS matrix with 1000 rows, and output model matrix with 1000 columns and N rows. Can I perform PRCC over time

[2021-03-12 16:53] raphaelvallat commented on #159
Hi @giupardeb,

If I understood correctly, you will have to implement some sort a _for loop_ (or numpy.apply_along_axis) to iteratively calculate the PRCC across one dimension of your matrix (which I assume is time). This might be a bit slow, but I cannot think of a better alternative, at least not in Pingouin.

Hope this helps!
Raphael

[2021-03-15 10:21] dominikkraft opened #162 "pairwise_corr with covariates // multiple comparison correction"
Hi @raphaelvallat,

I am using your pairwise_corr function with covariates to calculate (partial) correlations between columns in a pandas dataframe. This  relates to [PR 124](https://github.com/raphaelvallat/pingouin/pull/124).

I was however wondering why the current implementation includes correlations between the columns and covariates, too? I see that there are situation in which this might b

[2021-03-15 13:16] giupardeb commented on #159
Thank you very much! you was very useful! If I can, I would like to do you another question about the pairwise_corr. I have a dataframe with 3 columns [["a"], ["b", "c"]] and I want to do the product between [“a”] and [“b”, “c”]. If the values of all rows of the column "b" are zero, then the column b was delete from the output of the matrix. Does this happens because the values of are all NaN ?

I

[2021-03-15 15:28] raphaelvallat commented on #159
Hi @giupardeb,

Indeed, columns with constant values are removed from the dataframe before calculating the pairwise correlation, see:

https://github.com/raphaelvallat/pingouin/blob/91b184780d27f291ff9f894d1c80f74c0c20e146/pingouin/pairwise.py#L1101-L1102

Thanks,
Raphael

[2021-03-15 15:37] raphaelvallat commented on #162
Hi @dominikkraft,

Thanks for opening the issue!

It shouldn't...! How are you using the pairwise_corr functions? Is there any chance that you could share an example with full code and using Pingouin example datasets (e.g. `pg.read_dataset("pairwise_corr")`)?

Best,
Raphael

[2021-03-15 15:56] dominikkraft commented on #162
I followed example "3" from `pairwise_corr?` and the screenshot above resulted from:

`pg.pairwise_corr(data = funcnet_df, columns=[quest], padjust="fdr_bh",
                               covar=["age", "gender", "fd"]).round(3)`

where `columns=[quest]` refers to a single string.

I get the same for your example dataset :

<img width="641" alt="Bildschirmfoto 2021-03-15 um 16 55 14" src="https://

[2021-03-16 22:26] raphaelvallat commented on #162
Hi @dominikkraft,

You're right, something is wrong here. I think there was a misunderstanding in [PR 124](https://github.com/raphaelvallat/pingouin/pull/124), i.e. I didn't understand that this would become the default behavior. I'll have to revert the changes in the next release.

Thanks for opening the issue,
Raphael

[2021-03-16 22:34] raphaelvallat commented on #162
Pinging @JoElfner: So I thought that the _"full partial correlation"_ behavior would only be applied in the specific case of `columns=None` and `covar=data.columns` (i.e. all columns). It seems however that this behavior is always applied when `columns=None`, which I think is not right. Let me know what you think.

Thanks for your help,
Raphael

[2021-03-17 07:26] dominikkraft commented on #162
thanks @raphaelvallat,
if this is settled, I suggest to include an example also here [in the examples](uhttps://github.com/raphaelvallat/pingouin/blob/master/notebooks/04_Correlations.ipynbrl) as the cases there only cover the described behavior as far as I see.
Let me know if I can be of any help.

Best,
Dominik

[2021-03-18 18:31] dPys opened #163 "Multivariate ICC?"
What would be needed to support this? See so-called [I2C2](https://github.com/muschellij2/I2C2/blob/master/R/I2C2.R)

If you point me in the right direction, I'd be happy to start a PR.

[2021-03-18 23:09] raphaelvallat commented on #163
Hi @dPys,

- [Link to the paper describing the I2C2](https://link.springer.com/article/10.3758/s13415-013-0196-0)

Thanks for opening the issue and suggesting this new feature. I wasn't familiar with it, and after a quick read of the paper, it seems that it is a highly-specific function that would be more adequate in image-processing packages such as [scikit-image](https://scikit-image.org/), or e

[2021-03-19 00:18] dPys commented on #163
Thanks for the quick reply!

Indeed, I2C2 was invented in the context of imaging studies where it was most immediately applicable. Perhaps I will bug the scikit-image people instead.

More generally speaking though, would it not be possible to enhance pingouin.intraclass_corr such that Scores can optionally be vectors and not just scalar values? i.e. using manova instead of just anova [here](https

[2021-03-19 16:35] raphaelvallat commented on #163
Hi @dPys,

Is that something you've seen in other statistical softwares (R, JASP)? Currently, there is no MANOVA module in Pingouin, which would be required to implement what you suggest. I'd like to implement it in the future though.

Thanks
Raphael

[2021-03-30 17:52] adamnarai opened #164 "Skipped correlation gives different results than the Pernet implementation in Matlab"
I think this line in `correlation.py`:
[code]
is functionally different compared to the Matlab implementation and the equation in Wilcox, R. (2004)

[2021-03-30 21:21] raphaelvallat commented on #164
Hi @adamnarai,

I coded this function a long time ago, but from what I remember it is essentially an (optimized) translation of the Matlab code from the [robust correlation toolbox](https://github.com/CPernet/Robust-Correlations) by Cyril Pernet and Guillaume Rousselet. Furthermore, the output of the function is tested against the original toolbox:

https://github.com/raphaelvallat/pingouin/blob/9

[2021-03-31 12:15] adamnarai commented on #164
Hi @raphaelvallat,

This test yields the same result as the robust correlation toolbox, however I can create a different test data, where it's not the case. For example the data generated by replacing line 17 with the following:
[code]
yields `r=0.474, n_outl=0` in pingouin and `r=0.512, n_outl=2` in the robust correlation toolbox.

I would suggest replacing this line:
https://github.com/raphaelva

[2021-03-31 17:07] raphaelvallat commented on #164
Hi @adamnarai,

Thanks for looking into that! You were right, I have now updated the line and unit testing in this commit: ce7545df20cf787cadfe7c1bb2998c23240116ef

I will release a new version of Pingouin in the next couple of weeks.
Raphael

[2021-04-01 12:54] dboaretti opened #165 "Eps key error in Mixed model"
I have tried to compute a mixed model with

[code]
but it gives me:

[code]

I think the error is related to this line somehow https://github.com/raphaelvallat/pingouin/blob/master/pingouin/parametric.py#L1547 but I am not sure if it might be a compatibility issue with some other packages like pandas.

Thanks!

[2021-04-01 15:52] raphaelvallat commented on #165
Hi @dboaretti,

It's hard to know what's wrong without the data, but it seems that the repeated measures ANOVA is not correctly computed on your data. Could you therefore try to do a simple repeated measures ANOVA with: `pingouin.rm_anova(data=temp, dv=name, within='time', subject='Mouse_number', correction=False)`?

Could you also try enabling the correction with: `pingouin.mixed_anova(data=temp,

[2021-04-01 22:16] raphaelvallat commented on #162
Changes have now been reverted in bb83d84ae7f8d54b85ddceda4c5b82af5c2bdcf3

I am hoping to release a new version of Pingouin within the next week.

Thanks again,
Raphael

[2021-04-14 21:01] #165 closed

[2021-04-14 21:02] raphaelvallat commented on #163
Closing this issue but please feel free to reopen

[2021-04-14 21:02] #163 closed

[2021-04-14 21:07] raphaelvallat commented on #162
Closing this issue but please feel free to reopen.

[2021-04-14 21:07] #162 closed

[2021-04-14 21:08] raphaelvallat commented on #157
Closing this issue but please feel free to reopen

[2021-04-14 21:08] #157 closed

[2021-04-14 21:08] raphaelvallat commented on #134
Closing this issue but please feel free to reopen

[2021-04-14 21:08] #134 closed

[2021-04-15 09:30] dominikkraft commented on #162
works like a charm now in 0.3.11!
thanks again @raphaelvallat

[2021-04-19 20:51] zeydabadi opened #166 "problem with convergence in mixed_anova"
My dataframe has three groups, 6 subjects (channels), and 60 time-points per subject.
The first group has 15 time-points, the second has 30 time-points, and the third has 15 time-points, so the data is unbalanced.
[https://drive.google.com/file/d/14rW2cqfHsAaNplQzoPnHvmBFsZO5pYu-/view?usp=sharing](url)

I am running the following code:
`aov = pg.mixed_anova(dv='DFreq', within='Time', between='Grou

[2021-04-19 21:00] raphaelvallat commented on #166
Hi @zeydabadi,

Without seeing the data it's hard for me to know what is wrong, as I've never seen this error before. A few points though:

1. Can you try passing `pg.mixed_anova(..., correction=False`)?
2. Can you compute a simple between-group ANOVA (`pg.anova`), and then a repeated-measures ANOVA (`pg.rm_anova`) to check if they work?
3. Can you run the mixed ANOVA in  [JASP](https://jasp-stats

[2021-04-19 21:05] zeydabadi commented on #166
I have saved data in csv format and shared the link to it. Are you able to
download it?

On Mon, Apr 19, 2021, 5:00 PM Raphael Vallat ***@***.***>
wrote:

[2021-04-20 12:21] zeydabadi commented on #166
trying `pg.mixed_anova(dv='DFreq', within='Time', between='Group', subject='Channel', data=DFreq_df, correction=False)` throws this error `KeyError                                  Traceback (most recent call last)
~/.local/lib/python3.8/site-packages/pandas/core/indexes/base.py in get_loc(self, key, method, tolerance)
   3079             try:
-> 3080                 return self._engine.get_loc(ca

[2021-04-20 12:23] zeydabadi commented on #166
trying `pg.anova(dv='DFreq', between='Group', data=DFreq_df)` was successful and here is the output:
`=============
ANOVA SUMMARY
=============

Source      ddof1    ddof2      F    p-unc    np2
--------  -------  -------  -----  -------  -----
Group           2      357  2.682    0.070  0.015
`

[2021-04-21 18:28] raphaelvallat commented on #166
Hi @zeydabadi,

Got it. I think the issue is driven by the fact that you have 60 levels in your within-subject factor (which is way more than usual in typical ANOVAs) and this might be leading to errors when trying to calculate the [sphericity](https://pingouin-stats.org/generated/pingouin.sphericity.html) assumption. Instead of using a mixed ANOVA here, I think a much more adequate solution is to

[2021-04-21 20:16] zeydabadi commented on #166
Thanks Raphael, do you know any Python method for doing linear mixed model?

On Wed, Apr 21, 2021, 2:28 PM Raphael Vallat ***@***.***>
wrote:

[2021-04-21 20:34] raphaelvallat commented on #166
The two best options are probably:
- https://github.com/ejolly/pymer4
- https://www.statsmodels.org/stable/generated/statsmodels.regression.mixed_linear_model.MixedLM.html

[2021-04-23 14:42] #166 closed

[2021-04-23 14:48] raphaelvallat opened #167 "Refactoring of plot_blandaltman"
- [ ] Use a T instead of a normal distribution
- [ ] Add equations to documentation (from [Giavarina 2015](https://www.biochemia-medica.com/en/journal/25/2/10.11613/BM.2015.015))
- [ ] Add new example dataset from Giavarina 2015
- [ ] Add option to use x, y or mean(x, y) as the reference x-axis
- [ ] Add kwargs parameters for scatterplot
- [ ] Change default style (e.g. colors, trimming)
- [ ] (Op

[2021-05-02 09:05] mohammad2682 opened #168 "pairwise ttests error"
Dear Dr Vallat

I'm using your pleasant pingouin package for my thesis. I've made two dataframes in my work, one for VBM analysis and another for FDG-PET. in second one I got an error when I'm using pairwise-ttests module. I don't know what's the problem, while it works correctly when I'm using anova or pairwise-tukey modules on this dataframe. I'll appreciate it if you could help me to solve this

[2021-05-02 12:11] mohammad2682 commented on #168
after applying some corrections on data, I got below error:

AssertionError                            Traceback (most recent call last)
<ipython-input-18-9fef08e03b6f> in <module>
      3 test = test.replace(r'^\s*$', np.nan, regex=True)
      4 test[feature]=test[feature].astype(float)
----> 5 pairwise_ttests(dv=feature, between=['Group', 'SDB'], data=test, padjust='bonf', tail='one-sided')

~/D

[2021-05-02 18:00] raphaelvallat commented on #168
Hi @mohammad2682,

Does it work if you remove the `padjust='bonf'` and/or `tail='one-sided'`?

[2021-05-03 10:57] mohammad2682 commented on #168
no it doesn't.
actually after some investigating in detail, I figuered out this error happens because in one of groups, there is just one valid data sample and others are NaN. so dof and T-value become <=0 and NaN respectively.
I thought it would be useful to share this with other users.
thanks for your time

[2021-05-03 14:09] #168 closed

[2021-05-12 04:37] Shuming13 opened #169 "2 way anova does not work with input column names containing -, # or space"
Hi, thank you so much for your amazing work!

I've been trying to run this line for 2 way ANOVA:
`aov = data.anova(dv="size-average", between=["Media", "Line"], effsize="n2").round(3)`

And the error message I get is:
`PatsyError: Error evaluating factor: NameError: name 'size' is not defined`
`size-average ~ C(Media, Sum) * C(Line, Sum)`
`^^^^`

It works fine when I do one way ANOVA, but I start

[2021-05-12 05:12] GanshengT commented on #103
Thank you for your great work. I am already excited to see the new functionality. One of the assumptions of mixed_anova, 'homogeneity of variance-covariance matrices' is usually tested with the Box’s M test. In my opinion, implementing this test would make pingouin more complete. What are your thoughts?

[2021-05-12 15:38] raphaelvallat commented on #169
Hi @Shuming13,

It's because in the case of unbalanced two-way ANOVA, Pingouin relies on statsmodels and patsy, which are formula-based:

https://github.com/raphaelvallat/pingouin/blob/b369de9b8607e55061bc408e534e7d44443c744a/pingouin/parametric.py#L1139-L1147

Right now the workaround is to replace "-" by "_" in your variable name. In the future however, I think this can be fixed by doing (see ht

[2021-05-12 15:46] raphaelvallat commented on #103
Hi @GanshengT,

I agree that it would make a nice addition to Pingouin. Would you be able to open a new issue for that and/or submit a PR?

Thanks,
Raphael

[2021-05-13 13:00] GanshengT commented on #103
Yes. I will open a new issue. It might take some time for me to go through the structure of Pingouin before submitting a PR. I'll see to it.

[2021-05-13 13:06] GanshengT opened #170 "Add Box's M test"
Box’s M test can be used to verify an assumption of mixed ANOVA - **homogeneity of variance-covariance matrices**. It would be nice if we could add this to Pingouin. In my opinion, this function takes pandas.Dataframe as input and returns the statistics and p-value.

[2021-05-13 21:11] raphaelvallat commented on #170
Thanks for opening the issue. I agree that it would make a nice addition to Pingouin. For reference, a R implementation of this function can be found here: https://rdrr.io/cran/MVTests/man/BoxM.html, and mathematical formula can be found https://www.real-statistics.com/multivariate-statistics/boxs-test/boxs-test-basic-concepts/

[2021-05-16 18:55] Shuming13 commented on #169
Thank you so much!

[2021-05-21 15:35] anthonybritto opened #171 "t-test and p-value for partial and semi-partial correlation"
As per the documentation of the R package `ppcor` : https://dx.doi.org/10.5351%2FCSAM.2015.22.6.665, the correct degrees of freedom for the calculation of the t-statistic and p-values is _n - g- 2_ where _g_ is the  number of covariates.

I believe that the subtraction of _g_ from _df_ has not been implemented in `pingouin`, as the three screenshots below show.

Here, I simply pull the p-value fro

[2021-05-21 23:09] raphaelvallat commented on #171
Thanks @anthonybritto for spotting this critical issue. I need to fix this ASAP. Please see below for more details.

**The problem**

[pingouin.partial_corr](https://pingouin-stats.org/generated/pingouin.partial_corr.html) does not adjust the degrees of freedom by the number of covariates, which means that the p-value, confidence interval, power and Bayes factor are wrong. The correlation coeffici

[2021-05-22 09:00] mno-93 opened #172 "Different std. and statistics for pairwise t-tests when specifying "within"-factor"
I just wondered when I rechecked the "Condition" output of the
`pingouin.pairwise_ttests(dv = "Score" , between = "GROUP", within = "TIME", subject = "ID",  data = data, correction = True, return_desc = True)`
I compared it to `pinguin.pairwise_ttests(dv="Score", between="GROUP", data = data, correction = True, return_desc = True)`

This gave different results for the standard deviations and t-tes

[2021-05-22 12:51] alikaz3mi opened #173 "ANCOVA with more than one 'between' variable"
Hello. I am interested to know how to perform N-way ANCOVA with in pingouin. I am aware that pingouin has N-way ANOVA, but how about N-way ANCOVA?
Thank you in advance.

[2021-05-23 23:53] raphaelvallat commented on #173
Hi @alikaz3mi,

ANCOVA with more than one between-factor is not currently supported by Pingouin. However, it should be rather straightforward to do using either [statsmodels](https://www.statsmodels.org/stable/generated/statsmodels.stats.anova.anova_lm.html) or JASP:

Example code in statsmodels (not tested):

[code]

[2021-05-24 00:00] raphaelvallat commented on #172
Hi @mno-93,

When using a mixed design, Pingouin will automatically average across all levels of the within-subject factor before calculating the between-subject statistics. This is recommended to avoid violating the assumption of independence and conflating the degrees of freedom by the number of repeated measurements. You can disable this behavior by setting `pingouin.pairwise_ttests(..., margin

[2021-05-25 03:47] brettChapman opened #174 "Division by zero error"
Hi

I've been getting a division by zero error whenever I run either a bicor or pearson correlation with my data.

I've attached a slice of my dataset which creates the error. Looking at the data it isn't clear why it errors. It only falls over on the last column in the dataset. If I only include the first and last column it works fine so there's something weird going on.

When I run the same data

[2021-05-25 11:24] alikaz3mi commented on #173
Thank you for your help 🙏🙏

[2021-05-25 13:40] anthonybritto commented on #171
Your fixes look good, far as I can tell!

[2021-05-25 18:45] raphaelvallat commented on #174
Hi @brettChapman,

Could you share your data (you can also DM me privately on the [Gitter channel of Pingouin](https://gitter.im/pingouin-stats/Lobby)). Do you have any missing values in `X`? How many valid data points do you have? It seems that the sample size `nx` (= number of valid data points) of the correlation is zero, which leads to the division by zero error. This can happen if you have le

[2021-05-26 03:55] GanshengT commented on #170
After going through the R implementation of Box's M, I found that it is used in MANOVA (multivariate ANOVA) where there are multiple dependent variables.  The Box's M should be applicable for testing the homogeneity of covariances of the between-subject factor in mixed ANOVA design and testing the equality of covariance matrices for the dependent variables across groups in MANOVA.

[2021-05-26 04:10] raphaelvallat commented on #170
Thanks @GanshengT, unfortunately, MANOVA is not yet implemented in Pingouin. Would it be possible to do a generic implementation in which users directly pass the covariance matrices that they can test? (instead of a dataframe and grouping variable like the R implementation)

[2021-05-26 04:23] GanshengT commented on #170
This should be less exhausting. We just need to make sure the calculation is correct.

[2021-05-27 03:16] GanshengT commented on #170
I have made a pull request.

[2021-05-27 22:09] raphaelvallat opened #176 "Different CI based on tail and method in pingouin.corr"
In the R [correlation](https://github.com/easystats/correlation) package, the method used to calculate the confidence intervals around the correlation coefficient is dependent on the tail of the test (one-sided != two-sided) and the correlation type (i.e. different CI for Spearman and Kendall correlations, see https://rpubs.com/seriousstats/616206). It would be nice to add this to Pingouin.

The c

[2021-05-27 22:19] raphaelvallat commented on #171
@anthonybritto I just released a new stable version of Pingouin (v0.3.12) which fixes the p-value and confidence intervals of the partial correlation. Please see the full list of modifications here: https://pingouin-stats.org/changelog.html

- [X] P-value
- [X] Confidence intervals
- [ ] Statistical power (DISABLED)
- [ ] Bayes Factor (DISABLED)
- [ ] Adjusted R^2 (DISABLED)

[2021-05-28 02:46] brettChapman commented on #174
Hi Raphael

I uploaded the dataset in the same post above called 'test_example.csv'. I'll upload another one with the complete feature set called 'test_example_complete_set.csv'

I have no missing values. I imputed any missing values from the original dataset. For each feature I have 3 data points. This isn't ideal, but its all I have to work with. The original dataset had 3 samples per tissue and

[2021-05-28 03:12] brettChapman commented on #174
Just for reference the feature which appears to cause the error is 'Ca42952'. When I subset the data further the error goes away once all features down to that feature has been removed. If I drop that feature from the dataframe with the complete set of features, the error still occurs, so there are other features which cause the error too, and must have a similar range of values.

[2021-05-29 15:45] raphaelvallat commented on #174
Hi @brettChapman,

Because you only have 3 samples, the calculation of the 95%CI will fail no matter what since it will lead to a division by zero:

https://github.com/raphaelvallat/pingouin/blob/c7a074f532aa1e8e7968b08732797e255e8c6f5f/pingouin/effsize.py#L136

However, scipy.stats.pearsonr seems to allow a correlation with only two samples

https://github.com/scipy/scipy/blob/4ec4ab8d6ccc1cdb34b

[2021-05-31 02:03] brettChapman commented on #174
Hi @raphaelvallat

Thanks. If I subset the dataset enough and remove any problem features, I do get the CI calculated for other features, but most appear with [nan, 1] etc. Why this happens for some features and not others is a bit unclear.

Thanks, I'll try pingoin.rcorr() and see how that goes. I've routinely been using scipy.stats.pearsonr, and I tried moving to using pingouin because I wanted

[2021-05-31 08:20] sappelhoff commented on #136
based on how often this question comes up (also on gitter), it may be worthwhile to add a short check for `mixed_anova`: if more than one within or between factor are specified, a ValueError is raised, saying that this is not yet implemented, and pointing to this issue, asking for somebody to implement it :-)

[2021-06-01 05:52] malekpour-mreza opened #178 "Generalized Estimating Equations"
Hello,
Pingouin is just what statisticians needed in the Python environment, thanks for your great job. I believe the addition of generalized linear models, specifically Generalized Estimating Equations (GEE), can provide considerable added value. GEE can be used for panel, cluster, or repeated measures data when the observations are possibly correlated within a cluster but uncorrelated across clu

[2021-06-01 21:58] raphaelvallat commented on #178
Hi @malekpour-mreza,

This is partially related to https://github.com/raphaelvallat/pingouin/issues/103. I agree that it would make a nice addition to Pingouin, however:

1) Such models are already implemented in statsmodels, so we don't want to "reinvent the wheel" (see https://www.statsmodels.org/stable/glm.html).

2) This will require a considerable amount of time, which I currently do not have

[2021-06-02 23:52] #136 closed

[2021-06-03 19:17] garincle opened #180 "Confidence interval on pairwise_ttests"
Hello,
One of the reviewers of a paper that I am trying to publish is asking for the confidence interval on pairwise ttests performed with pingouin.
I know that we can get this info from ttest function, is there any particular reason why it is not enabled for pairwise t-test?
Do you know where I could get this info otherwise?
Thank you so much for your help!

[2021-06-03 20:16] garincle commented on #180
my apologies, I thought that pairwise_ttests was different from ttest but it is actually just the posthoc correction...
So I can use CI95%....
thank you anyway =)

[2021-06-03 20:16] #180 closed

[2021-06-22 21:03] JacobBaxley opened #181 "Errors for using N-way ANOVA"
I'm trying to use an N-way ANOVA on this data frame to collect the f values.
<img width="400" alt="df" src="https://user-images.githubusercontent.com/70708344/122997907-13fcd000-d372-11eb-99bd-a62b8c845cb3.png">

However when trying to use the function ANOVA I get the following error.
<img width="305" alt="error" src="https://user-images.githubusercontent.com/70708344/122998937-40fdb280-d373-11eb-

[2021-06-23 00:14] raphaelvallat commented on #181
Hi @JacobBaxley,

I think your ANOVA is ill-specified: you are doing a 4-way ANOVA with only one unique value for each unique subgroup (e.g. subgroup[donor = 10, total_concentration = 20, spin = 3000, additive = 2]: only one value in the dependent variable PCE). To calculate an ANOVA, you need at least >3 samples in each subgroup. Accordingly, only including one of the between factors in the ANOVA

[2021-06-24 20:53] #170 closed

[2021-06-24 23:29] #172 closed

[2021-06-24 23:30] raphaelvallat commented on #178
Closing for now but please feel free to reopen

[2021-06-24 23:30] #178 closed

[2021-06-25 15:06] raphaelvallat commented on #169
Done in https://github.com/raphaelvallat/pingouin/commit/ab5662b92ab730d50c430cf44703c4c2b62402fc

[2021-06-28 17:21] krassowski commented on #147
Perhaps multi-level correlations would be appropriate in this case? For example see https://easystats.github.io/correlation/articles/multilevel.html

As for the use of binary variables with semi-partial correlations in non-singular cases the R implementation returns reasonable p-value estimates, but pingouin can return a lot of false positives. I guess there must be some numerical issue in the cod

[2021-06-29 09:24] romquentin opened #182 "Looking for a mixed-anova with 3 factors"
Hello,
Thanks for the great package !
I am looking for a mixed-anova with 3 factors (2 within, 1 between). Is there a way to do that with pinguoin?
Would you know another python package if not?
Thanks a lot!
Romain

[2021-06-29 09:30] sappelhoff commented on #182
Hi @romquentin, it's unfortunately not possible right now, see: #136 #179

I personally used [rpy2](https://rpy2.github.io/doc/v3.4.x/html/index.html) and from there the R package "afex". See a code snippet below.

In that snippet I also install R packages from Python ... but I'd recommend installing them via conda (conda-forge channel) instead. you can also install R in your conda env via conda -

[2021-06-29 09:37] romquentin commented on #182
Very cool ! Thanks a lot @sappelhoff !!

[2021-06-29 18:51] raphaelvallat commented on #182
Thanks @sappelhoff for the code snippet! I'm leaving this issue open as I'm sure it will benefit other people.

For more complex ANOVA models, I also strongly recommend using [JASP](https://jasp-stats.org/). I don't have the time to implement such models right now, so unfortunately I don't think it will be implemented in Pingouin in a near future.

Thanks,
Raphael

[2021-06-29 18:54] raphaelvallat commented on #147
Hi @krassowski,

Can you provide here some example code/results of Pingouin and R? That would be really helpful.

Thanks

[2021-06-29 22:05] krassowski commented on #147
The data I have is ugly, but this is the real-world data.

[pingouin_repro.csv](https://github.com/raphaelvallat/pingouin/files/6736710/pingouin_repro.csv)

[code]

[code]

[code]

x | y | z
-- | -- | --
1.000000 | 0.063812 | 0.054962
0.063812 | 1.000000 | 0.374630
0.054962 | 0.374630 | 1.000000

I agree the data like would ideally be analysed differently, but in real world this is just a subset o

[2021-06-29 22:11] krassowski commented on #147
Let's consider a simpler case:

[code]

[code]

Pingouin:

[code]

n | r | CI95% | p-val
-- | -- | -- | --
781 | 0.185361 | [0.12, 0.25] | 1.850181e-07

ppcor:

[code]

estimate | p.value | statistic | n | gp | Method
-- | -- | -- | -- | -- | --
-0.035959 | 0.31586 | -1.003649 | 781 | 1.0 | spearman

[2021-06-30 22:24] raphaelvallat commented on #147
Thanks @krassowski. I'm re-opening this issue for visibility.

Pingouin and ppcor uses very different strategies for calculating the partial correlation coefficient. Pingouin follows the traditional definition, which is a correlation between the residuals of a linear regression (on the ranks [in the case of a Spearman partial correlation](https://imaging.mrc-cbu.cam.ac.uk/statswiki/FAQ/partsp)). P

[2021-07-02 09:19] krassowski opened #183 "RuntimeWarning: divide by zero encountered in arctanh for spearman correlation"
Running perfect correlation results in two warnings which seem spurious in this context:

[code]

. | n | r | CI95% | p-val | power
-- | -- | -- | -- | -- | --
spearman | 1000 | -1.0 | [-1.0, -1.0] | 0.0 | 1.0

Warnings:

[code]

Disabling these warnings would be especially useful for demonstrating various concepts using pingouin (and not scaring students with a wall of red text).

[2021-07-02 10:10] krassowski commented on #147
We can perform a simulation to see what are the rates of rejections when holding `x` and `y` constant (randomly generated with `seed = 0`) while randomly changing `z`:

[code]

## `pingouin` in Python

### Pearson in `pingouin`

For `pearson` all looks fine:

[code]

[code]

### Spearman in `pingouin`

But for `spearman` we get a lot of rejections, and the estimates are all over the place:

[code]

[2021-07-02 10:23] krassowski commented on #147
We can conclude that the estimates and p-values for spearman with binary values are wrong for a certain definition of wrong:
- they are different than in `ppcor`
- they produce way more rejections than we would expect
- they produce wrong estimates (for generated data median of `r = 0.04` would be expected, but we get as many positive as negative coefficients almost an order of magnitude greater i

[2021-07-02 16:24] raphaelvallat commented on #183
Hi @krassowski,

That's a good point. In fact, we could just skip [these two lines](https://github.com/raphaelvallat/pingouin/blob/ab5662b92ab730d50c430cf44703c4c2b62402fc/pingouin/correlation.py#L585) in the case of a perfect correlation, i.e.:

[code]

[2021-07-02 16:41] raphaelvallat commented on #147
Thanks for this exhaustive test @krassowski! Two options indeed:

1) Return a warning (or even error) when users run a Spearman partial correlation with at least one binary variable. We'll also have to check if this affects other robust correlation methods (e.g. bicor, percbend, skipped).

2) Rewrite the [pg.partial_corr](https://pingouin-stats.org/generated/pingouin.partial_corr.html) function to

[2021-07-14 00:21] jackransomlovell opened #184 "ValueError with large dataset"
I have a large dataset of 500k rows and 74 columns. Whenever I try to use a pairwise partial correlation I get the following error:
[code]

This is even with 12 cores running, is there any way to resolve this or is the pairwise correlation with a covariate just not compatible with a large dataset? pcorr() and pairwise_corr() work as methods on the dataframe.

[2021-07-14 00:30] raphaelvallat commented on #184
Hi @jackransomlovell,

Interesting.. I've never ran into this issue, do you have NaN values in one or more of your columns? I'm not sure this is a performance issue, as I think NumPy should be able to handle a least-square regression with 500k data points on most modern computers. Can you try running the partial correlation only with a subset of column instead of the whole dataframe? Maybe the err

[2021-07-14 22:28] jackransomlovell commented on #184
Yes, there are quite a few NaN's in the form np.nan. When I use ```nan_policy = 'listwise'``` I get an error saying something related to needing more than 3 datapoints. I think I have tried it with just a subset and I was getting the same error. I will send the exact behavior later.

[2021-07-14 22:31] raphaelvallat commented on #184
@jackransomlovell

So my guess is that you have one or more invalid columns, either with too many missing values or with identical values that lead to the error. I would therefore run the correlation on subset of features until you can identify the problematic features.

Thanks,
Raphael

[2021-07-14 23:31] jackransomlovell commented on #184
Thanks Raphael,

A lot of the columns are binary, i.e. 1/0 float64. Would this raise such an
error? If so how would I make them valid?

On Wed, Jul 14, 2021 at 4:31 PM Raphael Vallat ***@***.***>
wrote:

[2021-07-15 00:00] jackransomlovell commented on #184
I see the flaw in my thinking. I have been trying to compute pairwise
correlations between a column of continuous values and a bunch of other
binary variables. Is this not possible with numpy's linalg module?

On Wed, Jul 14, 2021 at 5:30 PM Jack Ransom Lovell ***@***.***>
wrote:

[2021-07-16 03:29] raphaelvallat commented on #184
@jackransomlovell I don't think that the binary variables are the issue -- although using partial correlation with binary dependent variables is not ideal (as discussed in https://github.com/raphaelvallat/pingouin/issues/147). Do you have any np.inf in your data? This seems to be the most likely explanation (see https://github.com/statsmodels/statsmodels/issues/5396).

As an action item for Pingou

[2021-07-16 03:52] #181 closed

[2021-07-16 19:23] raphaelvallat commented on #147
FYI I have just pushed a commit on the develop branch (81d1aafa0826c34e3ce8ed499a87ae5ad86843d1) to re-implement the partial correlation using the same method as ppcor:

https://github.com/raphaelvallat/pingouin/blob/81d1aafa0826c34e3ce8ed499a87ae5ad86843d1/pingouin/correlation.py#L781-L822

We're now getting exactly the same results as ppcor for partial/semi-partial correlations (either Pearson o

[2021-07-16 19:24] raphaelvallat commented on #171
FYI I have just pushed a commit on the develop branch (81d1aafa0826c34e3ce8ed499a87ae5ad86843d1) to re-implement the partial correlation using the same method as ppcor:

https://github.com/raphaelvallat/pingouin/blob/81d1aafa0826c34e3ce8ed499a87ae5ad86843d1/pingouin/correlation.py#L781-L822

We're now getting exactly the same results as ppcor for partial/semi-partial correlations (either Pearson o

[2021-07-17 19:01] adamnarai commented on #164
Hi @raphaelvallat,

I still found some differences in the number of outliers between the two implementations when applied on real data (even 5 vs. 1 outlier in one case). As an example, using the following values in the unit test (line 18):
[code]
I get `r=0.512, n_outl=2` in pingouin and `r=0.418, n_outl=1` in the robust correlation toolbox.
I suspect the difference is in the MCD estimator implem

[2021-07-17 23:20] raphaelvallat commented on #164
Hi @adamnarai,

Re-opening this issue for visibility.

You're right, I just checked the output of MCD with the example you provide and Matlab returns: `center = [3.8123, 5.7939]` while in Python `MinCovDet().fit(X).location_ = [3.78007729, 5.88216227]`. As explained in https://github.com/scikit-learn/scikit-learn/issues/4682, this is because sklearn scales by **_N_** and not by **_N-1_** (the latt

[2021-07-17 23:30] raphaelvallat commented on #164
I just pushed a commit with these changes on the develop branch if you want to try it out on real-world data: f2deb57b34f2dd7bb625ca30ccc93a2db3059bce

[2021-07-18 19:44] adamnarai commented on #164
Hi @raphaelvallat,

I think the normalization only affects the covariance and not the location and there is something else causing this difference. I will try to look more into it if my time allows.

By using the `fast_mcd()` function directly we basically get the estimate without re-weighting, which is the same as `MinCovDet().fit(X).raw_location_=[3.81101474, 5.81656632]`
As an example, using yo

[2021-07-18 20:35] raphaelvallat commented on #164
@adamnarai  Ah, you're absolutely right, my bad. I've just tried with the following (inspired from [sklearn](https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/covariance/_robust_covariance.py#L674-L762)):

[code]

But I still get the same center values as sklearn.MinCovDet, meaning that indeed the normalization has no effect on the location. I'm rev

[2021-07-18 20:49] raphaelvallat opened #185 "Deprecate tail='one-sided' and rename to alternative"
Since SciPy 1.6, several functions in [scipy.stats](https://docs.scipy.org/doc/scipy/reference/stats.html) accept `alternative="two-sided"` (or "greater" or "less"). To be consistent with these changes, I propose to:

1) In all relevant functions, rename the `tail` argument to `alternative` (similar to SciPy and R)

2) In all relevant functions, remove the option to pass `tail="one-sided"` (which

[2021-07-18 20:55] raphaelvallat commented on #185
Once these changes are implemented, we can add tail-specific confidence intervals for correlation (in [pingouin.compute_esci](https://pingouin-stats.org/generated/pingouin.compute_esci.html)), see https://github.com/raphaelvallat/pingouin/issues/176:

[code]

[2021-07-19 12:44] adamnarai commented on #164
I agree, at this point that's the best we can realistically do.

For future reference:
The `fast_mcd()` function seems to give the same center values as the Matlab `mcdcov()` `raw.center`, however, the other outputs are different, even when using the same covariance normalization and the same `support_fraction` parameter.

Best,
Adam

[2021-07-19 19:07] raphaelvallat commented on #164
Warning added in e56df016966f34c9d2f7cca882e84382dcff4d2d. This will be included in the next stable release of Pingouin.

Thanks again for looking into this,
Raphael

[2021-07-19 21:05] thomas-haslwanter opened #186 "Wilcoxon signed rank sum for univariate comparison to fixed value"
Currently the Wilcoxon test is implemented only for a paired test.
I think it would be very helpful also to implement it for comparison of a not-normally distributed sample to a fixed value, similar to
scipy.stats.wilcoxon

[2021-07-20 07:56] anthonybritto commented on #171
@raphaelvallat Thanks for keeping me updated. I see that you have updated the p-value calculation to use the beta-distribution: I am not familiar with this approach, so I'm afraid I can't comment. If you are however reproducing the `ppcor` results, I should reiterate that I believe that the p-value of the semi-partial correlation is incorrect. For the record, I attach a preprint of the communicati

[2021-07-20 08:21] thomas-haslwanter commented on #186
Attached a piece of code. IMPORTANT: pingouin gets the same W-value, but a different p-value! Please check
``
import numpy as np
from scipy import stats
import pingouin as pg

offset = 5

data = np.random.randn(100) + offset

stats.wilcoxon(data-offset)
Out[4]: WilcoxonResult(statistic=2440.0, pvalue=0.7700896655852555)

pg.wilcoxon(data, offset * np.ones_like(data))
Out[5]:
           W-val

[2021-07-20 15:39] raphaelvallat commented on #186
Hi @thomas-haslwanter,

The difference in p-value is caused by the fact that Pingouin automatically applies a correction for non-uniformity (as explained in the documentation of the function):

[code]

Got it for the proposed change, should be pretty straightforward to implement. I'll work on this for the next release 👍

Thanks,
Raphael

[2021-07-26 01:07] fireddd commented on #65
Hi @raphaelvallat , this is a very interesting library that i have come across. I have some background in stats and data analytics. Can you guide me how to approach this?

[2021-07-26 16:51] raphaelvallat commented on #65
HI @fireddd,

If you wish, you can submit a PR to implement the Bayes Factors for simple one-way ANOVA. The output should be similar to the [anovaBF](https://rdrr.io/rforge/BayesFactor/man/anovaBF.html) of the BayesFactor R package. I believe the Bayes factor can also be calculated directly from the F statistic: https://rdrr.io/rforge/BayesFactor/man/oneWayAOV.Fstat.html

Thanks,
Raphael

[2021-07-28 12:21] YuliaGaz commented on #184
Hi! I have the same error from rm_corr(data, x, y, subject) and my dataset certainly has no NaN or inf.
x and y are integers from 0.0 to 7.0

[2021-07-28 16:19] raphaelvallat commented on #184
Hi @YuliaGaz,

Could you please provide a screenshot of the exact error as well as the code / dataset required to reproduce the error? (If this is sensitive data, feel free to DM me the data on [Gitter](https://gitter.im/pingouin-stats/Lobby)).

Thanks,
Raphael

[2021-07-29 12:58] YuliaGaz commented on #184
Hi @raphaelvallat,
My data is sensitive so I shared it with you through Gitter
Here I also attach a screenshot with the exact error
![for_github](https://user-images.githubusercontent.com/88091115/127495352-39528666-4c68-40be-929b-8db39d36948b.png)

As I said my data has no NaN or inf values. My colleague offered a way to work around this error by adding tiny noise to one or both of measured value

[2021-07-29 22:05] raphaelvallat commented on #184
Hi @YuliaGaz,

I have just looked at the data and it's because one of your subject (119) only has one time point, thus leading to an invalid linear regression with a single pair of (x, y) in [numpy.polyfit](https://numpy.org/doc/stable/reference/generated/numpy.polyfit.html). Accordingly, removing this subject solves the issue:

[code]

Action items:

- [ ] pingouin.rm_corr should check that the n

[2021-07-30 07:13] YuliaGaz commented on #184
Hi @raphaelvallat,
Thank you for your very fast feedback!
You are right. However, this dataset was just a piece of my main dataset: I have chosen a small subset which still gives the same error. And unfortunately this subset has one subject with only 1 row. But my main dataset gives the same error and all subjects there have more than 1 unique rows. I have sent the full dataset to you in Gitter.

[2021-07-30 17:41] raphaelvallat commented on #184
HI @YuliaGaz,

Thanks for sharing. You're right, what's happening is that for at least one of your subjects, all the values in `value_1` or `value_2` are 0, which leads to a LinAlg error in numpy.polyfit. There's no such error in the R package because it uses a different, more efficient approach to calculate the ANCOVA/linear regression that can handle such cases. I've implemented the ANCOVA funct

[2021-07-31 16:22] balandongiv opened #187 "Diffrence Normality result between pingouin and SPSS"
I run a comparison for the `Normality` both in pingouin and SPSS.

However, I notice, the result produced between these two platform are different

with `pingouin`

Table for `int`
[code]
with index 1,2,3 denote int_1, int_2, int_3, respectively
Table for `cond`
[code]
with index 1,2,3 denote cond_1, cond_2, cond_3, respectively
Whereas, `SPSS` produce the following

![Snap 2021-08-01 at 00 11 36]

[2021-08-01 17:42] raphaelvallat commented on #187
Hi @balandongiv,

A few questions:

1. For safety, can you please share your data in CSV format and not XLSX? Thanks
2. I do not have a license for SPSS, have you tried with JASP or R?
3. Do you have missing values in your data? Pingouin will automatically remove those.
3. Pingouin uses [scipy.stats.shapiro](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.shapiro.html) to calculat

[2021-08-02 02:10] balandongiv commented on #187
Thanks for prompt reply @raphaelvallat

1. I have update the folder to include csv. ext
2. I have not tried neither JASP or R as Im not familiar with these two plaform
3. There were no missing value.

[2021-08-03 04:21] raphaelvallat commented on #187
Hi @balandongiv,

Why do you use "condition" (which is a categorical) as the dependent variable? When I use `pow_freq_bands_ch0_band0` as the dependent variable:

[code]

 I get the following output:

![image](https://user-images.githubusercontent.com/25703792/127957042-cf181674-ed16-45d8-8a06-f21e6de2ee18.png)

You can see that the W and p-values are all consistent with SPSS, despite some minor d

[2021-08-03 06:42] YuliaGaz commented on #184
Thank you Raphael!
I like your package very much and I hope that it will be even cooler in future

Best wishes,
Yulia

[2021-08-03 06:59] balandongiv commented on #187
Thanks for validating the SPSS/pingouin output @raphaelvallat . Clearly I had made major mistake when posting this issue.

[2021-08-03 06:59] #187 closed

[2021-08-04 07:33] balandongiv opened #188 "descriptive statistic when executing pairwise comparison"
In version `0.3.12`,pairwise_ttests does not return the `descriptive statistic`  between within-subject factor.

May I know whether `pingouin` have any build-in function to return `descriptive statistic`  such as 'mean` and `std` for the between within-subject factor. in a reported form,

![Snap 2021-08-04 at 15 23 31](https://user-images.githubusercontent.com/22090092/128140445-7acdd0f8-5d1c-4d88

[2021-08-04 07:42] #188 closed

[2021-08-05 13:28] jackransomlovell commented on #184
Hi all,

I think the problem I am facing has to deal with participants only have 0
for some columns as well. I'll try to investigate a solution. Thanks for
the help

Jack

On Tue, Aug 3, 2021 at 2:42 AM Yulia Gazizova ***@***.***>
wrote:

[2021-08-05 17:39] raphaelvallat commented on #184
Hi @jackransomlovell,

The next release of Pingouin will include a major refactoring of the partial correlation function (see [commit](https://github.com/raphaelvallat/pingouin/commit/81d1aafa0826c34e3ce8ed499a87ae5ad86843d1)) which should, I believe, work even when the data has only zero. If you're familiar with Git, could you clone Pingouin, switch to the develop branch and re-try your code agai

[2021-08-05 18:01] jackransomlovell commented on #184
Sure, I am out right now but will check when I get back. Thank you for
pushing your developments!

On Thu, Aug 5, 2021 at 1:39 PM Raphael Vallat ***@***.***>
wrote:

[2021-08-05 20:16] jackransomlovell commented on #184
Tested it on the develop branch and got the following error:

ValueError: array must not contain infs or NaNs

On Thu, Aug 5, 2021 at 2:01 PM Jack Ransom Lovell ***@***.***>
wrote:

[2021-08-05 20:16] jackransomlovell commented on #184
There is a large number of NaNs within the dataset, but shouldn't that be
taken care of?

On Thu, Aug 5, 2021 at 4:15 PM Jack Ransom Lovell ***@***.***>
wrote:

[2021-08-05 21:22] raphaelvallat commented on #184
Could you take a screenshot of the error?

That's surprising because NaN should be automatically removed:

https://github.com/raphaelvallat/pingouin/blob/e56df016966f34c9d2f7cca882e84382dcff4d2d/pingouin/correlation.py#L788-L792

[2021-08-05 21:49] jackransomlovell commented on #184
I agree, maybe I was not checkouted in the right repo when I called pip
install. but here is the error, I suspect I did install the right version
as scipy is being used instead of numpy...

[image: image.png]

On Thu, Aug 5, 2021 at 5:23 PM Raphael Vallat ***@***.***>
wrote:

[2021-08-05 22:01] jackransomlovell commented on #184
Rebuilt and now it is working! Thank you so much Raphael! Just want to
confirm, correlating a continuous with a binary measure (1,0) is
statistically sound if the data type is just an integer, right?

[image: image.png]

On Thu, Aug 5, 2021 at 5:49 PM Jack Ransom Lovell ***@***.***>
wrote:

[2021-08-05 23:22] raphaelvallat commented on #184
Hi @jackransomlovell,

Great to hear! Yeah that will work, though it might be more meaningful to perform a T-test to compare the two groups instead of a correlation.

[2021-08-06 01:40] raphaelvallat commented on #186
Added in d94ee0a8da7ba8106b5149b5b40ffdd40678642a

[2021-08-07 17:37] raphaelvallat commented on #185
Done in b64208a888952e6ea01e4dd19bb1eb4655c30b28

[2021-08-07 17:38] raphaelvallat commented on #176
Added tail-specific CI in b64208a888952e6ea01e4dd19bb1eb4655c30b28

[2021-08-12 00:58] raphaelvallat opened #189 "Use scipy.stats.bootstrap in pingouin.compute_bootci"
[pingouin.compute_bootci](https://pingouin-stats.org/generated/pingouin.compute_bootci.html) could leverage the newly-added [scipy.stats.bootstrap](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.bootstrap.html) function (SciPy 1.7.0+) to calculate the bootstrapped confidence intervals.

**Pros**

- SciPy implements the bias corrected and accelerated percentile method ("BCa"), whi

[2021-08-13 18:02] raphaelvallat commented on #186
This has been released in the new stable version of Pingouin ([v0.4.0](https://github.com/raphaelvallat/pingouin/releases/tag/v0.4.0)). Please make sure to upgrade with `pip install --upgrade pingouin`.

Thank you -- closing the issue.

[2021-08-13 18:02] #186 closed

[2021-08-13 18:02] raphaelvallat commented on #185
This has been released in the new stable version of Pingouin ([v0.4.0](https://github.com/raphaelvallat/pingouin/releases/tag/v0.4.0)). Please make sure to upgrade with `pip install --upgrade pingouin`.

Closing the issue.

[2021-08-13 18:02] #185 closed

[2021-08-13 18:03] raphaelvallat commented on #183
This has been included in the new stable version of Pingouin ([v0.4.0](https://github.com/raphaelvallat/pingouin/releases/tag/v0.4.0)). Please make sure to upgrade with `pip install --upgrade pingouin`.

Thanks,
Closing the issue.

[2021-08-13 18:03] #183 closed

[2021-08-13 18:03] raphaelvallat commented on #184
This has been fixed in the new stable version of Pingouin ([v0.4.0](https://github.com/raphaelvallat/pingouin/releases/tag/v0.4.0)). Please make sure to upgrade with `pip install --upgrade pingouin`.

Thanks,
Closing the issue.

[2021-08-13 18:03] #184 closed

[2021-08-13 18:05] raphaelvallat commented on #169
This has been fixed in the new stable version of Pingouin ([v0.4.0](https://github.com/raphaelvallat/pingouin/releases/tag/v0.4.0)). Please make sure to upgrade with `pip install --upgrade pingouin`.

Thanks,
Closing the issue.

[2021-08-13 18:05] #169 closed

[2021-08-13 18:05] raphaelvallat commented on #164
The warning has been included in the new stable version of Pingouin ([v0.4.0](https://github.com/raphaelvallat/pingouin/releases/tag/v0.4.0)). Please make sure to upgrade with `pip install --upgrade pingouin`.

Thanks,
Closing the issue.

[2021-08-13 18:05] #164 closed

[2021-08-13 18:06] raphaelvallat commented on #147
This has been included in the new stable version of Pingouin ([v0.4.0](https://github.com/raphaelvallat/pingouin/releases/tag/v0.4.0)). Please make sure to upgrade with `pip install --upgrade pingouin`.

Thanks,
Closing the issue.

[2021-08-13 18:06] #147 closed

[2021-08-13 18:08] raphaelvallat commented on #176
The tail specific CI been included in the new stable version of Pingouin ([v0.4.0](https://github.com/raphaelvallat/pingouin/releases/tag/v0.4.0)). Please make sure to upgrade with `pip install --upgrade pingouin`.

For now, I think we'll keep the same method to calculate the 95%CI  for Pearson, Spearman or Kendall correlations. I'm therefore closing this issue but please feel free to reopen.

[2021-08-13 18:08] #176 closed

[2021-08-16 10:23] CrafterKolyan commented on #147
Will there be an implementation for `kendall` correlation (there is in `ppcor`)?
Or is it just a small error that here
https://github.com/raphaelvallat/pingouin/blob/81d1aafa0826c34e3ce8ed499a87ae5ad86843d1/pingouin/correlation.py#L750-L751
we just need to add `'kendall'` to a list?

[2021-08-17 21:04] raphaelvallat commented on #147
@CrafterKolyan the Kendall partial correlation is not supported. To implement it, we need to:

1. Calculate the _Kendall_ covariance matrix (R code [here](https://stat.ethz.ch/R-manual/R-devel/library/stats/html/cor.html)) — though I'm not sure how it is difference from a regular covariance matrix (?)
2. Update the calculation of the statistic and p-value as in ppcor:

https://github.com/cran/ppco